/* BASIC SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

#main {
    background-image: url(./image/bg-body.png);
    background-repeat: repeat;
}

/* REUSABLES */
.title {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.title-sm {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


/* HEADER */
header {
    background-color: #241b18;
    border-bottom: 1px solid #fff;
}

.navbar {
    background-color: #241b18;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ffc947 !important;
}

/* TOPIC */
#topic {
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff
}

#topic-text {
    background-image: url(./image/bg-grey.jpg);
    background-size: cover;
    padding: 0 55px;
    padding-top: 65px;
}

#topic .h1 {
    color: #241b18;
    text-shadow: 1px 1px #fff;
    text-transform: uppercase;
}

#topic-text p {
    line-height: 2;
}

.price-tag {
    right: 30px;
    bottom: 30px;
}

.price-tag span {
    color:#966a03;
    font-size: 14px;
    bottom: 5px;
    right: 4px;
}

.price-tag span:hover {
    color: #a5906b;
}
.price {
    font-size: 28px;
    line-height: 0.8;
}

/* ROOMS */
.room-text {
    background-color: #4b3a33;
    background-image: url(./image/separator-light.png);
    background-repeat: repeat-x;
    padding: 15px;
}

.bg-dark-brown {
    background-color: #241b18;
}

.room-text .title {
    color: #ffc947;
    text-transform: uppercase;
}

.room-text p {
    color: #fff;
    margin-bottom: 0;
}

/* CONTACT */
#contact {
    /* background-color: #fff; */
    background-image: url(./image/separator-light-vertical.png);
    background-repeat: repeat-y;
    background-position: right top;
}

#contact .title-sm {
    color:#7b7b7b;
}

.contact-text {
    color: #241b18;
    font-size: 28px;
}

/* BLOG */
/* #blog {
    background-color: #fff;
} */

.blog-item .title-sm {
    color:#7b7b7b;
    font-size: 16px;
}

.media {
    background-color: #dddad3;
}

.media-body > small, .media-body > div, .media-body > a {
    color: #241b18;
}

.media-body > div, .media-body > a {
    font-size: 14px;
}

/* FOOTER */
.footer {
    background: #e2b241;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.5);
    border-top: 1px solid #fff;
}

.footer-item {
    background-image: url(./image/separator-dark-vertical.png);
    background-repeat: repeat-y;
    background-position: right top;
}

.footer .title-sm {
    color: #241b18;
    padding-bottom: 15px;
}

.footer-text {
    color: #4b3a33;
    font-size: 80%;
    padding-bottom: 15px;
}

.footer-item a {
    color: #4b3a33;
    font-size: 80%;
}

.footer-item .media {
    background: transparent;
}

.footer-date {
    background-color: #4b3a33;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 1;
    padding: 10px;
}

#newsletter-social {
    background: transparent;
}

#newsletter {
    background-image: url(./image/separator-dark.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#newsletter form input {
    border: 3px solid #af8112;
    color: #4b3a33;
    font-size: 80%;
    padding: 5px;
    width: 100%;
}

#newsletter form span:hover {
    color: #e2b241;
}

#newsletter form span {
    top: 0;
    left: 15px;
}

#social a {
    font-size: 40px;
    padding-right: 15px;
}

#social a:hover {
    color: #241b18;
}

#copyright-footer_nav{
    background-image: url(./image/separator-dark.png);
    background-repeat: repeat-x;
    background-position: top;
    color: #ae7f11;
    font-size: 14px;
}


.footer-nav {
    justify-content: flex-end;
}

.footer-nav a {
    color: #ae7f11;
}

.footer-nav a:hover {
    color: #241b18;
}

/* MEDIA QUERY */
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .media {
        margin-bottom: 15px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .media-body {
        padding-right: 0;
    }

    .copyright {
        justify-content: center;
    }

    .footer-item {
        background: transparent;
    }

    .footer-nav {
        justify-content: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .copyright {
        font-size: 14px !important;
    }
}