body{
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}
#main{
  padding: 0;
}
#Header{
  background-color: #241B18;
  border-bottom: 1px #fff solid;
  padding: 20px;
}
#logo{
  text-align: center;
  text-transform: uppercase;
}
#logo h3{
  color: #FFC947;
}
#logo p{
  color: #fff;
  font-size: 16px;
}
#menu{
  float: left;
}
#menu ul{
  text-align: center;
  margin: 30px 10px 20px 10px;
}
#menu ul li{
  display: inline-block;
  padding: 0 15px 0 15px;
  text-decoration: none;
}
#menu ul li a{
  color: #fff;
}
#menu a:hover{
  color: #FFC947;
  text-decoration: none;
}
#containbg{
  background-image: url("../img/bg.jpg");
}
#contain{
  width: 75%;
  margin: auto;
}
#top{
  border: 1px #fff solid;
  background-image: url("../img/banner_bg.jpg");
  background-size: cover;
}

#topleft{
  padding: 0px;
}
#topleft img{
  width: 100%;
}
#topright{
  padding: 0px 50px 0px 50px;
}
#topright h1{
  text-align: center;
  line-height: 40px;
  padding: 30px 0 10px 0;
}
#topright p{
  line-height: 30px;
}
#mid{
  background-color: #4b3a33;
}
#living{
  padding: 0;
}
#bedroom{
  padding: 0;
}
#kitchen{
  padding: 0;
}
.midimg img{
  width: 100%;
}
.midp{
  border-top: 4px #FFC947 dotted;
  padding: 0 20px 30px 20px;
}
.midp h3{
  color: #FFC947;
  font-size: 18px;
}
.midp p{
  color: #fff;
}
#but{
  background-color: #fff;
  box-shadow: 0 -5px 15px -5px #000 inset;
}
#butifm{
  padding: 20px;
  border-right: 4px #FFC947 dotted;
}
#butifm h2{
  font-size: 24px;
  padding-bottom: 10px;
}
#butblog{
  padding: 20px;
}
#butblog h3{
  font-size: 18px;
}
#blogifm{
  width: 25%;
  height: 150px;
  background-color: #E8E8E8;
  padding: 10px;
}
#blogifm h4{
  margin: 20px 0 20px 0;
}
#blogifm a{
  color: #FFC947;
  text-shadow:0px 0px 5px #000;
}
#blogimg1 {
  padding: 0;
  width: 25%;
  height: 150px;
  background-image: url("../img/b1.jpg");
  background-repeat: no-repeat;
}
#blogimg2{
  padding: 0;
  width: 25%;
  height: 150px;
  background-image: url("../img/b2.jpg");
  background-repeat: no-repeat;
}
#footer{
  background-color: #FFC947;
}
#footer h4{
  font-size: 16px;
  font-weight: bold;
}
#footeralin{
  width: 82%;
  padding-top: 20px;
}
#footerleft{
  padding: 20px;
}
#footerleft img{
  width: 100%;
  padding: 10px 0 10px 0;
}
#footerleft a{
  color: #FFF845;
  text-shadow: 0px 0px 5px #000;
}

#footermid{
  padding-top: 20px;
  border-left: 4px #B27400 dotted;
  border-right: 4px #B27400 dotted;
}
.post{
  margin: 40px 10px 40px 10px;
}
.date{
  width: 50px;
  height: 50px;
  padding-top: 5px;
  background-image: url("../img/calender.png");
  background-size: cover;
  background-origin: border-box;
  color: #fff;
  text-align: center;
  position: absolute;
}
.postifm{
  margin-left: 60px;
  position: relative;
}
.postifm h5{
  font-size: 18px;
}
.postifm p{
  font-size: 14px;
}

.righttop{
  padding: 20px;
  border-bottom: 4px #B27400 dotted;
}
input{
  width: 100%;
  border: 3px #B27400 solid;
}
.rightbut{
  padding: 20px;
}
#author{
  padding: 10px;
  color: #4B3A33;
  border-top: 4px #B27400 dotted;
}
#author a{
  color: #4B3A33;
  font-weight: bold;
}
#author a:hover{
  color: #fff;
  text-decoration: none;
}
#author ul{
  float: right;
}
