* {
  /* outline: solid red 1px; */
  font-family: "Roboto Flex", "Montserrat", sans-serif;
}

body {
  min-width: 375px;
}

/* header */

.header {
  background-color: #241b18;
  border-bottom: 2px solid #fff;
}

.header .bg-light {
  --bs-bg-opacity: 0;
}

.header .navbar {
  text-transform: uppercase;
  font-weight: bolder;
}

.header h1 {
  flex: 1 1 0;
}

.header h1 a {
  width: 100%;
}

.header button span {
  height: unset;
  width: unset;
}

header button svg {
  height: 40px;
  width: 40px;
}

header button path {
  stroke: #f7c947;
}

.header .navbar-toggler:focus {
  box-shadow: 0 0 0 0rem;
}

.header .navbar-toggler-icon {
  background: unset;
}

.header .collapse {
  flex-grow: unset;
}

.header .navbar-nav .nav-link.active {
  color: #f7c947;
}

.header .navbar-nav .nav-link {
  color: #ffffff;
  transition: unset;
  position: relative;
  padding: 16px 0;
  z-index: 2;
}

.header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.header .nav-link.active:hover {
  color: #f7c947;
}

.header .nav-link:hover:before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 120%;
  transform: translate(-10%, 0%);
  background: url(img/separator-light.png);
  background-repeat: repeat-x;
  background-position: 0px 18px;
}

.header .navbar-collapse {
  padding: 0 16px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  width: 100%;
  background: #241b18b0;
}

@media screen and (min-width: 768px) {
  .header h1 a {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .header .nav-link + .nav-link {
    margin-left: 24px;
  }

  .header .navbar-collapse {
    position: unset;
    width: unset;
    background-color: unset;
  }

  .header .nav-link {
    position: relative;
    z-index: 1;
  }

  .header .container .nav-link:hover {
    color: #241b18;
  }

  .header .container .nav-link:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 40px;
    border-radius: 50%;
    background-color: #f7c947;
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .header .nav-link + .nav-link {
    margin-left: 36px;
  }
}

@media screen and (min-width: 1400px) {
  .header .nav-link + .nav-link {
    margin-left: 48px;
  }
}

/* main */

.main {
  background-image: url("img/bg-body.png");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat-y;
}

.main .container {
  background-color: #fff;
  position: relative;
}

.main .container::after {
  content: "";
  position: absolute;
  transform: rotate(180deg);
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #d1d1d1, #ffffff 20px);
}

.main .introduction {
  border: 2px solid #fff;
  border-top: unset;
}

.main .main-products {
  border: 2px solid #fff;
  border-top: unset;
}

@media screen and (min-width: 992px) {
  .main .introduction {
    border-left: unset;
  }

  .main .main-products {
    border-right: unset;
  }
}

/* main-products */

.main-products figcaption {
  right: 20px;
  bottom: 12px;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  color: #030303;
}

.main-products p {
  margin-bottom: 0;
  /* width: 100px; */
}

.main-products__name {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.2em;
}

.main-products__price {
  font-size: 28px;
  line-height: 1.2em;
}

.main-products__details {
  color: #976b04;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 2.4em;
}

.main-products__details::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -11px;
  height: 42px;
  width: 129px;
  background-image: url(img/buttons.png);
  background-size: 260px;
  background-repeat: no-repeat;
  z-index: -1;
}

.main-products__details:hover::before {
  background-position: -133px 0px;
}

@media screen and (min-width: 576px) {
  .main-products figcaption {
    right: 36px;
    bottom: 24px;
  }

  .main-products p {
    width: 140px;
  }

  .main-products__name {
    font-size: 24px;
  }

  .main-products__price {
    font-size: 44px;
  }

  .main-products__details {
    font-size: 20px;
  }

  .main-products__details::before {
    left: -11px;
    height: 53px;
    width: 165px;
    background-image: url("img/buttons.png");
    background-size: 338px;
  }

  .main-products__details:hover::before {
    background-position: -173px 0px;
  }
}

/* introduction */

.introduction .card {
  border-radius: 0;
  background-image: url("img/bg-pattern.jpg");
  background-size: cover;
}

.introduction .card-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.introduction .card-title {
  font-weight: 600;
  text-shadow: 1px 1px #ffffff;
  font-size: calc(24px + 12 * (100vw - 375px) / 200);
}

.introduction .card-text {
  text-align: start;
  font-size: calc(16px + 8 * (100vw - 375px) / 200);
}

@media screen and (min-width: 576px) {
  .introduction .card-title {
    font-size: 36px;
  }

  .introduction .card-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .introduction .card-body {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .introduction .card-title {
    font-size: 48px;
  }

  .introduction .card-text {
    font-size: 36px;
  }
}

@media screen and (min-width: 992px) {
  .introduction .card-title {
    font-size: 36px;
  }

  .introduction .card-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .introduction .card-title {
    font-size: 48px;
  }

  .introduction .card-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1400px) {
  .introduction .card-text {
    font-size: 28px;
  }
}

/* classify__carousel */

.classify .carousel-item {
  position: relative;
}

.classify .carousel-item span {
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 120px;
  padding: 7px 0;
  bottom: 20px;
  right: 20px;
  color: #976b04;
  text-transform: uppercase;
  background-image: url(img/buttons.png);
  background-size: 240px;
  background-position: 2px -1px;
  background-repeat: no-repeat;
}

/* classify */

.classify {
  background-color: #4b3a32;
}

.classify .card {
  border-radius: 0;
  border: 0;
  background-color: unset;
}

.classify .card-img-top {
  border-radius: 0;
}

.classify .card-body {
  position: relative;
}

.classify .card-body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  top: 0;
  left: 0;
  background-image: url("img/separator-light.png");
}

.classify:nth-child(5) .card-body {
  background-color: #241b18;
}

.classify .card-title {
  color: #f7c947;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
}

.classify .card-text {
  color: #fff;
  font-weight: bolder;
}

/* contact-us , blog h4 */

.main h4 {
  font-size: 24px;
  color: #818181;
  font-family: "Pathway Gothic One";
}

@media screen and (min-width: 768px) {
  .main h4 {
    font-size: 28px;
  }
}

/* contact-us */

.contact-us {
  background-color: #ffffff;
  position: relative;
  border-bottom: 7px solid transparent;
  row-gap: 24px;
}

.contact-us::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 100%;
  top: 100%;
  left: 0;
  background-image: url("img/separator-light.png");
}

.contact-us .card {
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  background-color: unset;
}

.contact-us .card-text {
  font-size: 32px;
  font-family: "Oswald", sans-serif;
}

.contact-us a {
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .contact-us::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 6px;
    top: 0;
    right: 50%;
    background-image: url("img/separator-light-vertical.png");
    background-clip: content-box;
    padding: 8px 0;
  }
}

@media screen and (min-width: 992px) {
  .contact-us > div:last-child {
    border-left: 6px solid transparent;
  }

  .contact-us .card-text {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-us::after {
    height: 100%;
    width: 7px;
    top: 0;
    left: 100%;
    background-image: url("img/separator-light-vertical.png");
    background-clip: content-box;
    padding: 8px 0 16px;
  }

  .contact-us > div:last-child {
    border-left: unset;
  }

  .contact-us {
    border-right: 6px solid transparent;
    border-bottom: unset;
  }

  .contact-us::before {
    content: unset;
  }

  .contact-us .card-text {
    text-align: justify;
  }
}

/* blog */

.blog {
  background-color: #ffffff;
}

.blog .card {
  border: 0;
  border-radius: 0;
  background-color: #dddad3;
  border: 4px double #ffffff;
  color: #4b3a32;
}

.blog .card-body p {
  text-transform: uppercase;
}

.blog time {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.blog h5 {
  font-family: "Oswald", sans-serif;
}

.blog p {
  font-family: "Oswald", sans-serif;
}

@media screen and (min-width: 576px) {
  .blog time {
    font-size: 24px;
  }

  .blog h5 {
    font-size: 32px;
  }

  .blog p {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .blog time {
    font-size: 28px;
  }

  .blog h5 {
    font-size: 36px;
  }

  .blog p {
    font-size: 28px;
  }
}

@media screen and (min-width: 992px) {
  .blog time {
    font-size: 20px;
  }

  .blog h5 {
    font-size: 28px;
  }

  .blog p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .blog time {
    font-size: 16px;
  }

  .blog h5 {
    font-size: 24px;
  }

  .blog p {
    font-size: 16px;
  }
}

/* footer */

.footer {
  background-color: #e2b241;
  border-top: 2px solid #fff;
}

.footer h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 24px;
}

footer .card {
  background-color: unset;
  border-radius: 0;
  border: 0;
}

.footer > * > .row {
  background-image: url("img/separator-dark.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-origin: border-box;
  border-bottom: 7px solid transparent;
}

@media screen and (min-width: 768px) {
  .footer h5 {
    font-size: 24px;
  }
}

@media screen and (min-width: 992px) {
  .footer h5 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
}

/* visit */

.visit {
  background-image: url("img/separator-dark.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-origin: border-box;
  border-bottom: 7px solid transparent;
}

.visit a {
  color: #4d3c33;
}

.visit .visit__phone a {
  text-decoration: none;
}

.visit .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .visit p {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .visit p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .visit {
    background-image: url("img/separator-dark-vertical.png");
    background-repeat: repeat-y;
    background-position: right;
    background-origin: border-box;
    border-right: 6px solid transparent;
    border-bottom: unset;
  }
}

/* blog-renew */

.blog-renew + div {
  background-image: url(img/separator-dark-vertical.png);
  background-repeat: repeat-y;
  background-position: left 6px;
}

.blog-renew__data {
  max-width: 100px;
}

.blog-renew time {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  /* background-image: url("img/bg-time.png");
  background-size: 100% 100%; */
}

.blog-renew .card-body {
  color: #4b3a33;
}

.blog-renew .card-title {
  font-size: 18px;
  font-weight: bold;
}

.blog-renew .card-text {
  font-size: 16px;
}

/*  */

.footer section > div:last-child {
  background-image: url("img/separator-dark.png");
  background-repeat: repeat-x;
  border-top: 6px solid transparent;
  background-clip: border-box;
  background-origin: border-box;
}

@media screen and (min-width: 1200px) {
  .footer section > div:last-child {
    background-image: url("img/separator-dark-vertical.png");
    background-repeat: repeat-y;
    border-top: 0px solid transparent;
    border-left: 7px solid transparent;
  }
}

/* e-mail  */

.e-mail label {
  color: transparent;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.e-mail .form-control {
  border: 6px solid #af8112;
  border-radius: 0;
}

.e-mail .form-control {
  box-shadow: 0 0 0 0rem;
}

.e-mail .form-control:focus ~ label,
.e-mail .form-control:not(:placeholder-shown) ~ label {
  color: unset;
}

.e-mail .form-control::placeholder {
  color: #000000;
  opacity: 0.65;
}

.e-mail .btn-primary {
  color: #fff;
  background-color: unset;
  border-color: unset;
  border: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.e-mail .btn-primary::before {
  content: "";
  height: 30px;
  width: 110px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url("img/buttons.png");
  background-size: 223px;
  background-position: 1px -37px;
  background-repeat: no-repeat;
  z-index: -1;
}

.e-mail .btn-primary:hover::before {
  background-position: -113px -37px;
}

/* separate */

hr.separate {
  background-image: url("img/separator-dark.png");
  height: 6px;
  background-color: unset;
  opacity: unset;
  background-clip: content-box;
}

/* media-link */

.separate + div {
  border-left: 0;
  background-image: unset;
  background-origin: border-box;
  background-repeat: repeat-y;
}

.media-link .btn-primary {
  color: unset;
  background-color: unset;
  border: 0;
  height: 80px;
  width: 80px;
  background-image: url("img/icons.png");
  background-size: 200px;
  border-radius: 0;
}

.media-link .btn-primary + .btn-primary {
  margin-left: 24px;
}

.media-link .btn-primary:nth-child(1) {
  background-position: 95px 270px;
}

.media-link .btn-primary:nth-child(2) {
  background-position: 95px 174px;
}

.media-link .btn-primary:nth-child(3) {
  background-position: 81px 80px;
  background-size: 176px 528px;
}

@media screen and (min-width: 768px) {
  .separate + div {
    border-left: 6px solid transparent;
    background-image: url("img/separator-dark-vertical.png");
  }
}

@media screen and (min-width: 1200px) {
  .separate + div {
    border-left: 0;
    background-image: unset;
  }
}

/* copyright */

.copyright span {
  text-transform: uppercase;
}

/* under-nav */

@media screen and (min-width: 576px) {
}
