* {
  /* outline: solid red 1px; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 375px;
}

/* header */

.header {
  background-color: #241b18;
  border-bottom: 2px solid #fff;
}

.header .bg-light {
  --bs-bg-opacity: 0;
}

.header .navbar {
  text-transform: uppercase;
  font-weight: bolder;
}

.header h1 {
  flex: 1 1 0;
}

.header h1 a {
  width: 100%;
}

.header button span {
  height: unset;
  width: unset;
}

header button svg {
  height: 40px;
  width: 40px;
}

header button path {
  stroke: #f7c947;
}

.header .navbar-toggler:focus {
  box-shadow: 0 0 0 0rem;
}

.header .navbar-toggler-icon {
  background: unset;
}

.header .collapse {
  flex-grow: unset;
}

.header .navbar-nav .nav-link.active {
  color: #f7c947;
}

.header .navbar-nav .nav-link {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header h1 a {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .header .nav-link + .nav-link {
    margin-left: 24px;
  }

  .header .nav-link {
    position: relative;
    z-index: 1;
  }

  .header .container .nav-link:hover {
    color: #241b18;
  }

  .header .container .nav-link:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 40px;
    border-radius: 50%;
    background-color: #f7c947;
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .header .nav-link + .nav-link {
    margin-left: 36px;
  }
}

@media screen and (min-width: 1400px) {
  .header .nav-link + .nav-link {
    margin-left: 48px;
  }
}

/* main */

.main {
  background: url("img/bg-body.png") center / cover repeat-y;
}

.main .container {
  background-color: #fff;
}

.main .introduction {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.main .main-products {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

/* main-products */

.main-products figcaption {
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-products p {
  margin-bottom: 0;
}

.main-products__name {
  text-transform: capitalize;
}

.main-products__details {
  color: #976b04;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.main-products__details::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -10%;
  height: 180%;
  width: 120%;
  background-image: url(img/buttons.png);
  background-size: 240px;
  background-position: 0px 0px;
  z-index: -1;
}

/* introduction */

.introduction .card {
  border-radius: 0;
  background-image: url("img/bg-pattern.jpg");
}

/* classify */

.classify .card {
  border-radius: 0;
  border: 0;
}

.classify .card-img-top {
  border-radius: 0;
}

.classify .card-body {
  background-color: #4b3a32;
}

.classify:nth-child(4) .card-body {
  background-color: #241b18;
}

.classify .card-title {
  color: #f7c947;
}

.classify .card-text {
  color: #fff;
}

/* footer */

.footer {
  background-color: #e2b241;
  border-top: 2px solid #fff;
}

@media screen and (min-width: 576px) {
}
