* {
  outline: solid red 1px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 375px;
}

/* header */

.header {
  background-color: #241b18;
  border-bottom:2px solid #fff ;
}

.header .bg-light {
  --bs-bg-opacity: 0;
}

.header .navbar {
  text-transform:uppercase;
  font-weight: bolder;
}

.header h1 {
  flex: 1 1 0;
}

.header h1 a {
  width: 100%;
}

.header button span {
  height: unset;
  width: unset;
}

header button svg {
  height: 40px;
  width: 40px;
}

.header .navbar-toggler:focus {
  box-shadow: 0 0 0 0rem;
}

.header .navbar-toggler-icon {
  background: unset;
}

.header .collapse {
  flex-grow: unset;
}

.header .navbar-nav .nav-link.active {
  color: #f7c947;
}

.header .navbar-nav .nav-link {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header h1 a {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .header .nav-link + .nav-link {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header .nav-link + .nav-link {
    margin-left: 36px;
  }
}

@media screen and (min-width: 1400px) {
  .header .nav-link + .nav-link {
    margin-left: 48px;
  }
}

/* main */

.main {
  background: url("img/bg-body.png") center / cover repeat-y;
}

.main .container {
  background-color: #fff;
}

.main section:first-child {
  border:2px solid #fff ;
  border-top:unset ;
}

/* footer */

.footer {
  background-color: #e2b241;
  border-top: 2px solid #fff;
}

@media screen and (min-width: 576px) {
}
