@import "bootstrap/bootstrap";
@import "compass/css3";

/*-----variables-----------------------------------*/
$rne_yellow:#E2B241;
$rne_brown:#4B3A33;
$rne_title:20px;
$rne_font:16px;

@mixin slash($color,$borderwhere){
  color: $color;
  border: 0 none;
  #{$borderwhere}: 10px solid $color;
  border-image: repeating-linear-gradient( 70deg, $color, $color 2px, transparent 1px, transparent 5px) 10;
}
@mixin fontset($font-size,$line-height,$color,$paddingwhere,$paddingvalue,$borderwhere,$bordervalue,$marginwhere,$marginvalue){
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  #{$paddingwhere}: $paddingvalue;
  #{$borderwhere}: $bordervalue;
  #{$marginwhere}: $marginvalue;
}
// use @include fontset(??px,inherit,$color,padding,0,border,0,margin,0);

/*-----default-----------------------------------*/
body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;line-height:100%;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ol,ul{list-style:none;margin:0;padding:0;}
hr{margin:0px;}
img{max-width:100%;height:auto;}
div,p,span{line-height:inherit;}

/*-----basic-----------------------------------*/
html{overflow:-moz-scrollbars-vertical; overflow-y:scroll;z-index: 999;font-size:15px;}
body{font-family: Arila, "Microsoft JhengHei", "PMingLiU", sans-serif;color:#000;background:url(../img/bg.jpg);}
a,a:hover,a:focus{color:#000;text-decoration:none;}

/*-----global-----------------------------------*/
@import "header";
@import "footer";
.editor{font-size: $rne_font;line-height: 24px;}
.nopadding{padding: 0;}
.nomargin{margin: 0;}
