#header{
  background: #000;
  padding: 30px 0;
  border-bottom: 2px solid #fff;
  .logo{
    float: left;
    h1 a{
      @include fontset(30px,inherit,$rne_yellow,padding,0,border,0,margin,0);
      letter-spacing: 3px;
      span{
        @include fontset(20px,inherit,#fff,padding-top,15px,border,0,margin,0);
        display: block;
        letter-spacing: 1px;
      }
    }
  }
  .menu{
    float: right;
    ul li{
      display: inline-block;
      a{
        @include fontset(18px,50px,#fff,padding,0,border,0,margin-left,25px);
        display: block;
        height: 50px;
        &:hover{
          color: $rne_yellow;
        }
      }
    }
  }
}










/*=====RWD===================================*/

/*768↓（480~768）*/
@media (max-width:767px){
  #header{
    padding-bottom: 0;
    .logo{
      float: none;
      text-align: center;
      margin-bottom: 20px;
      h1 a{
        font-size: 25px;
        letter-spacing: 1px;
        span{
          font-size: 15px;
        }
      }
    }
    .menu{
      float: none;
      button{
        font-size: 30px;
        color: $rne_yellow;
        position: absolute;
        top: 15px;
        right: 0;
      }
      ul li{
        display: block;
        height: 60px;
        line-height: 60px;
        text-align: center;
        a{
          margin-left: 0;
        }
      }
    }
  }
}

/*480↓*/
@media (max-width:479px){
  #header{
    .logo{
      text-align: left;
      h1 a{
        font-size: 20px;
        letter-spacing: 1px;
        span{
          font-size: 13px;
        }
      }
    }
  }
}

/*768~1023*/
@media (min-width:768px) and (max-width:1023px){
  #header{
    padding-bottom: 0;
    .logo{
      float: none;
      text-align: center;
      }
    .menu{
      float: none;
      ul li{
        float: left;
        display: inline-block;
        width: 20%;
        margin: 15px 0;
      }
    }
  }
}

/*1024↑（1024~1279）*/
@media (min-width:1024px){
}

/*1280↑*/
@media (min-width:1280px){
}
