@import "common";

/*-----banner-----------------------------------*/
.banner{
  border: 1px solid #fff;
  background: #D3CDC1;
  .content{
    padding: 50px 30px 80px 40px;
    h3{
      @include fontset(40px,50px,#000,padding-bottom,20px,border,0,margin,0);
      text-align: center;
    }
    .editor{
      padding: 20px 0;
    }
  }
  .imgbg{
    img{
        width: 100%;
        margin-bottom: 30px;
    }
  }
}
/*-----product-----------------------------------*/
.product .item{
  figure{
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  &:hover img{
    @include transition(0.5s linear);
    @include transform(scale(1.1));
  }
  .intro{
    @include slash($rne_yellow,border-top);
    padding: 20px;
    background: $rne_brown;
    h3{
      @include fontset($rne_title,inherit,$rne_yellow,padding-bottom,15px,border,0,margin,0);
    }
    p{
      @include fontset($rne_font,24px,#fff,padding-bottom,15px,border,0,margin,0);
    }
  }
  &:hover .intro{
    @include transition(0.8s ease);
    background: darken($rne_brown,10%);
  }
}
/*-----service-----------------------------------*/
.service{
  box-shadow: 0 -5px 20px -5px #555 inset;
  background: #fff;
  h5{
    @include fontset($rne_font,20px,#555,padding-bottom,15px,border,0,margin,0);
  }
  .info{
    padding: 0 20px;
    margin: 20px 0;
    h4,h4 a{
      @include fontset(25px,35px,#000,padding-bottom,50px,border,0,margin,0);
    }
  }
  .blog{
    padding: 0 20px;
    margin: 20px 0;
    .content{
      background: #ddd;
      padding: 15px;
      p{
        @include fontset(14px,inherit,$rne_brown,padding-bottom,25px,border,0,margin,0);
      }
      h3{
        @include fontset($rne_title,30px,$rne_brown,padding-bottom,35px,border,0,margin,0);
        font-weight: bold;
      }
      a.more{
        @include fontset($rne_font,inherit,$rne_brown,padding,0,border,0,margin,0);
        display: block;
        font-weight: bold;
        &:hover{
          @include fontset($rne_title,inherit,$rne_yellow,padding,0,border,0,margin,0);
        }
      }
    }
  }
}









/*=====RWD===================================*/
/*768↓（480~768）*/
@media (max-width:767px){
  .product,
  .service{
    margin: 15px 0;
  }
  .service .imgbg{
    padding: 0;
    img{
      width: 100%;
      margin-bottom: 15px;
    }
  }
}



/*480↓*/
@media (max-width:479px){
}



/*768~1023*/
@media (min-width:768px) and (max-width:1023px){
  .product,
  .service{
    width: 750px;
    margin-left: -15px;
  }
  .service{
    .imgbg{
      padding-left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-origin: content-box;
    }
  }
}



/*1024↑（1024~1279）*/
@media (min-width:1024px){
  .banner{
    margin: 0;
    .imgbg{
      padding-left: 0;
      background-image: url(../img/banner.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 10px 0 20px -5px #555;
    }
  }
  .service{
    .info{
      @include slash($rne_yellow,border-right);
    }
    .imgbg{
      padding-left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-origin: content-box;
    }
  }
}



/*1280↑*/
@media (min-width:1280px){
}



/*1280↑*/
@media (min-width:1280px){
}
