header {
  background-color: #241B18;
}

.narrow {
  width:80%;
}

.logo {
  margin: 3% 0%;
}
img {
  max-width: 100%;
  height: auto;
}
header .nav {
  margin-top:5%;
}
header .nav li {
  margin-left: 10px; ;
}
header .nav a {
  color: #ffffff;
  font-size: 1.3em;
}
header .nav a.current, header .nav a:hover {
  color: #ffc947 ;
}

header .nav a:hover {
  text-decoration: none;
}
@media (max-width: 700px) {
  .narrow {
  width:100%;
  }
}
/*--------------------------------banner-top---------------------------------*/
section {
  background: url("../images/bg.png") repeat center center;
  border-top: 1px solid #ffffff;
}

#banner {
  border-color: #ffffff;
  border-width: 1px;
  border-style: none solid solid;
}

#banner-left {
  background: url("../images/chair.jpg") no-repeat ;  
  background-size: cover; 
  height: 400px;
  /*background-size: 100% auto;*/
  /*position: relative;  col裏已經有relative*/
}
#banner-left-text {
  height: auto;  
  position:absolute;
  right: 3%;
  bottom:3%; 
}
#money {
  font-size: 150%;
  font-weight: bold;
}

#banner-right {
  background: url("../images/banner-bg.jpg") no-repeat ;
  background-size: cover; 
  height: 400px;
  /*background-size: 100% auto;*/
}
#banner-right > h1 {
  padding: 8% 3% ;
}
#banner-right > p{
  line-height: 1.7em;
  padding: 0% 5% ;
}

/*--------------------------------banner-bottom---------------------------------*/
.banner-btm-img , .banner-btm-tx {
  margin-right: -15px;
  margin-left: -15px;
}

.banner-btm-img > a >img {
  width: 100%; 
}
.banner-btm-tx > p {
  color:#ffffff;
}
.banner-btm-tx > h4 {
  color: #ffc947 ;
}
.banner-btm-tx {
  padding: 15px 25px;
  background: #4B3A33 url("../images/separator-light.png") repeat-x top ;
}
.banner-btm-tx:hover{
  background-color: #241B18;
}
/*--------------------------------infomation---------------------------------*/
#infomation {
  background-color: #fff;
}
#infomation > div > h4 {
  font-weight: bold;
  color:#7b7b7b;
}
#contact > p {
  color: #000;
  font-size: 170% ;
  font-weight: bold;
}

#contact {
  margin: 1% 0%;
  padding: 2% 2%;
  background:  url("../images/separator-light-vertical.png") repeat-y right ;
}
#blog-from {
  margin: 3% 0%;
}
.blog {
  display: flex;
}
.blog-tx {
  background-color: #DDDAD3;  
  padding: 15px;
  width: 50%;
}
.blog-tx a:hover {
  text-decoration: none;
  color: #CC9900;
}
.blog > div > img {
  width:100% ;
}

/*--------------------------------footer-top--------------------------------*/
footer {
  background-color: #E2B241;
}
footer h4{
  color:#241b18;
  font-weight: bold;
}
#footer-top {
  margin-top: 3%;
}
#show-room  {
  padding-bottom: 5%;
  width: 100%;
}

.date {
  background: url("../images/bg-time.png") no-repeat left top ;
  height: 42px;
  width: 32px;
  color: #fff;
  float: left;  
  margin: 0 15px 15px 0;
  text-align: center;
}

#blog-posts{
  background:url("../images/separator-dark-vertical.png") repeat-y left ;
}
.post {
  padding-bottom: 20px;
}
.post a {
  color: #4b3a33;
  font-size:130%;
  font-weight: bold;
}
.post a:hover {
  color: black;
  text-decoration: none;
}
#newsletter {
  background:url("../images/separator-dark-vertical.png") repeat-y left ;
}
#email-btn {
  background-color: #4B3A33;
  color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
}
#newsletter img{
  margin: 5px 30px 80px 5px;
}
#newsletter form {
  background:url("../images/separator-dark.png") repeat-x bottom ;
}
#newsletter h4 {
  margin-top:30px;
}

/*--------------------------------footer-bottom--------------------------------*/
.copyright p , .copyright a {
  color: #ab7d0f;
  font-weight: bold;
}
.copyright a:hover {
  color: #000;
  text-decoration: none;
}