#template_4 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -9px;
    opacity: 0.2;
    display: none;
}

.clear {
    clear: both;
}

.container-fluid {
    background-color: #241b18;
}

.headerborder {
    border-bottom: 1px solid white;
}

.header {
    max-width: 1070px;
    margin: 0 auto;
    background-color: #241b18;
    /*border-bottom: 1px solid white;*/
}

.trademark {
    text-align: left;
    padding: 33px 0;
    /*outline: solid;*/
}

.trademark img {
    width: 70%;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .trademark img {
        width: 100%;
    }
}

.menu {
    /*outline: solid;*/
    color: white;
    display: flex;
    padding: 33px 0;
    justify-content: flex-end;
    align-items: flex-end;
}

.menulist :nth-child(1) {
    color: #fac846;
    padding: 33px 0;
}

.menulist span {
    padding: 0 10px;
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
    .trademark img {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .menu {
        justify-content: space-between;
    }
    .menulist span {
        padding: 0 30px;
        font-size: 1.5rem;
    }
}

.product {
    background-image: url("./image/bg-body.png");
    background-repeat: repeat;
}

.productMain {
    max-width: 1070px;
    margin: 0 auto;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    background-image: url("./image/bg-pattern.jpg");
    background-size: cover;
}

#majorproduct {
    position: relative;
    background-image: url("./image/chair.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 87%;
}

#MP-price {
    text-align: right;
    position: absolute;
    top: 70%;
    left: 70%;
}

@media only screen and (min-width: 330px) and (max-width: 767px) {
    #MP-price {
        text-align: center;
        position: absolute;
        top: 57%;
        left: 65%;
    }
    #MP-price h5 {
        font-size: 1rem;
    }
    #MP-price h3 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 300px) and (max-width: 329px) {
    #MP-price {
        text-align: center;
        position: absolute;
        top: 52%;
        left: 60%;
    }
    #MP-price h5 {
        font-size: 1rem;
    }
    #MP-price h3 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #MP-price {
        text-align: center;
        position: absolute;
        top: 80%;
        left: 80%;
    }
}

#MP-price h5 {
    font-weight: 300;
    margin-top: 25px;
}

#MP-text {
    /*outline: solid;*/
    padding: 70px 25px;
}

#MP-text p {
    line-height: 1.5;
    margin-top: 40px;
    font-weight: normal;
    padding-left: 47px;
    font-size: 20px;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    #MP-text {
        outline: none;
        padding-top: 50px;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #MP-text {
        outline: none;
        padding-top: 50px;
        width: 90%;
        margin: 0 auto;
    }
    #MP-text p {
        line-height: 1.4;
        margin-top: 40px;
        font-weight: normal;
        padding-left: 0px;
        font-size: 20px;
    }
}

.room {
    max-width: 1070px;
    margin: 0 auto;
}

.room img {
    width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .room img {
        width: auto;
    }
}

.room h5 {
    color: #f9c746;
    font-size: 17px;
}

#living-room {
    background-color: #4b3a33;
}

#bedroom {
    background-color: #241b18;
}

#kitchen {
    background-color: #4b3a33;
}

.sampleText {
    /*outline: solid;*/
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    text-align: justify;
    font-size: 15px;
    background: url(./image/separator-light.png) repeat-x top;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sampleText {
        background: url(./image/separator-light.png) repeat-y left;
    }
    .sampleImg img {
        width: 100%;
    }
}

.producer {
    max-width: 1070px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px -4px 10px rgba(20%,20%,40%,0.5) inset;

}

.producer h6 {
    font-size: 15px;
    color: #7c7c7c;
}

.separator {
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .separator {
        background: url(./image/separator-light-vertical.png) repeat-x bottom;
    }
}

#Contact {
    background: url(./image/separator-light-vertical.png) repeat-y right;
    margin: 10px 0;
    padding: 25px 0;
    padding-left: 26px;
}
.Contactbottom{
    padding-bottom: 35px;   
}
#blog {
    padding-top: 27px;
    margin-left: 15px;
    margin-right: 15px;
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
    #Contact {
        padding-top: 27px;
        padding-bottom: 20px;
        margin-left: 15px;
    }
    #blog {
        padding-top: 27px;
        margin-left: 0px;
        margin-right: 15px;
        padding-bottom: 20px;
    }
}

#blogText {
    margin-left: 15px;
}

.blog-info {
    background-color: #dddad3;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    color: #503f38;
}

.blog-info img {
    width: 100%;
}

.blog-infoText {
    padding-top: 15px;
    padding-left: 10px;
}

.footer {
    background-color: #e2b241;
}

.footerMain {
    max-width: 1070px;
    margin: 0 auto;
    padding-top: 40px;
}

.webinfo {
    color: #241b18;
    background: url(./image/separator-dark.png) repeat-x bottom;
}

.webinfo img {
    width: 92%;
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
    .webinfo img {
        width: auto;
    }
}

.webinfo p {
    color: #503f34;
}

.webinfo a {
    color: #503f34;
}

.rightborder {
    background: url(./image/separator-dark-vertical.png) repeat-y right;
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
    .rightborder {
        background: url(./image/separator-dark.png) repeat-x bottom;
        padding-bottom: 10px;
    }
}

.date img {
    position: relative;
    width: 50px;
    height: 50px;
}

.date p {
    color: white;
    position: absolute;
    text-align: center;
    top: 2%;
    left: 16%;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .date p {
        color: white;
        position: absolute;
        text-align: center;
        top: 0%;
        left: 2%;
    }
}

.leftborder {
    background: url(./image/separator-dark-vertical.png) repeat-y left;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .leftborder {
        background: none;
    }
}

#signup input {
    border: 4px solid #af8121 !important;
}

#signup img {
    width: 30%;
    margin-top: 8px;
}

#signup {
    /*outline: solid;*/
    background: url(./image/separator-dark.png) repeat-x bottom;
}

#socialmedia img {
    width: 45%;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    #socialmedia img {
        width: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .date p {
        color: white;
        position: absolute;
        text-align: center;
        top: 4%;
        left: 7%;
    }
    .leftborder {
        background: none;
    }
    #signup img {
        width: 15%;
        margin-top: 8px;
    }
    #socialmedia img {
        width: auto;
    }
}
.footerlist span {
    padding: 0 10px;
}
.copyright {
    color: #ac7e20;
}