.header_background_color {
  background-color: #251b18;
  border-bottom: 2px solid #ffffff;
}

.background_style {
  display: flex;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 100%;
}

#toggle_menu {
  display: none;
}

#toggle_menu:checked~ul {
  display: block;
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav li {
  vertical-align: middle;
  margin-left: 20px;
}

.nav ul li a {
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
}

.nav ul li a::before {
  vertical-align: middle;
  display: inline-block;
  content: " ";
  height: 100%;
}

.nav img {
  display: none;
}

.content_background_img {
  background-image: url(../image/bg.jpg);
}

.content_style {
  margin: 0 auto;
  width: 80%;
}

.content_top_row_style {
  border: 2px solid #ffffff;
}

.content_top_row_style {
  border-top: none;
}

.content_top {
  position: relative;
  width: 50%;
}

.content_top p {
  font-family: sans-serif;
  font-size: 24px;
}

.content_top img {
  width: 100%;
  height: 100%;
}

.content_top_left {
  position: absolute;
  text-align: center;
  right: 5%;
  bottom: 5%;
  width: 20%;
}

.content_top_left p {
  line-height: 1;
  margin: 0;
}

.content_top_left p:first-child {
  font-size: 14px
}

.content_top_right_img {
  padding: 40px;
  background-image: url(../image/banner_bg.jpg);
  background-size: cover;
}

.content_top_title {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

.content_middle {
  width: 33.333333333333333333%;
}

.content_middle_img img {
  width: 100%;
}

/*邊框跑不出來的語法糙東西*/

.content_middle_border {
  background: url(../image/separator-dark.png) repeat-x right 1px;
}

.content_middle_content {
  background-color: #4e413d;
  padding: 20px;
}

.content_middle:nth-child(2) .content_middle_content {
  background-color: #251b18;
}

.content_middle_content h1 {
  color: yellow;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.content_middle_content p {
  margin: 0;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.content_bottom_color {
  background-color: #fff;
}

.content_bottom h1 {
  color: #000;
  font-size: 24px;
}

.content_bottom p {}

.content_bottom_left_border {
  background: url(../image/separator-light-vertical.png) repeat-y right 1px;
}

.content_bottom_left {
  padding: 20px;
  width: 33.333333333333%
}

.content_bottom_left p, .content_bottom_right p {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: sans-serif;
}

.content_bottom_left h1, .content_bottom_right h1 {
  color: #949090;
  font-size: 20px;
  font-family: sans-serif;
}

.content_bottom_right {
  padding: 20px;
  width: 66.666666666666%
}

.content_bottom_left p {
  line-height: 1;
  margin: 0;
}

.content_bottom_left h1 {
  line-height: 1;
  margin: 0;
}

.content_bottom_info {
  margin: 10px;
  width: 45%;
  display: inline-flex;
}

.bottom_info {
  padding: 10px 20px;
  background-color: #e2d7c2;
}

.bottom_info_date {
  font-size: 10px;
  font-family: sans-serif;
}

.bottom_info p {
  margin: 0;
  line-height: 1;
  font-size: 16px;
  font-family: sans-serif;
}

.footer {
  border-top: 2px solid #fff;
  background-color: #e2b140;
  width: 100%;
  box-shadow: 0 -3px 3px -3px #000;
}

.footer_content {
  width: 80%;
  margin: 0 auto;
}

.footer_content_content {
  margin: 20px 0;
  overflow: hidden;
  font-family: sans-serif;
  width: 33.33333333333%
}

.footer_content_content:not(:first-child) {
  padding-left: 20px;
}

.footer_content_content:not(:nth-child(3)) {
  padding-right: 20px;
}

.footer_content_title {
  font-size: 20px;
  margin: 10px 0px;
  font-family: sans-serif;
  font-weight: bold;
}

.footer_content_content p {
  margin: 0;
}

.footer_content_left_underline p:last-child {
  text-decoration: underline;
}

.footer_content_left_underline p {
  line-height: 1;
  margin: 15px 0;
}

.footer_content_left_underline img {
  width: 100%;
}

.footer_middle_info {
  margin-right: 10px 0;
}

.footer_info_date {
  background-image: url(../image/calender.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: #fff;
  text-align: center;
  padding: 5px;
  line-height: 1;
  font-family: sans-serif;
  float: left;
}

.footer_middle_info_content {
  display: flow-root;
}

.footer_middle_info_content p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.footer_middle_info_content p {
  margin: 0;
}

.footer_content_content:not(:nth-last-child(2)) {
  background: url(../image/separator-dark-vertical.png) repeat-y right 1px;
}

.footer_content_content img {
  margin: 10px 0;
  display: block;
}

.text_input_style {
  width: 100%;
}

.footer_content_link {
  padding-top: 10px;
}

.footer_content_link_border {
  background: url(../image/separator-dark.png) repeat-x right 1px;
}

.footer_content_link_img {
  font-size: 36px;
}

.footer_bottom {
  color: #ba8a1b;
  padding: 20px 0;
  width: 100%;
  position: relative;
  background: url(../image/separator-dark.png) repeat-x right 1px;
}

.footer_bottom_left {
  display: inline;
}

.footer_bottom_right {
  position: absolute;
  display: inline;
  right: 0;
}

@media screen and (max-width :1023px) {
  .content_top {
    width: 100%;
  }
  .content_bottom_left {
    width: 100%;
  }
  .content_bottom_right {
    width: 100%;
  }
  .footer_content_title {
    text-align: left;
  }
  .footer_middle_info_content {
    margin-top: 10px;
  }
  .footer_middle_info_content p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }
  .footer_bottom {
    text-align: center;
  }
  .footer_bottom_right {
    left: 0;
    bottom: 0;
  }
}

@media screen and (max-width:767px) {
  .footer_content_content {
    width: 100%;
    padding: 0px;
    margin: 20px 0px;
    background: 0px;
  }
  .footer_content_content:not(:nth-last-child(2)) {
    background: none;
  }
  .footer_content_content:not(:first-child) {
    padding-left: 0px;
  }
  .footer_content_content:not(:nth-child(3)) {
    padding-right: 0px;
  }
}

@media screen and (max-width:575px) {
  .background_style {
    display: block;
    width: 100%;
    padding: 0;
  }
  .menu_in_rwd {
    width: 100%;
  }
  .menu_in_rwd img {
    margin: 0 auto;
  }
  .nav ul {
    text-align: center;
    display: block;
    width: 100%;
  }
  .nav ul {
    display: none;
  }
  .nav ul li {
    margin: 0;
  }
  .nav img {
    display: block;
  }
  .content_top_left {
    width: 25%;
  }
  .content_top_left p {
    font-size: 20px;
  }
  .content_top_left p:first-child {
    font-size: 12px
  }
  .content_top_title {
    font-size: 24px;
  }
  .content_top_right p {
    font-size: 18px;
  }
  .content_top_right_img {
    padding: 20px;
  }
  .content_middle {
    width: 100%;
  }
  .footer_bottom_left {
    font-size: 14px;
  }
  .footer_bottom_right {
    font-size: 14px;
  }
}