body {
    margin: 0;
    background-image: url("./img/bg-body.png");
}

.heading_desktop {
    background-color: #26221F;
    width: 100%;
    color: #fff;
    position: fixed;
}

.heading_side_space {
    width: 935px;
    margin: 0 auto;
}

.logo {
    margin: 28px 0;
}

.menu {
    float: right;
    padding-top: 60px;
    font-size: 14px;
}

.menu-item {
    display: inline;
    padding-left: 20px;
}
