/**{
	box-shadow: 0 0 1px red;
}*/

.img-100{
	width: 100%;
}

/*------------------------------header------------------------------*/
header{
	background-color: #251b18;
	border-bottom: 1px solid #fff;
	padding: 2vw 15px;
}

.nav-style{
	padding: 2vw 15px;
}

.nav-style a{
	color: #fff;
	font-size: 1.2vw;
	text-decoration: none;
}

.nav-style a:hover{
	color: #f7c546;
}

/*------------------------------section------------------------------*/
section{
	background: url(../images/bg-body.png);
	background-position: center;
}

/*------two-content------*/
.white-border{
	outline: 1px solid #fff;
}

.price{
	position: absolute;
	bottom: 2vw;
	right: 2vw;	
}

.price-p1{
	font-size: 1vw;
	margin-bottom: -5px; 
}

.price-p2{
	font-size: 20px;
	margin-bottom: -9px;
}

.price a{
	font-size: 1vw;
	text-decoration: none;
	color: #9e721f;
	font-weight: 700;
	background: url(../images/button1.png) no-repeat;
	background-size: cover;
	padding: 9px 8px 10px 8px;
}

.price a:hover{
	background: url(../images/button2.png) no-repeat;
	background-size: cover;
	padding: 9px 8px 8px 7px;
}

.background-right{
	background: url(../images/bg-pattern.jpg) no-repeat;
	background-size: cover;
}

.content{
	margin: auto 0px;
}

.right-h4-style{
	text-shadow: 1px 1px #fff;
	font-size: 3vw;
	margin: 8vw 3vw 3vw 3vw;
}

.right-p-style{
	font-size: 1.2vw;
	margin: 0vw 2vw 8vw 3vw;
}

/*------three-content------*/
.three-content{
	margin-top: 1px;
}

.content-style{
	background-color: #4b3a34;
}

.content-style:hover{
	background-color: #251b18;
}

.separator-light-line{
	height: 6px;
	background: url(../images/separator-light.png) repeat-x;

}

.content-h6-style{
	color: #f9c846;
	font-size: 1.5vw;
}

.content-p-style{
	color: #fff;
	font-size: 1vw;
}

/*------reference------*/
.reference{
	background: #fff;
	box-shadow: 0px -10px 25px -10px rgba(0, 0, 0, 0.6) inset;
}

.light-line{
	background: url(../images/separator-light.png) repeat-x;
	background-position: bottom;
}

@media screen and (min-width: 768px) {
	.light-line{
		background: url(../images/separator-light-vertical.png) repeat-y;
		background-position: right;
	}
}


.title-style{
	color: #828282;
	font-size: 1.2vw;
	font-weight: 600;
	letter-spacing: -1px;
	margin: 0;
}

.blog-left{
	background: #dddad3;
}

.date{
	font-size: 1vw;
	color: #53433d;
	font-weight: lighter;
	margin-bottom: 1vw;
}

.blog-data{
	font-size: 1.2vw;
	color: #4e3d37;
	font-weight: bold;
	margin-bottom: 1.5vw;
}

.reference img{
	height: 100%;
}

/*------------------------------footer------------------------------*/
footer{
	background: #e2b242;
	border-top: 1px solid #fff;
}

.fixed-dark-line{
	background: url(../images/separator-dark.png) repeat-x;
	background-position: bottom;
}

/*------left------*/
.left-dark-line{
	background: url(../images/separator-dark.png) repeat-x;
	background-position: bottom;
	padding-bottom: 20px;
	margin-bottom: 0;
}

@media screen and (min-width: 768px) {
	.left-dark-line{
		background: url(../images/separator-dark-vertical.png) repeat-y;
		background-position: right;
		padding-bottom: 0px;
		margin-bottom: 1rem; 	
	}
}

.footer-title{
	color: #291e18;
	font-size: 1.5vw;
	font-weight: 600;
	letter-spacing: -0.5px;
}

.footer-content{
	color: #524034;
	font-size: 1vw;
}

footer a{
	color: #624c35;
	font-size: 1vw;
	text-decoration: underline;	
}

footer a:hover{
	color: #624c35;
}

@media screen and (max-width: 767px){
	.left-padding{
		padding-right: 15px;
		padding-left: 15px;
	}	
}

/*------middle------*/
@media screen and (min-width: 992px) {
	.middle-dark-line{
		background: url(../images/separator-dark-vertical.png) repeat-y;
		background-position: right;
	}
}

@media screen and (max-width: 991px) {
	.middle-bottom-dark-line{
		background: url(../images/separator-dark.png) repeat-x;
		background-position: bottom;
	}
}

.footer-date-background{
	background: url(../images/bg-time.png) no-repeat;
}

.footer-date-style{
	color: #fff;
	font-size: 14px;
	margin: 0;
	padding-left: 6px;
}

.footer-date-h6{
	font-size: 1.2vw;
}

/*------right------*/
footer input{
	width: 100%;
	font-size: 1.2vw;
	border: 2px solid #af8122;
	padding: 4px;
	outline: none;
}

.button{
	background: url(../images/black-button1.png) no-repeat;
	background-position: center;
	border: none;
	color: #fff;
	font-size: 1.2vw;
	padding: 8px 14px;
	outline: none;
}

.button:hover{
	background: url(../images/black-button2.png) no-repeat;
	background-position: center;
	padding: 8px 14px;
	outline: none;
}

.right-dark-line{
	padding-right: 15px;
	padding-left: 15px;
	background: url(../images/separator-dark.png) repeat-x;
	background-position: bottom;
}	

@media screen and (min-width: 768px) {
	.right-dark-line{
		padding-right: 15px;
		padding-left: 0px;
		background: url(../images/separator-dark-vertical.png) repeat-y;
		background-position: right;
		margin-bottom: 1rem;
	}	
}

@media screen and (min-width: 992px) {
	.right-dark-line{
		padding-right: 0px;
		padding-left: 0px;
		background: url(../images/separator-dark.png) repeat-x;
		background-position: bottom;
		margin-bottom: 0rem;
		margin-left: 0px;

	}	
}

.facebook{
	background: url(../images/icons-f1.png) no-repeat;
	width: 35px;
	height: 35px;
}

.facebook:hover{
	background: url(../images/icons-f2.png) no-repeat;
}

.google{
	background: url(../images/icons-g1.png) no-repeat;
	width: 35px;
	height: 35px;
}

.google:hover{
	background: url(../images/icons-g2.png) no-repeat;
}

.twitter{
	background: url(../images/icons-t1.png) no-repeat;
	width: 35px;
	height: 35px;
}

.twitter:hover{
	background: url(../images/icons-t2.png) no-repeat;
}

.last-footer-style{
	color: #b28524;
	font-size: 1vw;
	font-weight: bold;
}

.no-underline a{
	text-decoration: none;
}

@media screen and (max-width: 767px) {
	.rwd-style{
		justify-content: center;
	}
}

.nav-rwd-style{
	justify-content: flex-end;
}

@media screen and (max-width: 767px) {
	.nav-rwd-style{
		justify-content: center;
		
	}
}


