*{
    padding:0px;
    margin:0px;
}
.nav-button-wrap {
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: relative;
}
.nav-button > a {
   color: #f3bf44; 
}
.nav-button {
    margin-left: 10%;
}
.header {
   background-color: #241b18; 
   height: 200px;
   border-bottom: 5px solid #b4afa9;
   display: flex;
   justift-content: center;
   align-items: center;
}
.logo {
    margin-left: 10%;
   flex: 1 auto;
}
.nav {
   flex: 1 auto;
    width: 10%;
    margin-right: 10%; 
}
/* body */
body {
    background-image: url(../images/bg-body.png);
    background-position: center;
    background-repeat: repeat;
}
.mainbar {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}
/* body: top */
.top {
   display: flex;
   min-height: 407px;
}
.top-imageholder {
    order: 1;
    flex-grow: 1;
    min-width: 50%;
}
.top-imageholder > img {
    width: 100%;
    height: 100%;
    overflow: visible;
}
.top-imageholder-text {
    order: 2;
    flex-grow: 1;
    min-width: 50%;
}
.top-imageholder {
    background-image: url(../images/chair.jpg);
    background-size: cover;
}
.top-imageholder-text {
    background-image: url(../images/bg-pattern.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hiddenimg {
    display: none;
}
/* mid */
.mid-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.grid-3 {
    width: 33.3%;
    flex-grow: 1;
    background-color: #4B3A33;
}
.grid-3 > img {
    width: 100%;
}
.grid-3-text {
    margin: 3% 6%;
}
.grid-3-text > h4  {
    color: yellow;
}
.grid-3-text > p {
    color: white;
}
