/* don't set width!!! */



/* general ------------------------------ */

body {
	background-image: url('img/bg.jpg');
}

.clearfix {
	clear: both;
}


/* header ------------------------------ */

header {
	background-color: #1B1512;
	border-bottom: 1px solid whitesmoke;
}

@media (min-width: 992px) {
	.header {
		display: flex;
		align-items: center;
		padding-right: 120px;
		padding-left: 120px;
	}
	.nav ul {
		padding-top: 35px;
	}
}

.logo {
	padding: 25px 0;
}

.logo a {
	display: block;
}

.nav {
	padding-right: 0;
}

.nav ul {
	float: right;
	margin: 0;
}

.nav ul li {
	padding: 0;
	margin: 0 10px;
}

.nav ul li a {
	display: block;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color: whitesmoke;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.nav ul li a:hover {
	color: #FEC02A;
}

@media (max-width: 991px) {
	.logo {
		display: flex;
		justify-content: center;
	}
	.logo a img {
		max-width: 100%;
	}
	.nav {
		display: flex;
		justify-content: center;
		padding-top: 15px;
		border-top: 1px solid whitesmoke;
	}
	.nav ul {
		padding-bottom: 15px;
	}
}



/* hit ------------------------------ */

.hitLeft img {
	width: 100%;
}

.hitRight img {
	width: 100%;
}

@media (min-width: 992px) {
	.hitLeft {
		padding: 0;
	}
	.hitLeft img {
		float: right;
	}
	.hitRight {
		padding: 0;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.hit {
		display: flex;
	}
	.hitLeft {
		padding: 0;
	}
	.hitRight {
		padding: 0;
	}
}

@media (max-width: 767px) {
	.hitLeft {
		text-align: center;
	}
	.hitRight {
		text-align: center;
		padding: 0;
	}
}

.hitLeft {
	position: relative;
}

.inhitLeft {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	right: 7%;
	bottom: 7%;
	text-align: center;
	color: #1B1512;
}

.inhitLeft p {
	margin: 5px 0;
}

.inhitRight {
	position: relative;
}

.inhitRight p {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-top: -58%;
	margin-left: -50%;
}

.inhitRight p span {
	display: block;
	font-weight: 900;
	margin-bottom: 2%;
}

@media (min-width: 992px) {
	.inhitRight p span {
		font-size: 36px;
	}
	.inhitRight p {
		font-size: 18px;
		padding: 0 30px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.inhitRight p span {
		font-size: 28px;
	}
	.inhitRight p {
		font-size: 16px;
		padding: 0 25px;
	}
}

@media (max-width: 767px) {
	.inhitRight p span {
		font-size: 24px;
	}
	.inhitRight p {
		font-size: 14px;
		padding: 0 20px;
	}
}



/* product ------------------------------ */

@media (min-width: 992px) {
	
}

@media (min-width: 768px) {
	.product {
		display: flex;
		align-items: stretch;
	}
	.productLeft {

	}
	.productLeft img {
		
	}
	.productMiddle {
		
	}
	.productRight {

	}
}

.hr1 {
	margin: 0;
	border: 0;
	height: 6px;
	background-image: url(img/separator-light.png);
}

.inproduct {
	padding: 10px 15px;
}

.productTitle {
	color: #DAA433;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin: 5px 0;
	font-weight: 700;
	letter-spacing: .06em;
}

.productContent {
	font-family: 'Roboto', sans-serif;
	color: whitesmoke;
	font-weight: lighter;
	letter-spacing: .01em;
	margin-bottom: 5px;
}

.productLeft {
	padding-right: 0;
	padding-left: 0;
	background-color: #3A2C27;
}

.productLeft img {
	width: 100%;
}

.productMiddle {
	padding-right: 0;
	padding-left: 0;
	background-color: #1B1512;
}

.productMiddle img {
	width: 100%;
}

.productRight {
	padding-right: 0;
	padding-left: 0;
	background-color: #3A2C27;
}

.productRight img {
	width: 100%;
}



/* contact + blog -------------------- */

.contact {
	background-color: whitesmoke;
	padding: 1% 0 5%;
}

.blog {
	background-color: whitesmoke;
}

@media (min-width: 992px) {
	.contact {
		background: url(img/separator-light-vertical.png) whitesmoke repeat-y right;
	}
	.contactBlog {
		display: flex;
	}
}

.contactBlogTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	color: #71686c;
	margin: 15px 0 10px;
	padding-left: 20px;
}

.contactContent {
	padding-left: 20px;
	font-family: 'Oswald', sans-serif;
	font-size: 21px;
	font-weight: 900;
	letter-spacing: .01em;
}

.blogLeft {
	margin-left: 30px;
}

.blogContent {
	background-color: #D5D2C9;
	font-family: 'Oswald', sans-serif;
	color: #1B1512;
	padding: 20px 0 0 20px;
}

.blogContent p a {
	text-decoration: none;
	display: block;
	color: #1B1512;
	-webkit-transition-duration: 0.5s; /* Safari */
	transition-duration: 0.5s;
}

.blogContent p a:hover {
	color: #FEC02A;
}

@media (max-width: 991px) {
	.contact {
		background: url(img/separator-light.png) whitesmoke repeat-x bottom;
	}
	.blogRow {
		margin-bottom: 2%;
	}
}

@media (min-width: 768px) {
	.blog {
		padding: 0;
	}
	.blogRow {
		display: flex;
	}
	.blogLeft {
		display: flex;
	}
	.blogRight {
		display: flex;
	}
	.blogContent {
		width: 132px;
	}
}

@media (max-width: 767px) {
	.blogLeft {
		margin: 10px 0;
		padding: 0;
		justify-content:center;
	}
	.blogRight {
		margin: 10px 0;
		padding: 0;
		justify-content:center;
	}
}

.blogImg {
	float: right;
}

@media (max-width: 991px) and (min-width: 768px) {
	.contact {
		display: inline-flex;
	}
	.contactBottom {
		padding-left: 45px;
	}
}



/* footer ------------------------------ */

footer {
	background-color: #DAA433;
}



/* footer1 ------------------------------ */

.visit {
	padding-left: 0;
	padding-right: 15px;
}

.footerTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #1B1512;
	margin: 20px 0 10px;
	padding-left: 10px;
}

.visit img {
	max-width: 100%;
}

.visitContent {
	margin: 15px 0;
}

.visitContent p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 10px 0;
}

.visitContent a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #1B1512;
	display: block;
}

@media (min-width: 768px) {
	.footer1 {
		display: flex;
		align-items: stretch;
	}
	.visit {
	background: url(img/separator-dark-vertical.png) #DAA433 repeat-y right;
	}
	.post {
		background: url(img/separator-dark-vertical.png) #DAA433 repeat-y right;
	}
}

.post {
	padding-left: 10px;
	padding-right: 15px;
}

.postTitle {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 5px;
}

.postAbstract {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.postTime {
	position: relative;
}

.postTime div {
	position: absolute;
	top: 2px;
	left: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 13px;
	text-align: center;
	color: whitesmoke;
	letter-spacing: .05em;
}

.postTime div p {
	margin-bottom: 0;
}

.subscribe {
	padding-right: 0;
	padding-left: 10px;
}

.email {
	padding-left: 10px;
}

@media (min-width: 768px) {
	.postBlock {
		display: flex;
		padding-left: 10px;
	}
	.postContent {
		padding: 0 10px;
	}
}

@media (max-width: 767px) {
	.postBlock {
		display: inline-flex;
	}
	.postContent {
		padding-left: 10px;
	}
	.blogLeft {
		display: inline-flex;
	}
	.blogRight {
		display: inline-flex;
	}
	.blogContent {
		width: 132px;
	}
}

.form-control {
	border: #8a6d3b 3px solid;
	border-radius: 0;
	margin: 15px 0;
}

.email a {
	display: block;
	text-align: center;
}

.footerIcon {
	padding-left: 10px;
	margin-top: 15px;
}

.footerIcon a {
	display: inline-block;
	margin: 0 5px;
}

.footerIcon a img {
	width: 25px;
	height: 25px;
	border-radius: 99em;
}



/* footer2 ------------------------------ */

.footer2 {
	background: url(img/separator-dark.png) #DAA433 repeat-x top;
}

@media (min-width: 992px) {
	.footer2 {
		display: flex;
		align-items: center;
		padding: 20px 120px;
	}
	.copyright p {
		margin-bottom: 0;
	}
}

@media (max-width: 991px) {
	.copyright {
		text-align: center;
	}
	.nav2 {
		display: none;
	}
	.copyright p {
		padding-top: 10px;
	}
}

@media (max-width: 767px) {
	.footer1 {
		padding-bottom: 10px;
	}
	.copyright p {
		margin-top: 5px;
	}
}

.copyright {
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color: #996A0F;
}

.nav2 {
	padding: 0;
}

.nav2 ul {
	float: right;
	margin: 0;
}

.nav2 ul li {
	padding: 0;
	margin: 0 10px;
}

.nav2 ul li a {
	display: block;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color: #996A0F;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.nav2 ul li a:hover {
	color: #1B1512;
}


