.containerTop{
  margin: 0 auto;
  width: 900px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.containerTop>div{
  width: :900px;
  margin: 0 auto;
}
.containerTop>div>div{
  height:400px;
}
#topleft{
  background-image: url("img/chair.jpg");
  background-position: center;
}
#topleft>div{
  position:relative;
  left:70%;
  top:70%;
}
#topleft>div>p{
  color: #241B18;
}
#topright{
  background-image: url("img/bg-pattern.jpg");
  background-size: cover;
}
#topright>div{
  width:350px;
  margin: 0 auto;
  position: relative;
  top: 20%;
}
#topright>div>p{
  text-align: justify;
  font-family: "QuattrocentoSans-Regular";
  color: #241B18;
}
