.containerBottom{
  margin: 0 auto;
  width: 900px;
}
.containerBottomp p{
  color: white;
  padding:5px 0 15px;
}
.containerBottom>div{
  width: 900px;
  margin: 0 auto;
}
.bottom-top-side{
  background-color:#4B3A33;
  padding: 0;
}
.bottom-top-center{
  background-color: #241B18;
  padding: 0;
}
.bottom-top-img{
  height:190px;
  background-position: center;
  background-size: cover;
}
#itemleft{
  background-image: url("img/display1.png");
}
#itemright{
  background-image: url("img/display3.png");
}
#itemcenter{
  background-image: url("img/display2.png");
}
.bottom{
  background-color: white;
  padding:20px 0;
}
.bottom p{
  color: #7B7B7B;
  font-family: "Oswald";
  font-variant: small-caps;
  font-size: 16px;
}
.grayback{
  background-color: #EEE;
  padding: 0;
  width:250px;
}
.floatright{
  float: right;
}
.floatleft{
  float: left;
}
