body{
  margin: 0;
}
h1{
  font-variant: small-caps ;
  text-align: center;
  font-family: "Oswald";
}
h2{
  font-variant: small-caps ;

  font-family: "Oswald";
}
h3{
  font-variant: small-caps ;
  text-align: left;
  color: #FFC947;
  margin: 0;
}
h4{
  color: #241B18;
}
h6{
  color: #4B3A33;
  margin: 0;
}
p{
  color: white;
}
.main{
  background-image: url("img/mainbg.png");
  background-repeat: repeat;
}
.rightline{
  border-right: 8px dotted rgb(227, 199, 9);
}
.topline{
  border-top: 8px dotted rgb(227, 199, 9);
}
