.subheader{
  background-color: #241B18;
  border-bottom: 1px solid white;
}
.subheader>div{
  width:900px;
  margin: 0 auto;
}
.subheader>div>img{
  display: inline-block;
  width: 40%;
}
.subheader>div>ul{
  width: 40%;
  margin: 0 auto;
  display: inline-block;
  float: right;
}
.subheader>div>ul>li{
  padding: 20px 15px;
  text-align: right;
}
.subheader>div>ul>li>a{
  color: white;
  text-align: right;
}
