@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Condensed');

body {
  font-family: 'Nunito', sans-serif;
}

/* header */

header {
  background: #241b18;
  border-bottom: 1px solid #fff;
  text-align: center;
}

header .container {
  padding: 30px 15px;
}

header a {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8rem;
}

header a:hover,
header .now {
  color: #ffc935;
  text-decoration: none;
}

@media (min-width: 576px) {
  header a {
    font-size: 1.15rem;
  }
}

@media (min-width: 991px) {
  header {
    text-align: left;
  }
}


/* content */

.content, .product, .room {
  box-shadow: 0px 2px 20px #000;
}

.content {
  background: url(../images/bg-body.png) repeat center center;
  background-size: 115%;
}

.product {
  position: relative;
  text-align: center;
  border: 1px solid #fff;
  border-top: 0;
}


.productChair {
  background: url(../images/chair.jpg) no-repeat right bottom;
  background-size: cover;
  padding-top: 90%;
}

.productBrief {
  position: absolute;
  right: 10px;
  bottom: 10px;
  line-height: 1.2rem;
}

.productBrief .productName {
  font-size: .8rem;
  font-weight: 600;
}

.productBrief .productPrice {
  font-size: 1.3rem;
  font-weight: 600;
  
}

.productBrief .productViewButton {
  display: block;
  background: url(../images/buttons.png) no-repeat left 0px top 4px;
  padding: 12px 0;
  color: #9b6e00;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  background-size: 215px 65px;
  font-size: .9rem;
  font-weight: 700;
  width: 105px;
}

.productBrief .productViewButton:hover {
  background-position: left -133px top 4px;
  text-decoration: none;
}

.productWordBox {
  background: url(../images/bg-pattern.jpg) no-repeat left top;
  background-size: cover;
  font-weight: 600;
}

.productWordBox>div {
  top: 0;
  left: 0;
}

.productDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  padding: 45px 0;
  color: #251b18;
}

.productDescription h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #fff;
  margin-bottom: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.productDescription p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0;
  padding: 0 1.25rem;
}

@media (min-width: 576px) { 
  .productBrief {
    right: 30px;
    bottom: 30px;
  }

  .productDescription {
    position: absolute;
  }

  .productDescription h2 {
    font-size: 1.8rem;
  }

  .productWordBox {
    padding-top: 90%;
  }
}

@media (min-width: 768px) {

  .productDescription {
    padding: 0 10%;
  }

  .productChair, .productWordBox {
    padding-top: 50%;
  }

}

@media (min-width: 991px) {
  .productDescription {
    padding: 0 15%;
  }

  .productDescription h2 {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .productDescription p {
    font-size: 1.1rem;
    word-spacing: .1rem;
    line-height: 1.8rem;
    margin: 0 -15px;
  }

  .productBrief {
    right: 30px;
    bottom: 30px;
    line-height: 1.8rem;
  }

  .productBrief .productViewButton {
    background-size: 260px 80px;
    width: 130px;
    font-size: 1.15rem;
  }


  .productBrief .productPrice {
    font-size: 1.8rem;
  }

  .productBrief .productName {
    font-size: .9rem;
  }
}


/* roomType */

.roomType, .roomType img {
  border-radius: 0;
  border: 0;
}

.roomType1 {
  background-color: #4b3a33;
}

.roomType2 {
  background-color: #251b18;
}

.roomType3 {
  background-color: #4b3a33;
}

.roomType__img {
  padding-top: 62%;
}

.roomType__description {
  background: url(../images/separator-light.png) repeat-x left top;
  background-size: 5px;
}

.roomType__description h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffc935;
  font-size: 1.15rem;
  text-transform: uppercase;
}
.roomType__description p {
  color: #fff;
}

/* contact */

.contact {
  background: #fff;
  font-weight: 700;
  padding: .5rem 0;
}

.contact h2 {
  color: #7c7c7c;
  font-size: .9rem;
  text-transform: uppercase;
  padding: 1.5rem 1.25rem 0;
  margin-bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.contactMainInfo {
  background: url(../images/separator-light.png) repeat-x left bottom;
  background-size: 4px;
}

.contactMainInfo__bold {
  color: #000;
  font-size: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 1.25rem;
  display: block;
  word-spacing: .1rem;
}

.contactMainInfo a:hover {
  color: #ffc935;
  text-decoration: none;
}

.contactMainArticle {
  margin: 0;
}

.contactMainArticle h2 {
  margin-bottom: 1rem;
}

.contactBlog {
  flex-wrap: wrap;
}

.contactBlog, .contactBlog a {
  color: #4b3a33;
}

.contactBlog .contactBlog__mainPhoto {
  padding-top: 100%;
}

.contactBlog .contactBlog__mainPhoto {
  background: url(../images/carving-small.png) no-repeat top center #dddad3;
  background-size: cover;
}

.contactBlog:last-child .contactBlog__mainPhoto {
  background: url(../images/resort-small.png) no-repeat top center #dddad3;
  background-size: cover;
}

.contactBlog__article {
  margin-bottom: 1rem;
  padding: 1rem 1.25rem;
  border: 1px ridge #eee;
  background: #dddad3;
}

.contactBlog__article:first-child .contactBlog__mainPhoto {
  background: url(../images/carving-small.png) no-repeat right center #dddad3;
  background-size: contain;
}

.contactBlog__article:last-child .contactBlog__mainPhoto {
  background: url(../images/resort-small.png) no-repeat right center #dddad3;
  background-size: contain;
}

.contactBlog__article__date {
  font-size: .9rem;
}

.contactBlog__article p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.15rem;
}

.contactBlog__article__button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .9rem;
  text-transform: uppercase;
}

@media (min-width: 576px) {

  .contactBlog {
    margin-bottom: 2rem;
  }

  .contactBlog__article {
    margin-bottom: 0;
    position: relative;
  }

  .contactBlog .contactBlog__mainPhoto {
    padding-top: 60%;
  }

  .contactBlog__article__button {
    position: absolute;
    bottom: 1rem;
  }
}


@media (min-width: 768px) { 
  .contactMainInfo {
    background: url(../images/separator-light-vertical.png) repeat-y right top;
    background-size: 8px;
  }

  .contact h2 {
    font-size: 1.05rem;
  }

  .contactMainInfo__bold {
    font-size: 2rem;
  }
}

@media (min-width: 991px) { 
  
  .contactBlogContainer {
    display: flex;
    padding: 1.25rem;
  }
}


/* footer */
footer {
  background: #e3b333;
  border-top: 1px solid #fff;
  box-shadow: 0px -5px 5px rgba(0,0,0, .2);
}

.footerContact h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.15rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
}

footer, footer a, footer a:hover, input::placeholder {
  color: #4b3a33;
}

.showroom, .recentPosts, .news {
  background: url(../images/separator-dark.png) repeat-x left bottom;
  background-size: 4px;
  padding: 30px 0;
}

.showroom__photo {
  margin-bottom: 1rem;
}

.showroom__phone {
  margin-bottom: 1rem;
  display: block;
}

.showroom__mail {
  text-decoration: underline;
}

.recentPost {
  margin-bottom: 30px;
}

.recentPost::after {
  content: '';
  display: block;
  clear: both;
}

.recentPost__dateContainer {
  float: left;
  margin-right: 15px;
}

.recentPost__date {
  background: url(../images/bg-time.png) no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.recentPost + .recentPost {
  margin-top: 15px;
}

.recentPost h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .9rem;
  font-weight: 700;
}


.recentPost p {
  font-size: .8rem;
}

.newsLetter__emailInput {
  border: 5px solid #b08200;
  width: 100%;
  padding: .25rem;
}

.newsLetter__emailInput::placeholder {
  font-size: .9rem;
  font-weight: 700;
}

.newsLetter__signUpButton {
  font-family: 'Roboto Condensed', sans-serif;
  background: url(../images/buttons.png) no-repeat left -15px top -42px;
  padding: 5px 21px;
  background-size: 255px;
  border: 0;
  margin: 10px 0 30px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.newsLetter__signUpButton:hover {
  background-position: left -145px top -42px;
}

.socialMedia {
  background: url(../images/separator-dark.png) repeat-x left top;
  background-size: 5px;
  padding: 30px 0 0;
}

.socialMedia a {
  width: 50px;
  height: 40px;
  display: inline-block;
  background-size: 100px;
  
}

.socialMedia a + a {
  margin-left: .75rem;
}

.socialMedia__facebook {
  background: url(../images/icons.png) no-repeat right 3px bottom -95px;
}

.socialMedia__facebook:hover {
  background-position: right -50px bottom -95px;
}

.socialMedia__googlePlus {
  background: url(../images/icons.png) no-repeat right 0px bottom -47px;
}

.socialMedia__googlePlus:hover {
  background-position: right -54px bottom -47px;
}

.socialMedia__twitter {
  background: url(../images/icons.png) no-repeat right bottom;
}

.socialMedia__twitter:hover {
  background-position: right -54px bottom;
}

.footerLastPart, .footerLastPart a {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #b08200;
}

.footerLastPart__copyright {
  text-align: center;
  padding: 15px 0 30px;
}


@media (min-width: 991px) {
  .footerContact > .showroom {
    padding-right: 1.25rem;
  }

  .footerContact > .recentPosts {
    padding: 30px 1.25rem;
  }

  .footerContact > .news {
    padding-left: 1.25rem;
    background: none;
  }

  .showroom, .recentPosts {
    background: url(../images/separator-dark-vertical.png) repeat-y right bottom;
    background-size: 8px;
    padding: 30px 0;
  }

  .footerContact {
    background: url(../images/separator-dark.png) repeat-x left bottom;
    background-size: 4px;
    padding: 30px 0;
  }

  .footerLastPart__copyright {
    padding: .5rem 0 1rem;
    text-align: left;
  }
}