body{

}
header {
	background-color: #29211e;
	border-bottom: 2px solid white;
}
.headerLeft {
	height: 175px;
	line-height: 175px;
}
.headerRight {
	height: 175px;
}
.menu > span > a {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: white;
	margin-left: 30px;
}
.menu {
	height: 175px;
	line-height: 210px;
	text-align: right;
}
.center-bg {
	background:#fff url("images/bg-body1.png") center center repeat;
}
.centerUpperLeft {
	position: relative;
}
.centerUpperLeft > img {
	width: 100%;
	height: 100%;
	display: block;
}
.chairLabelPrice {
	position: absolute;
	bottom: 25px;
	right: 45px;
	text-align: center;
}
.viewDetails {
	background-image: url("images/buttons.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 36px;
	width: 110px;
	font-size: 14px;
	position: relative;
	color: #937300;
	font-weight: bold;
}
p.vdText {
	position: absolute;
	top: 7px;
	left: 6px;
}
.centerUpperRightText {
	padding-top: 110px;
}
.centerUpperRight {
	background-image: url("images/bg-pattern.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.centerUpperRightText > p {
	padding-left: 50px;
	padding-right: 50px;
	text-align: left;
	padding-top: 30px;
	font-family: monospace;
	font-size: 18px;
}
.borderWhiteLeftBottomRight {
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-color: white;
	border-left-color: white;
	border-right-color: white;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
}
.photo3 > img{
	min-width: 100%;
	height: auto;
	display: block;
}
.photo3Context {
	padding:30px 20px;
}
.photo3Context > h2{
	color: #fad826
}
.photo3Context > p {
	color: white;
	font-size: 14px;
	font-family: monospace;
	font-weight: bold;
	height: 80px;
}
.living,.kitchen{
	background-color: #4d3d35;
	position: relative;
}
.bedroom {
	background-color: #29211e;
	position: relative;
}
.separator-light {
	background-image: url(images/separator-light.png);
	background-repeat: repeat-x;
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
}
.white3 {
	background-color: white;
	height: 330px;
	position: relative;
}
.call,.add{
	padding-top: 30px;
	padding-left: 30px;
}
h6 {
	font-size: 14px;
	color: #7a7a7a;
	font-family: monospace;
	font-weight: bold;
}
h4 {
	font-weight: bold;
}
.separator-light-vertical {
	background-image: url("images/separator-light-vertical.png");
	background-repeat: repeat-y;
	position: absolute;
	right: 0;
	top:10px;
	height: 310px;
	width: 10px;
}
.carvingresortCenter {
	height: 180px;
	width: 80%;
	margin-right: 40px;
	margin-left: 40px;
	background-color: #dbdbd2;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
.ftb {
	padding-top: 30px;
	width: 80%;
	position: absolute;
	left: 0;
	right: 0;
	margin:0 auto;
	font-size: 14px;
	color: #7a7a7a;
	font-family: monospace;
	font-weight: bold;
}
.carvingresortCenter > img {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
}
.carvingContext,.resortContext {
	width: 120px;
	padding-top: 20px;
	padding-left: 20px;
}
p.contextCenter,p.contextLower {
	font-weight: bold;
}
p.contextLower {
	padding-top: 15px;
}
.Gradientlayer {
	height: 10px;
	width: auto;
	background: -webkit-linear-gradient(white,gray);
	background: -o-linear-gradient(white,gray);
	background: -moz-linear-gradient(white,gray);
	background: linear-gradient(white,gray);
}
.footer-bg {
	background-color: #ddbf28;
}
p#title {
	color: #29211e;
	font-weight: bold;
	font-size: 18px;
}
.footerLeft,.footerCenter,.footerRight {
	margin-top: 30px;
}
p#underImg {
	padding-top: 20px;
}
.footerLeft {
	position: relative;
	padding-right: 30px!important;
}
.footerCenter,.footerRight {
	padding-left: 40px!important;
}
.separator-dark-vertical1,.separator-dark-vertical2 {
	background-image: url("images/separator-dark-vertical.png");
	background-repeat: repeat-y;
	position: absolute;
	right: 0;
	top: 0;
	height: 350px;
	width: 10px;
}
.date,.blog3Text {
	display: inline-block;
	vertical-align: top;
}
.blog3Text {
	width: 240px;
	margin-left: 10px;
}
p.text1 {
	margin-bottom: 5px;
	font-weight: bold;
}
p.text2 {
	margin-bottom: 30px;
}
p.date {
	text-align: center;
	color: white;
	font-weight: bold;
	width: 50px;
	background-image: url(images/bg-time.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}
.email {
	width: 100%;
	border: 3px solid #ab8b00;
}
div#signup {
	background-image: url("images/buttons.png");
	background-repeat: no-repeat;
	background-position: -127px -35px;
	width: 110px;
	height: 35px;
	position: relative;
	margin-top: 10px;
}
#signup > p {
	text-align: center;
	position: absolute;
	top: 5px;
	left: 8px;
	color: white;
	font-weight: bold;
}
.footerRightUpper {
	position: relative;
	height: 40%;
}
.separator-dark {
	background-image: url(images/separator-dark.png);
	background-repeat: repeat-x;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10px;
	width: 330px;
}
.footerRightLower {
	margin-top: 20px;
	height: 50%;
}
i.iconSizeAndMargin {
	font-size: 32px;
	margin-right: 15px;
}
i.fa:before {
	color: #34251d;
}
i.fa:after {
	color: white;
}
.footerLower {
	position: relative;
}
p.copyright {
	float: left;
	color: #a78700;
	font-weight: bold;
	line-height: 56px;
}
p.footerMenu {
	float: right;
	line-height: 56px;
}
.footerMenu > span > a {
	padding-left: 15px;
	color: #a78700;
	font-weight: bold;
}
.separator-dark2 {
	background-image: url(images/separator-dark.png);
	background-repeat: repeat-x;
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 100%;
}

@media (max-width: 992px) and (min-width: 300px) {
	.separator-light-vertical {
		background-image: url("images/separator-light-vertical.png");
		background-repeat: repeat-x;
		position: absolute;
		left: 10px;
		top: 320px;
		height: 10px;
		width: auto;
	}
	.separator-dark-vertical1 {
    	background-repeat: repeat-x;
    	left: 0;
    	top: 330px;
    	height: 10px;
    	width: 100%;
	}
	.separator-dark {
	    background-repeat: repeat-x;
	    bottom: -40px;
	    left: 0;
	    height: 10px;
	    width: 100%;
	}
	.blog3Text {
		width: auto;
	}
	.footerLeft,.footerCenter,.footerRight {
		text-align: center;
	}
	.headerLeft {
		text-align: center;
		height: 90px;
		line-height: 90px;
	}
	.headerLeft > img {
		max-width: 100%;
		height: auto;
	}
	.headerRight {
		text-align: center;
		height: 140px;
	}
	.menu > span {
		display: block;
		line-height: 25px;
	}
	.menu{
		text-align: center;
	}
	.footerRightLower {
		margin-top: 50px;
	}
	p.copyright,p.footerMenu {
		float: none;
	}
	.footerLower {
		text-align: center;
	}
}

@media (max-width: 992px) and (min-width: 767px) {
	.separator-dark-vertical2 {
    background-repeat: repeat-x;
    left: 0;
    top: 300px;
    height: 10px;
    width: 100%;
	}
}

@media (max-width: 767px) and (min-width: 576px) {
	.separator-dark-vertical2 {
    background-repeat: repeat-x;
    left: 0;
    top: 550px;
    height: 10px;
    width: 100%;
	}
}

@media (max-width: 576px) {
	.separator-dark-vertical2 {
    background-repeat: repeat-x;
    left: 0;
    top: 550px;
    height: 10px;
    width: 100%;
	}
}

@media (max-width: 1200px) {
	.footerLeft {
		padding-right: 0!important;
	}
	.footerCenter,.footerRight {
		padding-left: 0!important;
	}
}