header
{
  background-color: black;
}

.container
{
  width: 1000px;
  margin: 0 auto;
}

#menu
{
  color: white;
  float: left;
  margin: 30px auto;
}

#logo
{
  float: left;
  left: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

#menu ul
{
  list-style-type: none;
}

#menu li
{
  float: left;
  padding: 25px;
  font-weight: bold;
}

#menu a
{
  text-decoration: none;
  color: white;
}

#menu a:hover
{
  color: #FFDC35;
}

.clear
{
  clear: left;
}

#main_bg
{
  background-image: url("img/bg-body.png");
  width: 100%;
  padding: 0 20px;
}

#cover_img
{
  background-image: url("img/chair.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 363px
}

#main_descript
{
  background-image: url("img/bg-pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main_descript h1
{
  text-align:center;
  padding-top:50px;
  padding-bottom: 30px;
}

#main_descript p
{
  line-height: 27px;
  letter-spacing: 3px;
  padding:15px;
  text-align: justify;
}

#cover2 img
{
  width: 100%;
}

.padding_clear
{
  padding: 0px;
}

#cover2 h3
{
  color: #FFDC35;
}

#cover2 .col-md-4
{
  background-color: #4b3a33;
}

#cover2 .col-md-4:hover
{
  background-color: black;
}

#cover2 p
{
  color: white;
}

.three_img
{
  padding: 20px;
  background: url("img/separator-light.png") repeat-x;
}

#cover3
{
  background-color: white;
  border-bottom: 10px solid linear-gradient (left,#000,#FFF);
  padding-top: 10px;
  padding-bottom: 10px;
}

#visit
{
  background: url("img/separator-light-vertical.png") repeat-y right top;
  padding-bottom: 60px;
  padding-top: 10px;
}

.visit_info
{
  margin-top: 20px;
}

.visit_info p
{
  margin-top: 25px;
  color: #7b7b7b;
  font-weight: bold;
}

.visit_info h3
{
  margin-top: 0px;
  font-weight: bold;
}

.blog_from
{
  padding-left: 25px;
  padding-right: 30px;
}

.blog_from a
{
  text-decoration: none;
  color: black;
}

.blog_from a:hover
{
  font-size: 12pt;
  color: #FF0080;
}

.blog_from h4
{
  margin-top: 35px;
  color: #7b7b7b;
  font-weight: bold;
  padding-bottom: 20px;
}

.blog_from_div
{
  position: relative;
}

.blog_from_word
{
  background-color: #CECEFF;
  width:132px;
  height: 152px;
  float: left;
}

.blog_from_pic
{
  float: left;
}

footer
{
  background-color: #FFE153;
}

#cover_bottom
{
  padding-top: 10px;
  padding-bottom: 10px;
}

#cover_bottom_1
{
  padding-right: 10px;
}

#connection_top
{
  margin-bottom: 30px;
}

.cover_bottom_pding
{
  background: url("img/separator-dark-vertical.png") repeat-y right top;
}

#connection
{
  margin: 20px auto 40px auto;
}

#cover_bottom_2
{
  padding-bottom: 51px;
}

#cover_bottom_2_calender
{
  padding-top: 15px;
}

#cover_bottom_3
{

}

#email
{
  background: url("img/separator-dark.png") repeat-x bottom left;
  padding-left: 10px;
}

#email_btn
{
  background-color: white;
  width: 100%;
}

#correct_btn
{
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  border-width: 0px;
}

#social
{
  margin-top: 20px;
  padding-left: 10px;
}

#social img
{
  margin-right: 60px;
}

#bottom_menu
{
  float: right;
}

#bottom_menu ul
{
  list-style-type: none;
}

#copyright
{
  padding-top: 10px;
  background: url("img/separator-dark.png") repeat-x top left;
}

#bottom_menu li
{
  float: left;
  padding:0px 10px;
}

#bottom_menu a
{
  text-decoration: none;
  color: black;
}

#bottom_menu a:hover
{
  color: white;
}
