/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--    Font Style    -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


h1, h2, h3, h4, h5, h6, li, .chairDetails a,.time p , .signUpBtn , .innerBox{
  font-family: "Oswald";
}




/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  Navigation bar  -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/

header{
  background-color:#241b18;
  border-bottom: 1px solid #ffffff;
}

.headerStyle {
  padding: 20px 0;
}


header ul {
  padding-left: 0;
  margin: 0;
}


header li {
  display: inline-block;
  margin-top: 10px;
}


@media screen and (max-width: 576px) {
    header li {
        display:block;
        text-align: center;
    }
}


header li a {
  color: #ffffff;
  font-family: "Oswald";
  font-size: 16px;
  padding: 0 15px;
}


header li a:hover{
  color: #ffc947;
  text-decoration: none;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--upperContent      -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


body {
  background-image: url("img/bg-body.png");
  margin: 0;
}


.upperContent {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}


.chairImgBox {
  position: relative;
  background-image:url(img/chair.jpg);
  background-position: center;
  background-size: cover;
}


@media screen and (max-width: 576px) {
  .chairImgBox {
    height: 400px;
  }
}


.chairDetails {
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: center;
}


.whickerChair {
  margin-bottom: 0;
}


.price {
  font-size: 26px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 5px;
}


.viewBtn {
  display: block;
  background-position: 0 0;
  background:url(img/buttons.png) no-repeat;
  width: 109px;
  height: 34px;
  text-align: center;
}


.chairDetails a {
  text-decoration: none;
  line-height: 34px;
  color: #966a01;
  font-size: 16px;
}


.chairDetails a:hover{
  color: #241b18;
  text-decoration: none;
}


.chairDescriptionBox {
  background-image: url(img/bg-pattern.jpg);
  background-size: cover;
  padding: 70px;
}


.chairDescriptionBox img {
  width: 100%;
  height: 100%;
}


.chiarDescription h1 {
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
  line-height: 60px;
  text-shadow: 1px 1px #fff;
  margin-bottom: 20px;
}


.chiarDescription p{
 text-align: justify;
 line-height: 30px;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  middleContent   -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


.middleContent img {
  width: 100%;
}


.middleLeft, .middleCenter, .middleRight {
  padding: 0;
}


.middleDescription {
  background: url(img/separator-light.png) repeat-x top left;
  padding: 20px;
}


.middleLeft, .middleRight {
  background-color: #4b3a33;
}


.middleCenter {
  background-color: #241b18;
}


.middleContent h5 {
  color: #ffc947;
}


.middleContent p {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  bottomContent   -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


.bottomContent {
  background-color: #fff;
}


.bottomleft {
  padding: 40px 20px;
  height: 100%;
  background: url(img/separator-light-vertical.png) repeat-y top right;
}


.bottomContent h6 {
  color: #7b7b7b;
  margin-bottom: 0;
}


.bottomleft p {
  font-family: "Oswald";
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 40px;
}


.bottomRightBox {
  padding-top: 40px;
  padding-bottom: 40px;
}


.bottomRightInner {
}


.innerBox {
  overflow: hidden;
  margin: 15px;
  background-color: #ddd;
}


.innerBoxDetails {
  overflow: hidden;
  float: left;
  width: 50%;
  height: auto;
  padding: 15px;
}


.innerBox img {
  float: right;
  width: 50%;
  height: auto;
}


.innerBoxDetails p {
  font-size: 16px;
}


.innerBoxDetails h6 {
  color: #340000;
  line-height: 1.25em;
  padding-bottom: 35px;
}


.innerBoxDetails a{
  color: #340000;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--      Footer      -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


footer {
  background-color: #e7b32e;
  padding-top: 40px;
  -webkit-box-shadow: 0px -4px 10px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px -4px 10px rgba(50, 50, 50, 0.25);
  box-shadow:         0px -4px 10px rgba(50, 50, 50, 0.25);
  border-top: 1px solid #fff;
}


footer .row {
  background: url(img/separator-dark.png) repeat-x left bottom;
}


.footerLeft {
  background: url(img/separator-dark-vertical.png) repeat-y right top;
  padding: 20px 20px 20px 0;
  margin-bottom: 20px;
}


.footerLeft img {
  width: 100%;
  margin: 20px 0;
}


.footerLeft a {
  color: inherit;
  text-decoration: underline;
}


.footerCenter {
  background: url(img/separator-dark-vertical.png) repeat-y right top;
  padding: 20px 20px 0;
  margin-bottom: 20px;

}


.post {
  display: flex;
  padding: 20px 0;
}


.time {
    background: url(img/bg-time.png) no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }


.time p {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding: 0;
    margin: 0;
    text-align: center;
  }


.postDetail {
  flex: 1;
}


.postDetail p {
  font-size: 0.75rem;
}


.footerRight {
  padding: 20px 0 20px 20px ;
  margin-bottom: 20px;
}


@media screen and (max-width:576px) {
  .footerLeft, .footerRight {
    padding-left: 15px;
    padding-right: 15px;
  }
}


.newsLetter {
  background: url(img/separator-dark.png) repeat-x left bottom;
}


#email {
  background-color: #fff;
  width: 100%;
  height: 35px;
  color: #4b3a33;
  font-size: 14px;
  border: 3px solid #af8112;
  margin: 0;
}


.signUpBtn {
 background:url(img/buttons.png) no-repeat;
 background-position: -13px -39px;
 padding-bottom: 55px;
 margin-top: 5px;
 display: block;
 width: 83px;
 height: 26px;
 color: #fff;
 font-size: 12px;
 text-align: center;
 line-height: 24px;
 border: none;
}


.socialMedia h5 {
  margin-top: 23px;
}


.socialMedia a{
  display: inline-block;
  margin-right: 20px;
}

.facebook {
  background: url(img/icons.png);
  background-position: -46px -112px;
  height: 33px;
  width: 33px;
}


.google {
  background: url(img/icons.png);
  background-position: -46px -153px;
  height: 33px;
  width: 33px;
}


.twitter {
  background: url(img/icons.png);
  background-position: -46px -194px;
  height: 33px;
  width: 39px;
}


.copyRight {
  padding-top: 5px;
}


.copyRight, .copyRight a {
    color: #ab7d0f;
    font-size: 14px;
}


.copyRight p{
  display: inline-block;
}


@media screen and (max-width:576px) {
  .copyRight p{
    padding-left: 15px;
  }
}


.copyRight ul {
  list-style: none;
  padding: 0;
}


.copyRight li {
  display: inline;
  padding-left: 15px;
}
