/***** star share css *****/
h1,h4{
  font-weight: 400;
}
.center-container{
  width: 80%;
  margin: 0 auto;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
.header>.flex-container,.copyright.flex-container{
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0;
}
.navigation{
  display: flex;
}
.navigation>li>a{
  color: #fff;
  padding: 5px;
}
.navigation>li>a:hover{
  color: #e2a43a;
}
.header,.main{
  box-shadow: 0 0 10px;
  border-bottom: 1px solid #fff;
}
/***** end share css *****/
/***** star header *****/
.header{
  background-color: #1a0d00;
}
.header img{
  width: 100%;
}
/***** end header *****/
/***** (1) star main *****/
.main{
  background: url(../img/bg-body.png);
}
/******* (1.1) star banner *******/
.banner{
  border: 1px solid #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner-chair-photo-container{
  position: relative;
  overflow: hidden;
}
.banner-chair-photo-container img{
  height: 100%;
}
.banner-chair-price{
  position: absolute;
  right: 2vw;
  bottom: 2vw;
  text-align: center;
}
.banner-chair-price p{
  font-size: 32px;
}
#banner-chair-button{
  width: 113px;
  height: 39px;
  color: rgba(147, 112, 37, 1);
  background: url(../img/buttons.png) no-repeat;
}
#banner-chair-button:hover{
  background-position:-113px 0;
}
.banner-chair-text-area{
  padding: 30px 45px;
  height: 100%;
  background: url(../img/bg-grey.jpg) no-repeat;
  background-size: cover;
}
.banner-chair-text h1{
  text-align: center;
  text-shadow: 1px 1px #fff;
  font-size: 40px;
  margin-bottom: 20px;
}
.banner-chair-text p{
  line-height: 25px;
}
/******* (1.1) end banner *******/
/******* (1.2) star house *******/
.house{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.rooms-container img{
  width: 100%;
}
.rooms-container:nth-child(odd){
  background-color: #4f3629;
}
.rooms-container:nth-child(2){
  background-color: #1a0d00;
}
.rooms-text{
  padding: 2vw;
  background: url(../img/separator-light.png) repeat-x top;
}
.rooms-text h4{
  color: #ffc34d;
  line-height: 35px;
}
.rooms-text p{
  color: #fff;
  line-height: 20px;
}
/******* (1.2) end house *******/
/******* (1.3) star phoneAddress-and-blog*******/
.phoneAddress-container{
  width: 33.333%;
}
.phoneAddress h4,.blog-area h4{
  color: rgb(126, 126, 126);
  line-height: 20px;
}
.phoneAddress p{
  font-size: 28px;
  margin-bottom: 25px;
  line-height: 45px;
}
.blog-container{
  width: 66.666%;
}
.phoneAddress,.blog-area{
  height: 100%;
  padding:20px;
  background-color: #fff;
}
.blog-area{
  background: url(../img/separator-light-vertical.png) repeat-y left;
  background-color: #fff;
}
.two-blog-container.flex-container{
  margin: 15px 0;
  justify-content: space-around;
}
.two-blog-container>div{
  display: flex;
  width: 45%;
  justify-content: space-between;
}
.first-blog,.second-blog{
  background-color: #e5dfd7;
}
.blog-text{
  color: #473011;
  margin: auto 20px;
}
.blog-text p:nth-child(1){
  font-size: 14px;
}
.blog-text p:nth-child(2){
  margin: 20px 0;
}
/******* (1.3) end phoneAddress-and-blog*******/
/***** end main *****/
/***** star footer *****/
.footer{
  background-color: #ffc34d;
}
.site-message{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.site-message>div{
  padding: 20px 0;
}
.show-room{
  padding-right: 20px;
}
.blog-posts{
  padding: 0 20px;
}
.site-message h4:nth-child(1){
  margin-bottom: 20px;
}
.show-room img{
  width: 100%;
  margin-bottom: 20px;
}
.show-room p:nth-child(even){
  margin: 30px 0;
}
.show-room a:link{
  /* a連結出現下底線 */
  text-decoration: underline;
}
.blog-posts{
  padding: 0 25px;
  height: 100%;
  background: url(../img/separator-dark-vertical.png) repeat-y left;
}
.onedate-post-container{
  margin-bottom: 30px;
}
.date{
  width: 55px;
  height: 55px;
  line-height: 25px;
  background: url(../img/bg-brown.png) no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.post{
  width: 70%;
  margin: 0 auto;
}
.newsletter-iconlink{
  height: 100%;
  padding-left: 20px;
  background: url(../img/separator-dark-vertical.png) repeat-y left;
}
.newsletter-container{
  margin-bottom: 40px;
}
.input-email{
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 15px;
}
#email-button{
  background: url(../img/buttons.png) no-repeat;
  width: 100px;
  height: 30px;
  color: #fff;
  background-position: -5px -38px;
}
#email-button:hover{
  background-position: -119px -38px;
}
#icon-fb-button,#icon-google-button,#icon-twitter-button{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.iconlink-container{
  padding-top: 40px;
  background: url(../img/separator-dark.png) repeat-x top;
}
.iconlink-container button{
  background: url(../img/icons.png) no-repeat;
}
#icon-fb-button{
  background-position: -43px -109px;
}
#icon-fb-button:hover{
  background-position: 3px -109px;
}
#icon-google-button{
  background-position: -43px -150px;
}
#icon-google-button:hover{
  background-position: 3px -150px;
}
#icon-twitter-button{
  background-position: -47px -191px;
}
#icon-twitter-button:hover{
  background-position: -1px -191px;
}
.site-message{
  background: url(../img/separator-dark.png) repeat-x bottom;
}
.site-message h4{
  color: #1a0d00;
}
.site-message p:nth-child(1){
  color: #965d18;
}
/***** end footer *****/
@media (min-width:1150px){
  .banner-chair-photo-container>img{
    width: 100%;
    height: auto;
  }
}
@media (max-width:1150px){
  .two-blog-container>div{
    width: 80%;
    margin-bottom: 15px;
  }
}
@media (max-width:780px){
  .center-container{
    width: 100%;
  }
  .header>.flex-container,.copyright.flex-container{
    justify-content: space-around;
  }
  .phoneAddress-container,.blog-container{
    width: 100%;
  }
  .blog-area{
    background: url(../img/separator-light.png) repeat-x top;
    background-color: #fff;
  }
}
@media (max-width:960px){
  .header>.flex-container,.copyright.flex-container{
    justify-content: space-around;
  }
  .link-logo,.copyright-text{
    margin-bottom: 10px;
  }
  .banner{
    display: block;
  }
  .banner-chair-photo-container>img,.banner-chair-text-area{
    width: 100%;
    height: auto;
  }
  .house{
    display: block;
  }
  .rooms-container img{
    height: 100%;
  }
  .site-message{
    display: block;
  }
  .blog-posts{
    padding: 25px 0px;
    background: url(../img/separator-dark.png) repeat-x top;
  }
  .newsletter-iconlink{
    padding: 40px 0 0 0;
    background: url(../img/separator-dark.png) repeat-x top;
  }
  .show-room,.blog-posts,.newsletter-iconlink-container,.iconlink-container{
    padding: 20px;
  }
}
