main {
  min-width: 375px;
  background: url(../img/bg-body.png) center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
@media (min-width: 1200px) {
  .banner_container {
    border: 1px solid white;
  }
}
.focus_item {
  position: relative;
  height: 100%;
}
.focus_item img {
  height: 100%;
  object-fit: cover;
}
.focus_item_info {
  position: absolute;
  bottom: 14px;
  right: 16px;
  text-align: center;
  text-transform: capitalize;
}
@media (min-width: 1200px) {
  .focus_item_info {
    bottom: 28px;
    right: 32px;
  }
}
.focus_item_info a {
  padding: 10px 0;
  width: 124px;
  height: 40px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9e6800;
  background: url(../img/buttons.png);
  background-size: 255px;
}
.focus_item_info a:hover {
  background-position: -130.4px 0;
  color: white;
}
.banner_article {
  height: 100%;
  padding: 32px;
  background: url(../img/bg-pattern.jpg) no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  .banner_article {
    padding: 64px;
  }
}
.banner_article h2 {
  margin: 0;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: white 1px 1px;
}
@media (min-width: 1200px) {
  .banner_article h2 {
    margin: 16px 32px;
    font-size: 32px;
    line-height: 48px;
  }
}
.banner_article p {
  font-size: 1rem;
  margin-top: 16px;
  line-height: 28px;
  text-align: justify;
}
@media (min-width: 768px) {
  .banner_article p {
    margin-top: 32px;
  }
}
.card_list > div:nth-child(odd) {
  background: #4e3932;
}
.card_list > div:nth-child(even) {
  background: #261b17;
}
.row_border {
  height: 8px;
  background: url(../img/separator-light.png) repeat-x;
}
.card_container {
  display: flex;
  flex-direction: column;
}
.card_container h3 {
  margin: 12px 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffc947;
}
.card_container p {
  margin-bottom: 32px;
  font-size: 14px;
  text-align: justify;
  color: white;
}
.card_container div:nth-child(3) {
  padding: 0 24px;
}

.info_container > div {
  background: white;
}
@media (min-width: 1200px) {
  .info_container > div {
    padding: 6px 0 12px;
  }
}
.info_container h3 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  color: #7b7b7b;
}
.info_container a:hover {
  color: #b37b00;
}
.order_info {
  margin: 0;
  padding: 26px 24px 20px;
  height: 100%;
  background: url(../img/separator-light.png) repeat-x top/4px;
}
@media (min-width: 1200px) {
  .order_info {
    background: url(../img/separator-light-vertical.png) repeat-y right/6px;
  }
}
.order_info a {
  color: black;
  font-size: 28px;
  text-transform: uppercase;
}
.order_info div + div {
  margin-top: 24px;
}
.blog_info {
  padding: 26px 0 20px;
  height: 100%;
}
.blog_article_container {
  display: flex;
  flex-wrap: wrap;
  background-color: #dedad2;
  border: 2px white double;
}
.article_info {
  padding: 16px;
}
.article_info_time,
.article_info_title,
.article_info a {
  color: #4e3932;
}
.article_info_time {
  font-size: 12px;
}
.article_info_title {
  margin-top: 16px;
  font-size: 16px;
}
.article_info a {
  margin-top: 40px;
  text-transform: uppercase;
}
.article_img_container {
  text-align: end;
}
.article_img_container img {
  max-width: 160px;
  height: 100%;
  object-fit: cover;
}
