#main{
	height : auto;
	margin-top: 1px;
}

#main-left{
	@extend .main-block;
	@include setMainBlock("main-left.jpg", $main-bgcolor-light);
}

#main-middle{
	@extend .main-block;
	@include setMainBlock("main-middle.jpg", $main-bgcolor-hard);
}

#main-right{
	@extend .main-block;
	@include setMainBlock("main-right.jpg", $main-bgcolor-light);
}

#contact{
	background-color : $contact-bg-color;
	box-shadow: 0px -10px 5px -5px #CCC8C9 inset;
}

#contact-left{
	background: url(#{$img-path}/separator-light-vertical.png) repeat-y right top;
	padding: 20px;
	h5{
		font-size: 12px;
		font-weight: bold;
		color :$contact-text-color;
	}
	h3{
		font-weight: bold;
	}
}

#contact-right{
	padding: 20px; 
	.blog-title{
		font-weight: bold;
		padding-left: 16px;
		color :$contact-text-color;
	}
	.blog-left{
		@extend .blog-block;
		@include setBlogImg("blog-left.png");
	}
	.blog-right{
		@extend .blog-block;
		@include setBlogImg("blog-right.png");
	}
}