body {
	background-image: url(../images/mainbg.png);
	padding: 0;
	margin: 0;
}

h1, h2 {
	margin: 0;
}

.clear {
	clear: both;
}



/********** Header Start **********/
header {
	background-color: black;
	height: 100px;
}


.test {
	border: 3px red;
	height: 100%;
}

#logo {
	background-image: url(../images/logo.png);
	height: 100px;
	background-size: 100% 100%;
}
.nav {
	padding-right: 0px;
	
}
nav {
	float: right;
}
nav ul {
	list-style-type: none;
	margin-top: 60px;
	padding: 0;

}
nav	li {
	display: inline-block;
	color: white;
	font-size: 15px;
	padding: 0px 15px;

}

.list-last {
	padding-right: 0;
}
/********** Header End **********/

/********** ContentTop Start **********/
#topPic {
	position: relative;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 409px;
}

#description{
	position: absolute;
	bottom: 30px;
	right: 30px;
	line-height: 1;
}
#productName {
	font-size: 14px;
	margin-bottom: 0;
}
#price{
	font-size: 25px;
	margin-bottom: 0;
}
#productDetail {
	border:2px solid green;
	background-color: yellow;
	color: #55AA00;
	text-align: center;
	padding: 7px;
	font-size: 12px;
}

#topText {
	background-color: #FFE4E1;
	height: 409px;
	padding: 30px;
}

#topText h1 {
	text-align: center;
	font-size: 40px;
	line-height: 1.3;
	margin-bottom: 30px;
}

#topText p {
	font-size: 18px;
	word-spacing: 5px;
}
/********** ContentTop End **********/

/********** ContentMid Start **********/
.introRoom {
	padding: 0;
}
.roomPic {
	height: 181px;
	background-size: 100% 100%;
}
#room1 .roomPic {
	background-image: url(../images/display1.png);
	background-repeat: no-repeat; 
}
#room2 .roomPic {
	background-image: url(../images/display2.png);
	background-repeat: no-repeat; 
}
#room3 .roomPic {
	background-image: url(../images/display3.png);
	background-repeat: no-repeat; 
}
.roomDes {
	background-color: #444444;
	padding: 20px 40px;
	border: dotted orange;
	border-width: 5px 0px 0px 0px;
}
#room2 .roomDes {
	background-color: black;
}
.roomDes h2 {
	color: #DDAA00;
}
.roomDes p {
	color: white;
}
/********** ContentMid End **********/


/********** ContentBot Start **********/
#contentBot {
	background-color: white;
	padding-top:10px;
	padding-bottom: 10px; 
}

.botItem {
	padding: 0px 40px;
}

#botItemLeft {

	border: dotted orange;
	border-width: 0px 5px 0px 0px;
	padding-bottom: 60px;
}


#botItemLeft h3 {
	font-size: 15px;
	color: gray;
	margin-bottom: 0px; 

}

#botItemLeft p {
	font-size: 30px;
	word-spacing: 10px;
}

#blogs h3{
	color: gray;
	font-size: 20px;

}
.blogItem {
	background-color: #AAAAAA;
	margin: 0 15px;
	padding-right: 0; 
}
.blog {
	float: left;
	display: flex;
	width: 320px;
}
.introBlog {
	float: left;
	background-color: #AAAAAA;
	margin-top: 0px;
	padding: 10px;
	flex: 1
}

.authorPic{
	float: left;
	flex: 1
}
.authorPic img {
	height: 100%;
	width: 100%
}


.blogDate {
	font-size: 13px;
}
.blogTitle {
	font-size: 20px;
	margin-bottom: 40px;
}
.blogConnect {
	font-size: 15px;
	margin-bottom: 20px;

}

#blogLeft {
	margin-right: 60px;
}

/********** ContentBot End **********/


/********** Footer Start **********/

footer {
	background-color: #DDAA00;
}

footer h4{
	font-size: 20px;
	margin: 0px 0px 20px 0px;
}

#footer {
	border: 3px dotted #CC6600;
	border-width: 0px 0px 5px 0px;
}

#showRoom {
	padding-left: 0;
	margin-top: 40px;
	margin-bottom: 10px;
	border:5px dotted #CC6600;
	border-width: 0px 5px 0px 0px;
}

#showRoom img {
	width: 100%;
}

#showRoom p {
	margin: 20px 0px;
}

#showroomPhone {
	margin: 30px;
}

#blogPost {

	margin-top: 40px;
	margin-bottom: 10px;
	border:5px dotted #CC6600;
	border-width: 0px 5px 0px 0px;
}

.postBox{
	margin:20px  0px 20px 0px;
	margin-left: 0px;
}
.postDate {
	text-align: center;
	color: white;
	background-color: #444444;
}
.postTitle{
	font-size: 20px;
}
.postDes {
	line-height: 1.5;
}

#newsletter {
	margin-top: 40px;
	margin-bottom: 10px;
}

#emailForm{
	border:5px dotted #CC6600;
	border-width: 0px 0px 5px 0px;
	padding-bottom: 30px;
	margin-bottom: 30px;

}
#emailForm input {
	border: 3px solid #BB5500;
}

#emailForm img {
	margin-top: 10px;
}

#social img {
	padding-right: 30px;
}

.bottomBox {
	color: #BB5500;
	font-size: 15px;
}

#copyright {
	float: left;
}

#bottomNav{
	float: right;
}

#bottomNav ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#bottomNav li {
	display: inline-block;
	padding: 0px 5px 0px 0px;
}








