:root {
	--theme-1: #241a17;
	--theme-2: #4b3a33;
	--theme-3: #eab942;
	--theme-4: #966a03;
	--ignore: #7c7c7c;
	--blog-artical-background: #dddad3;
	--input-border: #af811b;
	--second-nav-text: #ab7d1a;
}

header {
	background-color: var(--theme-1);
	border-bottom: 1px solid white;
}

main {
	background-image: url("../img/bg-body.png");
}

._tag img {
	width: 100%;
}

._tag div {
	position: absolute;
	bottom: 5%;
	right: 5%;
	text-align: center;
}

._tag h2 {
	margin-bottom: 0;
	font-size: 1rem;
}

._tag p {
	font-size: 1.5rem;
	line-height: 30px;
	margin-bottom: 0;
}

._tag a {
	text-decoration: none;
	line-height: 45px;
	padding: 0 10px;
	display: inline-block;
	margin-top: 10px;
}

._flagship ._tag a {
	background-size: 204%;
	color: var(--theme-4);
	background-image: url("../img/buttons.png");
}

._flagship ._tag a:hover {
	background-position: 100% 0;
}

._intro {
	height: 100%;
	background-size: cover;
	padding: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

._flagship ._intro {
	background-image: url("../img/bg-pattern.jpg");
}

._intro h2 {
	text-align: center;
}

._intro p {
	margin-bottom: 0;
}

._series img {
	width: 100%;
}

._series>div:nth-child(2n+1) {
	background-color: var(--theme-2);
}

._series>div:nth-child(2n) {
	background-color: var(--theme-1);
}

._series>div>div {
	padding: 20px;
	letter-spacing: -1px;
	background-image: url("../img/separator-light.png");
	background-repeat: repeat-x;
}

._series h3 {
	font-size: 1rem;
	color: var(--theme-3);
}

._series p {
	color: white;
}

._info {
	padding: 15px;
}

._info.row {
	padding: 0;
	margin: 0;
}

._info>div:first-child {
	background-image: url("../img/separator-light.png");
	background-repeat: repeat-x;
	background-position: unset;
	background-clip: padding-box;
}

/* ._info>div:first-child>div {
	margin-top: 15px;
} */

._info h3 {
	font-size: 1.1rem;
	font-weight: 600;
	letter-spacing: -1px;
	color: var(--ignore);
	margin-bottom: 15px;
}

._info p {
	margin-bottom: 0;
	font-size: 2rem;
	letter-spacing: -2px;
}

._blog {
	background-color: white;
}

._blog img {
	width: 100%;
}

._blog>.row>div {
	padding: 15px;
}

._blog>.row>div>div, ._blog>.row>div>img {
	flex: 1;
}

._blog-read-more {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px;
	background-color: var(--blog-artical-background);
}

._blog-read-more h4 {
	font-size: 0.8rem;
	font-weight: 400;
}

._blog-read-more p {
	font-size: 1rem;
	line-height: 1.2rem;
}

._blog-read-more p, ._blog-read-more span {
	letter-spacing: -1px;
	font-weight: 600;
}

._blog-read-more span {
	font-size: 0.9rem;
}

footer {
	background-color: var(--theme-3);
	color: var(--theme-2);
	box-shadow: 0 10px 25px 10px;
}

footer h3 {
	font-size: 1rem;
	letter-spacing: -2px;
	font-weight: 700;
}

._others>div {
	background-image: url("../img/separator-dark.png");
	background-repeat: repeat-x;
	margin-top: 30px;
	padding-top: 30px;
}

@media (max-width: 992px ){
	._others>div:first-child {
		background: none;
		padding-top: 0;
	}
}

._visit-info, ._recent-post, ._social-media {
	padding-left: 15px;
	padding-right: 15px;
}

._visit-info a {
	display: block;
	color: inherit;
	text-decoration: underline;
}

footer p, ._visit-info a {
	margin-bottom: 0;
	margin-top: 1rem;
}

._recent-post h4 {
	font-size: 0.7rem;
	font-weight: 800;
}

._recent-post>div {
	margin-top: 15px;
	margin-bottom: 45px;
}

._recent-post p {
	margin-top: 0;
	font-size: 0.5rem;
}

._date-block {
	background-color: var(--theme-2);
	border-radius: 5px;
	color: white;
	height: 60px;
	width: 60px;
	flex-shrink: 0;
	text-align: center;
	margin-right: 15px;
}

._date-block p {
	font-size: 18px;
	line-height: 30px;
}

._social-media input {
	border: 5px solid var(--theme-4);
	width: 100%;
}

._social-media>div>a {
	display: inline-block;
	text-align: center;
	color: white;
	text-decoration: none;
	width: 110px;
	line-height: 35px;
	background-image: url("../img/buttons.png");
	background-position: 7% 104%;
	background-size: 240%;
	margin-top: 20px;
}

._social-media>div>a:hover {
	text-decoration: none;
	color: aliceblue;
	background-position: 95% 104%;
}

._social-media>div+div {
	background-image: url("../img/separator-dark.png");
	background-repeat: repeat-x;
	margin-top: 30px;
	padding-top: 30px;
}

._link>a {
	display: inline-block;
	font-size: 0;
	height: 50px;
	width: 50px;
	background-image: url("../img/icons.png");
}

._link>a+a {
	margin-left: 20px;
}

._facebook-icon {
	background-position: 0% 58%;
	background-size: 255%;
}

._google-icon {
	background-position: 0% 79%;
	background-size: 255%;
}

._facebook-icon:hover {
	background-position: 87% 58%;
}

._google-icon:hover {
	background-position: 87% 79%;
}

._twitter-icon {
	background-position: 0% 100%;
	background-size: 215%;
}

._twitter-icon:hover {
	background-position: 100% 100%;
}

._page-bottom {
	background-image: url("../img/separator-dark.png");
	background-repeat: repeat-x;
	margin-top: 20px;
	padding-top: 20px;
	color: var(--theme-4);
	font-weight: 700;
}

._page-bottom span {
	display: inline-block;
}

._page-bottom a {
	color: var(--theme-4);
	display: inline-block;
}

._page-bottom a+a {
	margin-left: 10px;
}

._copyright {
	text-align: center;
}

._footer-nav {
	justify-content: space-around;
}

@media (min-width: 992px) {
	._info>div:first-child {
		background-image: url("../img/separator-light-vertical.png");
		background-repeat: repeat-y;
		background-position: right;
		margin-top: 0;
	}
	._info>div:first-child>div {
		margin-top: 0;
	}
	._blog-read-more span {
		margin-top: auto;
	}
	._copyright {
		text-align: start;
	}
	._footer-nav {
		justify-content: flex-end;
	}
	._others>div {
		background-image: url("../img/separator-dark-vertical.png");
		background-repeat: repeat-y;
		background-position: right;
		padding-top: initial;
	}
	._others>div:first-child {
		margin-top: 30px;
	}
	._others>div:last-child {
		background-image: none;
	}
	._others>div+div {
		padding-left: 15px;
		padding-right: 15px;
	}
	._visit-info {
		padding-left: 0;
	}
	._social-media {
		padding-right: 0;
	}
}