:root {
  --brand_primary: #241b18;
  --brand_secondary: #ffc947;
  --brand_brown: #4b3a33;
}

body {
  background: url(/img/bg-newbody.png) repeat center center;
  font-family: "Oswald";
}

p,
span,
em {
  text-align: justify;
  text-justify: inter-character;
  font-family: "Quattrocento Sans";
}

/* header */
/* --------------------------------------- */

header {
  border-bottom: 1px solid #fff;
  background: var(--brand_primary);
  padding: 1.7rem 0;
}

/* navbar */

header .navbar {
  padding: 0;
}

header img {
  width: 100%;
}

header .navbar .navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

header .navbar-toggler-icon {
  height: 2.5rem;
}

header .navbar-nav {
  margin-left: auto;
}

header .navbar .navbar-nav .nav-link {
  color: #fff;
  padding: 0.9rem 0.6rem;
  text-align: center;
}

header .navbar .navbar-nav .brand_active {
  color: var(--brand_secondary);
}

header .navbar .navbar-nav .nav-link:hover {
  color: var(--brand_secondary);
}

/* main */
/* --------------------------------------- */

main {
  box-shadow: 0 0 10px 5px var(--brand_primary);
  border-bottom: 15px solid transparent;
  border-image: linear-gradient(to top, rgb(0, 0, 0, 0.1) 0%, rgb(255, 255, 255) 50%);
  border-image-slice: 0 0 100% 0;
  background: #ffffff;
}

/* banner_group */

main > :first-child {
  border: 1px solid #fff;
}

/* banner_show */

main .banner_show {
  background: url(/img/chair.jpg) no-repeat center center / cover;
  align-items: flex-end;
  justify-content: flex-end;
  height: 407px;
}

main .show_body .show_items {
  margin-bottom: 2rem;
  line-height: 1.3;
}

main .show_body span {
  font-size: 0.9rem;
  padding-left: 10px;
}

main .show_body em {
  padding-left: 10px;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
}

main .show_body .show_btn {
  display: block;
  width: 109px;
  height: 34px;
  background: url(/img/buttons.png) 0px 195px;
  color: #966a01;
  text-decoration: none;
  font-family: "Oswald";
  border: none;
}

main .show_body .show_btn:hover {
  background: url(/img/buttons.png) 109px 195px;
}

/* banner_description */

main .banner_description {
  background: url(/img/bg-pattern.jpg) no-repeat center center / cover;
  align-items: center;
  justify-content: center;
  height: 407px;
}

main .description_body {
  color: var(--brand_primary);
}

main .description_body h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px #fff;
  font-size: 2.1rem;
  line-height: 1.4;
}

/* display_group */

main .display_group > div {
  padding-left: 0;
  padding-right: 0;
}

main .display_livingroom,
main .display_kitchen {
  background: var(--brand_brown);
}

main .display_bedroom {
  background: var(--brand_primary);
}

main .room_img {
  width: 100%;
}

main .row .room_body {
  padding: 1.8rem 1.8rem 1.25rem;
  background: url(/img/separator-light.png) repeat-x top left;
  color: #fff;
}

main .display_group h5 {
  color: var(--brand_secondary);
}

/* info_group */
main .info_group {
  margin: 0.7rem 0 0;
}

/* info_visit */

main .info_visit {
  padding: 0 1.8rem 3rem;
  background: url(/img/separator-light.png) repeat-x bottom left;
}

main .visit_body h6 {
  font-size: 0.9rem;
  margin-bottom: 0;
  margin-top: 1rem;
  color: #7b7b7b;
}

main .visit_body a {
  color: var(--brand_primary);
  font-size: 1.5rem;
}

/* info_blog */

main .info_blog {
  padding-top: 1rem;
}

main .info_blog h5 {
  color: #7b7b7b;
  font-size: 1rem;
  padding-left: 0.8rem;
}

main .info_blog .blog_body {
  margin-bottom: 1rem;
  border-right: 0.8rem solid #fff;
  border-left: 0.8rem solid #fff;
}

main .info_blog > :nth-child(2) {
  /* background: url(/img/carving-small.png) no-repeat top right #dddad3;
  height: 152px; */
}

main .info_blog > :nth-child(3) {
  /* background: url(/img/resort-small.png) no-repeat top right #dddad3;
  height: 152px; */
}

main .blog_body .blog_contact {
  padding: 0.3rem 1rem;
  background: #dddad3;
}

main .blog_body img {
  width: 100%;
}

main .blog_body span,
main .blog_body a {
  color: var(--brand_brown);
  padding: 0.5rem 0;
  font-size: 0.75rem;
}

main .blog_body h6 {
  color: var(--brand_brown);
  padding: 0.9rem 0;
  margin: 0;
  /* width: 50%; */
}

/* footer */
/* --------------------------------------- */

footer {
  border-top: 1px solid #fff;
  background: var(--brand_secondary);
  padding-bottom: 1.5rem;
}

/* footer_group */

footer .footer_group {
  background: url(/img/separator-dark.png) repeat-x bottom left;
  margin: 1.5rem 0 0.5rem;
  padding-bottom: 1.3rem;
}

footer .footer_group h5 {
  margin: 1rem 0;
  color: var(--brand_primary);
  font-size: 1rem;
}

/* footer_visitout */

footer .footer_visitout {
  background: url(/img/separator-dark.png) repeat-x bottom left;
  padding-bottom: 1.5rem;
}

footer .visitout_img {
  width: 100%;
}

footer .visitout_body {
  color: var(--brand_brown);
  font-size: 0.9rem;
  font-family: "Quattrocento Sans";
}

footer .visitout_body picture {
  display: block;
}

footer .visitout_body p {
  margin: 0.7rem 0 1.5rem;
}

footer .visitout_body a {
  display: block;
  color: var(--brand_brown);
}

footer .visitout_body a:last-child {
  text-decoration: underline;
}

/* footer_posts */

footer .footer_posts {
  background: url(/img/separator-dark.png) repeat-x bottom left;
  padding-bottom: 0.5rem;
}

footer .posts_date span {
  display: block;
  font: normal 14px "Oswald";
  width: 42px;
  height: 42px;
  border-radius: 10%;
  background: #4b3a33;
  box-shadow: 1px 1px 2px #4b3a33;
  color: #fff;
  text-align: center;
}

footer .posts_body:not(:last-child) {
  margin-bottom: 1rem;
}

footer .posts_content {
  margin-left: 1rem;
  width: 77%;
}

footer .posts_content h6,
footer .posts_content p {
  font-size: 0.9rem;
}

/* footer_newsletter */

footer .footer_newsletter {
  padding-bottom: 1.2rem;
  background: url(/img/separator-dark.png) repeat-x bottom left;
}

footer .newsletter_body input {
  font-size: 14px;
  border: 3px solid #af8112;
  font-family: "Quattrocento Sans";
}

footer .newsletter_body input::placeholder {
  color: var(--brand_brown);
}

footer .newsletter_btn {
  width: 83px;
  height: 26px;
  background: url(/img/buttons.png) -14px 26px;
  margin: 10px 0;
  color: #fff;
  padding: 0;
  border: none;
  font-size: 0.8rem;
}

footer .newsletter_btn:hover {
  background: url(/img/buttons.png) -128px 26px;
}

/* footer_social */

footer .footer_social a {
  color: var(--brand_brown);
  display: inline-block;
  margin-right: 1rem;
}

/* footer_aside */

footer .aside_body p,
footer nav a {
  color: #ab7d0f;
  font-size: 0.75rem;
  font-family: "Oswald";
}

footer .aside_body {
  justify-content: space-between;
  margin: 0 0.8rem;
}

footer .aside_body p {
  margin-right: 1.5rem;
}

footer aside nav {
  font-size: 0;
  margin-bottom: 0.8rem;
}

footer aside nav a {
  text-decoration: underline;
  padding: 0.3rem;
}

footer aside nav a:hover {
  color: var(--brand_primary);
}

/* Create Own Custom Responsive  */
/* --------------------------------------- */

@media screen and (min-width: 0) and (max-width: 475px) {
  header .navbar-toggler-icon {
    height: 1.6rem;
  }
  /* footer */
  footer .aside_body p {
    order: 1;
  }
}

@media screen and (min-width: 576px) {
  /* main .blog_body .blog_contact {
    padding: 1.5rem;
  } */
}

@media screen and (min-width: 768px) {
  /* header */
  header .container {
    padding: 0;
  }

  /* main */
  /* display_group */
  main .row .room_body {
    background: url(/img/separator-light-vertical.png) repeat-y top left;
  }

  /* footer */
  footer .container {
    padding-left: 0;
    padding-right: 0;
  }

  /* footer_group */
  footer .footer_group > .col-12 {
    padding-bottom: 0;
  }

  footer .footer_group .footer_visitout,
  footer .footer_group .footer_posts {
    background: url(/img/separator-dark-vertical.png) repeat-y top right;
  }

  footer .footer_group h5 {
    margin-top: 0;
  }

  footer .footer_visitout {
    padding-left: 0;
    padding-right: 1.3rem;
  }

  /* footer_posts */
  footer .posts_content {
    width: 67%;
  }

  /* footer_newsletter */
  footer .row > :last-child {
    padding-right: 0;
  }

  footer .footer_social h5 {
    margin-top: 1.2rem;
  }

  /* footer_aside */
  footer aside {
    padding: 0;
  }

  footer .aside_body {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  /* header */
  /* nav */
  header .navbar .navbar-nav .nav-link {
    padding: 1.5rem;
  }

  /* main */
  /* display_group */
  main .row .room_body {
    background: url(/img/separator-light.png) repeat-x top left;
  }

  main .room_body:last-child {
    height: 193px;
  }

  /* info_visit */
  main .info_visit {
    background: url(/img/separator-light-vertical.png) repeat-y top right;
  }

  /* info_blog */
  main .blog_body {
    padding-bottom: 0.5rem;
  }

  /* footer */
  /* footer_posts */
  footer .posts_content {
    width: 77%;
  }
}

@media screen and (min-width: 1200px) {
  /* header */
  /* nav */
  header .navbar .navbar-nav .nav-link {
    padding: 2rem;
  }

  main .room_body:last-child {
    height: auto;
  }

  /* footer */
  /* footer_posts */
  footer .posts_content {
    width: 80%;
  }
}
