
header {
  width: 100%;
  background-color: #241B18;
  border-bottom: 1px solid white;
}

.header .navbar-nav .nav-item .nav-link {
  color: white;
}

.header .navbar-dark .navbar-toggler {
  border: none;
  box-shadow: none;
}

.header .navbar-nav .nav-item .nav-link:hover {
  color: #FFC947;
}

.header .navbar-nav .nav-item .nav-link:focus {
  color: #FFC947;
}

.header .navbar-nav .nav-link.active {
  color:#FFC947;
}

.navbar-nav {
  font-size: 14px;
  text-transform: uppercase;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.navbar-collapse {
  justify-content: flex-end;
  align-self: flex-end;
}

.header__logo {
  width: 80%;
}

.header__navbar button {
  width: 20%;
}

@media (min-width:480px) {
  .header__logo {
    width: initial;
  }
  
  .header__navbar button {
    width: initial;
  }
  
}