
header {
  width: 100%;
  background-color: #241B18;
  border-bottom: 1px solid white;
}

.header .navbar-nav .nav-item .nav-link {
  color: white;
}

.my_navbar .navbar-dark .navbar-toggler {
  border: initial;
  box-shadow: initial;
}

.my_navbar .navbar-nav .nav-item .nav-link:hover {
  color: #FFC947;
}

.my_navbar .navbar-nav .nav-link.active {
  color:#FFC947;
}

.navbar-nav {
  gap: 10px;
  font-size: 14px;
  text-transform: uppercase;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.header_logo {
  width: 80%;
}

.my_navbar button {
  width: 20%;
}

.navbar-collapse {
  justify-content: flex-end;
}

@media (min-width: 480px) {
  .my_navbar .container-fluid {
    justify-content: space-between;
  }
  .header_logo, .my_navbar button{
    width: initial;
  }
}