body {
  background-image: url("../image/bg-body.png");
  background-repeat: repeat;
}

@media (min-width: 992px) {
  body .container {
    max-width: 940px;
  }
}

figure, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

