body {
    background: transparent url(../../image/bg-body.png);
}

p {
    margin: 0;
}

/* header */

header {
    background-color: rgb(35, 27, 24);
}
.header-container {
    width: 100%;
}

@media (min-width: 992px) {
    .header-container {
        width: 75%;
        margin: 0 auto;
    }
}

/* banner */

.banner-container {
    width: 100%;
}

@media (min-width: 992px) {
    .banner-container {
        width: 75%;
        margin: 0 auto;
    }
}
.chair {
    background-color: transparent;
    background-image: url(../../image/chair.jpg);
    background-size: cover; 
    background-repeat:no-repeat;
    position: relative;
    min-height: 436px;
}
.chair-info {
    right: 5%;
    bottom: 5%;
}
.chair-cost {
    font-size: 26px;
}

.chair-info button {
    background: transparent url(../../image/buttons.png) -114px 0 no-repeat;
    width: 111px;
    height: 36px;
}

.chair-info button:hover {
    background: transparent url(../../image/buttons.png) 0 0 no-repeat;
    width: 111px;
    height: 36px;
    cursor: pointer;
}