body {
    background: url(../../image/bg-body.png);
}

p {
    margin: 0;
}

/* header */

header {
    background-color: rgb(35, 27, 24);
}
#main-header-container {
    width: 100%;
}

@media (min-width: 992px) {
    #main-header-container {
        width: 75%;
        margin: 0 auto;
    }
}

#main-header-container a:hover {
    color: rgb(244, 201, 95);
}

/* 控制中段的RWD，呈現滿版與不滿版 */

#main-container {
    width: 100%;
}
@media (min-width: 992px) {
    #main-container {
        width: 75%;
        margin: 0 auto;
    }
}


/* banner */

.chair {
    background-image: url(../../image/chair.jpg);
    background-size: cover; 
    background-repeat:no-repeat;
    position: relative;
    height: 300px;
}
@media (min-width: 576px) {
    .chair {
        height: 436px;
    }
}

/* 控制chair detail按鈕位置 */
.chair-info {
    right: 5%;
    bottom: 5%;
}
.chair-price {
    font-size: 26px;
}

.chair-info button {
    background: url(../../image/buttons.png) -114px 0 no-repeat;
    width: 111px;
    height: 36px;
    font-size: 14px;
    color:rgba(147, 112, 37, 1);
    border-style: none;
}

.chair-info button:hover {
    background: url(../../image/buttons.png) 0 0 no-repeat;
    width: 111px;
    height: 36px;
    cursor: pointer;
}


.place-holder {
    background: url(../../image/bg-grey.jpg) 0 0/ cover repeat;
    height: 100%;
    padding: 100px 50px 0;
}

.place-holder h2 {
    text-shadow: 2px 1px white; 
}

/* rooms */


#rooms .card {
    border-style: none;
}
#rooms .card-body {
    background: url(../../image/separator-light.png) repeat-x;
}

.living-room, .kitchen {
    background-color: rgb(72, 59, 52);
    height: 100%;
}

.bedroom {
    background-color: rgb(35, 27, 24);
    height: 100%;
}

.living-room h4,
.bedroom h4,
.kitchen h4 {
    color: rgb(244, 201, 95);
    text-transform: uppercase;
}

/* more-info */
.contact {
    padding: 20px 30px;
    height: 100%;
}

@media (min-width: 992px) {
    .contact {
        background: url(../../image/separator-light-vertical.png) right repeat-y;
    }
}
.address {
    margin-top: 20px;
}

.phone-number h5,
.address h5 {
    font-size: 14px;
    color: rgb(126, 126, 126);
}

.phone-number div,
.address div {
    font-size: 20px;
    font-weight: 700;
}

.blog {
    padding: 20px 30px;
    height: 100%;
}
.content {
    background-color: grey;
    overflow: auto;
    max-width: 50%;
    height: 152px;
}

.blog-pic {
    max-width: 50%;
}
.blog-pic img {
    width: 100%;
}