.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media (min-width: 992px) {
    .banner {
        width: 75%;
        margin: 0 auto;
        display: flex;
    }
}

.chair {
}