.main-header {
    background: rgb(35, 27, 24);
    /* width: 100vw; */
}
.main-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
@media (min-width: 992px) {
    .main-header-container {
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        margin: 0 auto 0;
    }
}

.logo {
    padding: 5vh 0;
}
@media (min-width:992px) {
    .logo {
        padding: 5vh 50px 5vh 0
    }
}
.logo a {
    display: inline-block;
}
/* .logo img {
    width: 100%;
} */

.nav-bar {
    padding-bottom: 5vh;
}
@media (min-width: 992px) {
    .nav-bar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
    }
}
.nav-bar li{
    text-align: center;
}
@media (min-width: 992px) {
    .nav-bar li{
        padding: 0 10px;
    }
}
.nav-bar a {
    color: #ffffff;
    text-transform: uppercase;
}
.nav-bar a:hover {
    color: rgb(246, 202, 96);
    text-decoration: none;
}



