footer {
  width: 100%;
  background-image: url(../img/food.png);
}
.row_footer {
  border-bottom: 5px solid #FFBB00;
  display: flex;
}
.visit {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 20px;
  border-right: 5px solid #FFBB00;
  color: #000000;
}
.visit h1 {
  padding-bottom: 20px;
  font-size: 18pt;
}
.visit p {
  padding-top: 20px;
  font-size: 12pt;
}
.visit img {
  width: 100%;
}
.blog {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 5px solid #FFBB00;
  color: #000000;
}
.blog h1 {
  padding-bottom: 5px;
  font-size: 18pt;
}
.blog p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12pt;
}
.blog img {
  width: : 64px;
  height: 64px;
}
.blog_place {
  padding-bottom: 47px;
}
.blog_place h1 {
  font-size: 14pt;
  padding-bottom: 10px;
}
.mail {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #000000;
}
.mail h1 {
  padding-bottom: 20px;
  font-size: 18pt;
}
.mail p {
  padding-bottom: 20px;
  font-size: 12pt;
}
.mail_button {
  background-color: #000000;
  color: #FFFFFF;
}
.form_place {
  margin-left: 20px;
  padding-bottom: 30px;
  border-bottom: 5px solid #FFBB00;
}
.social_media {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
}
.social_media ul li {
  letter-spacing: 20px;
  display: inline;
}
.copyright {
  padding-top: 10px;
  color: #000000;
}
.copyright p {
  text-align: left;
  font-size: 12pt;
}
.copyright ul {
  text-align: right;
}
.copyright ul li {
  padding-right: 12px;
  display: inline-block;
  ;
}
@media (max-width:991px) {
  .row_footer {
    display: block;
  }
  .copyright ul {
    text-align: center;
  }
  .copyright ul li{
   padding: 20px 20px;
   text-align: center;
  }
  .copyright p {
    text-align: center;
  }
  .visit {
    border-bottom: 5px solid #FFBB00;
    border-right: 0px;
    padding-bottom:40px;
  }
  .blog {
    border-bottom: 5px solid #FFBB00;
    border-right: 0px;
  }
}
