.header_place {
  background-color: #000000;
  width: 100%;
}
.header_left_top {
  padding-top: 20px;
  color: #FFCC22;
  font-weight: bold;
  font-size: 20pt;
  letter-spacing: 0.5px;
  text-align: center;
}
.header_left_down {
  padding-bottom: 20px;
  padding-left: 2px;
  color: #FFFFFF;
  letter-spacing: 10px;
  text-align: center;
  margin-left: 8px;
}
.header_right {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83px;
}
.header_right li {
  padding: 10px 10px;
}
.header_button {
  padding: 10px 10px;
  background-color: #000000;
  border: none;
}
@media (max-width:767px) {
  .header_right {
    display: block;
    height: auto;
    text-align: center;
  }
}
