.change_padding {
  padding: 0px;
}
.section_img {
  width: 100%;
}
.top_left_place {
  position: relative;
}
.top_left_small {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 36pt;
  color: #FFFFFF;
}
.top_right {
  display: flex;
}
.top_right_place {
  background-image: url(../img/footer_lodyas.png);
  background-size: cover;
  /*padding-top:250px;*/
  position: relative;
  /*display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;*/
}
.top_right_place h1 {
  font-size: 35pt;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}
.top_right_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: round 21s infinite;
  opacity: 0;
}
.top_right_text2 {
  /*bottom:40%;
  left:25%;*/
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.top_right_text3 {
  /*bottom:40%;
  left:25%;*/
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}
@keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
.top_right_place p {
  font-size: 16pt;
  color: #FFFFFF;
  text-align: center;
}
.section_img p {
  background-color: #FFFFFF;
  opacity: 0;
  text-align: center;
  color: #000000;
}
.section_img_place {
  position: relative;
}
.section_text {
  height: 90px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  vertical-align: bottom;
  opacity: 0.2;
  transition: all 0.2s ease-in-out;
}
.section_text h1 {
  color: #FFBB00;
  font-size: 18pt;
  padding-left: 10px;
}
.section_text p {
  font-size: 14pt;
  padding-left: 10px;
}
.section_img_place:hover .section_text {
  opacity: 1;
  transition-delay: 0.1s;
}
.section_down_row {
  display: flex;
}
.section_down_place {
  background-color: #FFFFFF;
  position: relative;
}
.section_down_place h1 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 14pt;
}
.section_down_place p {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 18pt;
}
.section_down_place_left {
  border-right: 5px solid orange;
}
.section_down_img {
  width: 100%;
}
.section_down_place_other {
  display: flex;
  position: absolute;
  bottom: 50;
}
.section_down_place_other h1 {
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14pt;
  background-color: #AAAAAA
}
.section_down_place_other p {
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  font-size: 18pt;
  background-color: #AAAAAA
}
.section_down_small_mid {
  display: flex;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.section_down_small_mid_left {
  background-color: #AAAAAA;
  width: 50%;
}
.section_down_small_mid_right {
  width: 50%;
}
.section_down_small_right {
  display: flex;
  padding-top: 43px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width:1199px) {
  .section_down_small_mid_left {
    height: 50%;
    width:100%;
  }
  .section_down_small_mid_right {
    height: 50%;
    width:100%;
  }
  .section_down_small_mid {
    display: block;
  }
  .section_down_small_right{
    display: block;
  }
}

@media (max-width:991px) {
  .section_down_small_mid_left {
  width: 100%;
  }
  .section_down_small_mid_right {
   width: 100%;
  }
  .section_down_place_left {
    border-bottom: 5px solid orange;
    border-right: 0px;
  }
  .section_down_row {
    display: block;
    text-align: center;
  }
}

@media (max-width:767px) {
  .top_right {
    display: block;
    text-align: center;
  }
  .top_right_place {
    height: 300px;
  }
}
