body{
  margin: 0;
}
h1{
  font-variant: small-caps ;
  text-align: center;
  font-family: "Oswald";
}
h2{
  font-variant: small-caps ;

  font-family: "Oswald";
}
h3{
  font-variant: small-caps ;
  text-align: left;
  color: #FFC947;
}
h4{
  color: #241B18;
  font-variant: small-caps;
}
p{
  color: white;
}
.main{
  background-image: url("img/mainbg.png");
  background-repeat: repeat;
}
