#page {
  padding: 0;
}

#header h3 {
  text-align: center;
}

#header h3, .text h4 {
  color: #FFC947
}

#header small, .nav_list, .text p, span {
  color: #ffffff;
}

.img {
  width: 100%;
}

#banner_text h2 {
  padding: 30px 0 10px 0;
  text-align: center;
  line-height: 40px;
}

#banner_text p {
  line-height: 25px;
}

.text {
  background: url(../img/separator-light.png) repeat-x
}

.text h4 {
  margin: 0;
  padding:20px 0 20px 20px;
}

.text p {
  margin: 0;
  padding:0 20px 30px 20px;
}

.title{
  color: #555;
}

#contact h3 {
  margin: 0;
  padding: 0 0 25px 0;
}

.blog_text h5 {
  padding: 10px 0;
}

.blog_text h4, .blog_text h5 {
  color: #000000;
}

.dash p {
  padding-top: 10px;
  color: #4B3A33;
}

.dash a {
  text-decoration: underline;
}

span {
  position: relative;
  top: 5px;
  line-height: 20px;
}

.calenter_text h5, .calenter_text h6 {
  padding-left: 10px;
  position: relative;
  bottom: 10px;
  line-height:20px;
}

#author a {
  color: #000;
}

#author a:hover {
  color: #ffffff;
  text-decoration: none;
}

/*--------------------header--------------------*/

#header {
  background-color:#241B18;
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
}

#nav::before{
  content:'';
  width:0;
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

#nav ul {
  text-align: center;
}

.nav_list{
  padding: 5px 10px;
  font-size: 14px;
  font-family: inherit;
}

.nav_list:hover {
  color: #FFC947;
  text-decoration: none;
}

/*--------------------main contain--------------------*/

#contain_bg {
  background: url(../img/bg.jpg) repeat;
}

.contain {
  width: 75%;
}

#banner {
  background: url(../img/banner_bg.jpg);
  background-size: contain;
  border: 1px solid #ffffff;
}

#banner_img, #banner_text,
#living_room, #bedroom, #kitchen {
  padding: 0;
}

#home {
  background-color: #4b3a33;
}

#contact {
  background-color: #ffffff;
  padding-bottom: 10px;
  box-shadow: 0 -5px 15px -5px #555 inset;
}

#contact_info {
  background: url(../img/separator-light-vertical.png) repeat-y right;
}

#contact_info, #contact_blog {
  padding: 20px;
}

.blog_text {
  padding-left: 25px;
  background-color: #E8E8E8;
}

/*--------------------footer--------------------*/

#footer {
  background-color: #FFC947;
}

#footer_contain {
  background: url(../img/separator-dark.png) repeat-x bottom;
}

.block {
  height: 400px;
  margin: 30px 0 10px 0;
}

.dash {
  background: url(../img/separator-dark-vertical.png) repeat-y right;
}

.calender {
  background: url(../img/calender.png) no-repeat;
  background-size: cover;
  background-origin: content-box;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  bottom: 25px;
  text-align: center;
}

input {
  width: 100%;
  border: 3px solid #B27400;
  text-indent: 5px;
  line-height: 25px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #000000;
}

#sign {
  width: 35%;
  margin: 10px 0;
}

#media {
  background: url(../img/separator-dark.png) repeat-x;
  margin: 15px 0;
  padding: 10px 0;
}

#media li {
  margin-right: 15px;
}

#author {
  padding: 10px 0;
  color: #4B3A33;
}

#author ul {
  float: right;
}
