@CHARSET "UTF-8";
.article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:80%;
  margin:0 auto;

}
.sectionup{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  width:auto;
  background-image: url(/home/ray/git/t4/Ray/bannerl.jpg);
  background-size: cover;
  background-repeat: repeat-x;
}
.sectionupimg{
  max-width: 600px;
  max-height: 600px;
  min-width: 400px;
  min-height: 400px;
  float:left;
  width:45%;
  margin: 0 auto;
  background-image: url(/home/ray/git/t4/Ray/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.sectionupimg h3,h2{
  display: block;
  text-align: center;
  width:30%;
  padding:0.7%;
  font-weight: lighter;
  color: black;
  margin: 2px;
}
.sectionupimg a{
  display: block;
  overflow-y: hidden;
  color: white;
  background-color: rgb(242, 202, 29);
  border-radius: 5px;
  height: 7%;
  padding-top: 5px;
  width:30%;
  text-align: center;
}

.sectionupcontent{
  background-image: url(/home/ray/git/t4/Ray/bannerl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width:55%;
  margin:0 auto;
  float: left;
}
.sectionupcontent h3{
  display: block;
  width: auto;
  height:inherit;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight:lighter;
  padding:10px 30px;
}
.sectionupcontent p{
  display: block;
  width: auto;
  height:inherit;
  font-size: 18px;
  color: black;
  letter-spacing: 3px;
  padding: 30px 20px 30px 20px;
  overflow:hidden;
}

.sectionmid{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  width:auto;
  border: 2px yellow solid;
}
.items{
  display: block;
  width:33.3%;
  float: left;
  background-color: rgb(68, 65, 67);
}

.items img{
  border-bottom: 5px rgb(242, 202, 29) dashed;
  width:100%;
  height: 100%;
}

.items h4{
  color: rgb(242, 202, 29);
  font-weight: lighter;
  padding: 10px;
}
.items p{
padding: 0px 10px 10px 10px;
}
.item2{
  background-color:rgb(35, 36, 36);
}

.sectiondown{
  background-color: white;
  width:100%;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  border: 4px solid green;
}
.sectiondown p{
  color:rgb(126, 124, 126)
}
.downleft{
  width: 33.3%;
  border-right: 5px rgb(242, 202, 29) dashed;
  padding:10px;
}
.downleft h2{
  display: block;
  width: auto;
  text-align: left;
}
.downright{
  width:65%;
  padding:10px;
  border:2px black solid;
}
.dp{
  padding-left: 30px;
}

.blog{
  width:50%;
  display: flex;
  flex-direction: row-reverse;
  float: left;
}

.blog img{
  min-width: 90px;
  min-height: 90px;
  width:auto;
  height: auto;
}
.info{
  min-width: 90px;
  min-height: 90px;
  width:auto;
  height: auto;
  width:auto;
  background-color:rgb(191, 184, 190);
  padding:10px 10px;
  line-height: 30px;
}
.info p,h1{
  color: black;
}
.info h1{
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}
.info a{
  color:rgb(46, 20, 5);
  font-weight: bold;
}
