@CHARSET "UTF-8";
.footer{
  background-color: rgb(242, 202, 29);
  border-top: 2px white solid;
}
.footercontent{
  background-color: rgb(242, 202, 29);
  width:80%;
  margin:0 auto;
  display: flex;
  flex-direction: row;
}
.footercontent h4{
  font-weight: lighter;
  font-size: 20px;
  padding: 5px 0;
  padding-left:10px;
  color:rgb(54, 35, 2);
}
.footercontent p{
  color:rgb(66, 49, 11);
}
.footerleft{
  width:33.3%;
  border-right: 5px black dashed;
}
.footerleft img{
  display: block;
  width:90%;
  margin:0 auto;
}
.footerleft p {
  line-height: 25px;
  margin:10px 0;
  padding: 0 15px;
}
.footerleft a{
  padding: 0 15px;
}

.footermid{
  width:33.3%;
  border-right: 5px black dashed;
}

.dateinfo{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px blue solid;
}
.date{
  min-width: 30px;
  min-height: 30px;
  background-repeat: repeat-x;
  width:auto;
  margin:10px;
}
.date h5{
  display: block;
  border-radius: 5px;
  background-image: url(/home/ray/git/t4/Ray/bg-time.png);
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  width: auto;
  text-align: center;
  font-size: 1%;
  padding:1px;
  font-weight: lighter;
  margin:0 auto;
}
.datecontent{
  min-width: 30px;
  min-height: 30px;
  width:80%;
  padding:10px;
  padding-top:15px;
  line-height: 20px;
}
.datecontent a{
  display: block;
  min-width: 30px;
  min-height: 30px;
  word-break: break-all;
  color: rgb(82, 53, 5);
  font-size: 17px;
  width:auto;
  height: auto;
}
.datecontent p{
  font-size: 12px;
}

.footerright{
  width: 33.3%;
  display: flex;
  flex-direction: column;
}
.footerru{
  padding: 30px;
  height:40%;
  border-bottom: 5px black dashed;
}
.email{
   border:grey 3px solid;
   font-size: 16px;
   margin-bottom: 10px;
   width:80%;
   min-width: 70px;
   min-height: 30px;
   word-break: break-all;
}
.footerru a{
  display: block;
  text-align: center;
  min-width: 70px;
  width: 35%;;
  margin: 0 auto;
  background-color: rgb(61, 59, 59);
  border-radius: 4px;
  font-size: 15px;
  padding:3px;
}
.footerrd{
  height:50%;
  border:1px black solid;
}
.footerrd ul{
  padding:5px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.footerrd li{
  margin: 5px;
}

.bottom{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border:1px green solid;
  padding-bottom:50px;
  border-top: 5px black dashed;

}
.bottom h2{
  display: block;
  color:rgb(153, 121, 27);
  font-size: 15px;
  width:auto;
}

.bottomlist{
  width:55%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border:1px black solid;
}
.bottomlist ul{
  width:100%;
  height: 100%;
  list-style: none;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 17px;
}
.bottomlist li{
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(153, 121, 27);
  margin: auto auto;
}
