@CHARSET "UTF-8";
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  text-decoration: none;
  font-family: sans-serif;
  color:white;
  word-break: break-all;
}
body{
  background: rgb(33, 25, 23) url("/home/ray/git/t4/Ray/wood.png") repeat-y scroll center top;
  width:auto;
  display: block;
}
