html,body,h1,h2,h3,p,ul,li,div {
	margin: 0;
	padding: 0;
}

/*header*/

#header {
	background-color: #231A1A;
	height: auto;
	border-bottom:solid #FFFFFF ;
}

#header a{
	text-decoration: none;
	color: white;
}

#header a:hover{
	text-decoration: none;
	color: #F173F4;
}

.container {
	width: 960px;
	margin: 0 auto;
}

#logo img {
	width: 390px;
	height: 70px;
	margin: 15px 0;
}

#main{
	height: 500px;
}

#header ul {
	float: right;
}

#header ul li {
	display: inline;
	color: white;
	margin: 0 20px;
	font-size: 1.2em;
	line-height: 100px;
}

/*--main-first-row--*/

#main {
	background: url("../img/mainbg.png") ;
	height: auto;
}


#imgl {
	background: url("../img/mainImage.png") no-repeat 50% 70%;
	background-size: cover;
	height: 450px;
}

#imgr {
	background: url("../img/containerBG.png");
	text-align: center;
	padding: 20px 40px;
	height: 450px;
}

#imgr p {
	text-align: left;
	padding: 30px 40px;
}


/*--main-second-row--*/
#m-left {
	background: url("../img/display1.png");
	background-size: cover;
	height: 260px;
}

#m-mid {
	background: url("../img/display2.png");
	background-size: cover;
	height: 260px;
}

#m-right {
	background: url("../img/display3.png");
	background-size: cover;
	height: 260px;
}

/*--main-third-row--*/

.row #t-left {
	background-color: #694B4B

}

.row #t-mid {
	background-color: #231A1A;
}

.row #t-right {
	background-color: #694B4B

}

/*--last-row--*/

#l-left {
	background-color: white;
	padding-bottom: 32px; 
}

#lastrow h2 {
	color: #B29B9B;
	font-size: 17px;
	padding-bottom: 0;
}

#l-left h1 {
	margin-top: 0;
	font-size: 28px;

}

#l-mid {
	background-color: white;
	padding-bottom: 30px; 
	padding-right: 57px;
}

.dash {
	border-right: dashed #C7822D;
}

.b {
	border-bottom: dashed #C7822D;
	padding-bottom: 10px; 
}

.t h2 {
	color: #F5BE48
}

.t p {
	color: white;
}

#blogwrapper {
	background-color: #DABCBC;
}

#txtblog {
	float: left;
	padding: 10px;
}

#l-right {
	background-color: white;
	padding:48px 74px 29px 0;

}

#lastbox {
	float: left;
	padding: 10px;

}

#lastwrapper {
	background-color: #DABCBC;

}

/*--footer--*/

#footer{
	background-color: #ECC254;
	height: auto;
}

#test {
	float: left;
	height: 50px;
	margin-right: 12px;
}

#footer .col-md-4 img {
	
}

#footer .row {
	border-bottom: dashed #C7822D;
} 

#copy {
	color: #E27E1D;
}

#copyright{
	float: left;
	display: inline;
}

#ulf {
	float: right;
}

#ulf li{
	display: inline;
}

.b input {
	width: 400px;
}