*{
	margin:0;
}

/* {
	box-shadow : 0 0 1px red;
	}*/

body{
	background: url(../image/bg-body.png);
}

.row{
	margin:0;
}

.head{
	position: relative;
	background:#251b17;
	padding:35px 0;
	border-bottom:#fff solid 1px;
}

#navbar{
	position:relative;
	top:8px;
}

#logoimg{
	width:100%;
	height:auto;
}

.navbar-header span{
	background-color:#ffc947;
}

.toplist{
	margin:0;
}

.liul li a{
	font-size: 10pt;
	color:#ffffff;

}

.liul li a:hover{
	color:#ffc947;
	background:#251b17;
}

.mt{
	background: url(../image/bg-pattern.jpg);
	background-size: cover;
	border: 1px solid #fff;
}

.mtl{
	padding:0;
}

.mtr{
	padding:0;
}

#mtlimg{
	width:100%;
	height:auto;
}

.mtr{
	padding:55px;
	
}

.mtr h3{
	font-size:25pt;
	text-align: center;
	line-height: 30pt;
}

.mtr p{
	font-size: 11pt;
	line-height:25pt;
	text-align: left;
}

.mm{
	background: #4c3b34;
}

.mml{
	padding:0;
}

.mmm{
	padding:0;
}

.mmr{
	padding:0;
}

.mmimg{
	padding:0;
	width:100%;
	height:auto;
	object-fit: cover;
}

.mmtext{
	padding:15pt;
	text-align: left;
	background: url(../image/separator-light.png) repeat-x top;
}

.mmtext h3{
	font-size:13pt;
	color:#FFC947;
	margin: 0 0 10px 0;
}

.mmtext p{
	font-size: 11pt;
	color:#fff;
}

.mb{
	background: #ffffff;
	box-shadow: 0px -5px 15px -5px #000 inset;
}

.mb1{
	padding:20px;
	background: url(../image/separator-light-vertical.png) repeat-y right;
}

.mb1 h3{
	margin:20px 0;
}

.mb1 h2{
	margin:20px 0;
	font-size:18pt;
}

.mb2{
	padding:30px;
}

.mb3{
	padding:30px;
}

.mb mba h3{
	font-family: bignoodletitling;
	font-size:18pt;
	color:#7c7c7c;
	margin: 0 0 10px 0;
}

.mb2content{
	background: #e8e8e8;
	padding:0;
	margin:0;
}

.mb2title h3{
	font-size:15pt;
	margin: 0 0 10px 0;
}

.mb3content{
	background: #e8e8e8;
	padding:0;
	margin:32px 0 0 0;
}

.oml p {
	padding:10pt;
	margin:0;
}

.oml h4{
	padding-left:10pt;
	margin: 15px 0;
	font-size:12pt;
	font-family: "mabella"
}

.oml a{
	color:#FFC947;
	font-size:11pt;
	padding-left:10pt;
	text-shadow: 0px 0px 5px #000;
}

#omimg{
	width:100%;
	height:auto;
	position: relative
	right:0;
}

.chl p {
	padding:10pt;
	margin:0;
}

.chl h4{
	padding-left:10pt;
	margin: 15px 0;
	font-size:12pt;
	font-family: "mabella";
}

.chl a{
	color:#FFC947;
	font-size:11pt;
	padding-left:10pt;
	text-shadow: 0px 0px 5px #000;
}

.omr{
	padding:0;
}

#omimg{
	width:100%;
	height:auto;
}

.chr{
	padding:0;
}

#chimg{
	width:100%;
	height:auto;
}

.footer{
	overflow: hidden;
	background:#ffc947;
	border-top: solid 1px #ffffff;
}

.ftl{
	padding:0 40px 0 0;
	background: url(../image/separator-dark-vertical.png) repeat-y right;
	margin-top:40px;
}

.footer h4{
	font-size: 15pt;
	font-weight: bolder;
	margin:0;
}

.ftl p{
	font-size:12pt;
	margin-bottom: 20px;
}

.ftl a{
	color:#000;
}

.ftm{
	padding:0 40px;
	background: url(../image/separator-dark-vertical.png) repeat-y right;
	margin-top:40px;
}


.ftr{
	padding:0 0 0 40px;
	margin-top:40px;
}

#showroom{
	width:100%;
	height:auto;
	margin:20px 0;
}

.datetop{
	position: relative;
	margin:20px 0;
}

.dtleft{
	position: relative;
	float: left;
}


#time{
	width:50px;
	height:auto;
}

.date1{
	position: absolute;
	text-align: center;
	top:5px;
	left:9px;
}

.date1 p{
	color:#fff;
	font-size:10pt;
	font-weight:bolder;
}

.dtright{
	margin-left:65px;
}

.dtright h5{
	font-size: 14pt;
	font-weight: bold;
}

.dtright p{
	font-size:13pt;
}

.mail{
	margin:20px 0;
	background: url(../image/separator-dark.png) repeat-x bottom;
}

#mailbox{
	width:100%;
	border:3px #b27400 solid;
}

#signup{
	margin:20px 0 40px 0;
}

.media h4{
	margin-bottom:20px;
}

.media a{
	margin-right:10px;
	color:#000;
	cursor: pointer;
}

.copy{
	padding:20px 0;
	background: url(../image/separator-dark.png) repeat-x top;
}

.copy p{
	margin:0;
	font-size:12pt;
	font-weight: bold;
	color:#ab7d0f;
}

.btlink{
	background: url(../image/separator-dark.png) repeat-x top;
	padding:20px 0;
}

.bt1{

}



.bt1 a{
	color:#AB7D0F;
	cursor: pointer;
	text-decoration: none;
}