body {
  margin: 0;
}
.font-narrow {
  font-family: "Arial Narrow";
}
/*---------------------------------------------------------------header*/
header {
  background-color: #1a0d00;
}
.header {
  padding: 30px 0px;
}
.logo {
  justify-content: flex-start;
}
.navbar {
  color: white;
  list-style-type: none;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60px;
  padding: 0;
  font-size: 18px;
}
.navbar li {
  margin-left: 32px;
}
#active {
  color: #e2a43a;
}

/*-----------------------------------------------------------------main*/
main {
  background-image: url("./image/bg-body.png");
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
/*------------------------------------------------------upper*/
#upper {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
#upper img {
  width: 100%;
}
/*-------------------------------------------chair*/
#chair-sale {
  background-image: url("./image/chair.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
}
#buy-chair {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: center;
}
#price {
  font-size: 28px;
  line-height: 30px; /*narrow the distance between elements in this block*/ 
}
#view-details{
  position: relative;
  background: none;
  border: none;
  min-width: 150px;
  box-sizing: content-box; /*to avoid the width smaller than 150px bcz of paddings */
}
#view-details div {
  color: #965d18;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
}
/*------------------------------------place-holder*/
#place-holder {
  background-image: url("./image/bg-grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
#place-holder-text {
  margin: 60px auto; /*horizontally center the block*/
  width: 80%;
}
#place-holder-text h1 {
  text-align: center;
  margin-bottom: 33px;
  text-shadow: 2px 2px white;
}
#place-holder-text div {
  word-spacing: 5px;
  font-size: 17px;
  line-height: 26px;
}
/*-----------------------------------------------------middle*/
#middle img {
  width: 100%;
}
#middle h6 {
  color: #ffc34d;
}
#middle div {
  color: white;
  font-size: 15px;
}
#middle div[id*="-intro"] {
  padding: 25px;
}
#living-room-intro, #kitchen-intro {
  background-color: #4f3629;
}
#bedroom-intro {
  background-color: #1a0d00;
}
.border-x-light {
  background-image: url("./image/separator-light.png");
  background-repeat: repeat-x;
  background-size: contain;
  height: 8px;
  width: 100%;
  margin: 0;
}

/*----------------------------------------------------last*/
#last {
  background-color: white;
  padding: 0 0 10px 0;
  margin: auto 0;
}
#last h6 {
  font-size: 17px;
}
#contact, #blog {
  margin: 0 auto;
  padding: 1.5rem;
}
/*
#blog {
  margin: auto 0; /*to let block vertically centered 
}
*/
/*.border-y-light*/
@media only screen and (max-width: 992px) {
  .border-y-light {
    background-image: url("./image/separator-light.png");
    height: 8px;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .border-y-light {
    background-image: url("./image/separator-light-vertical.png");
    height: 280px;
    width: 8px;
  }
}
.border-y-light {
  background-repeat: repeat;
  background-size: contain;
  margin: 0;
}
/*---------------------------------------contact*/
#contact h6, #blog h6 {
  color: grey;
}
#contact h6 {
  margin-bottom: 4px;
}
#contact div {
  font-size: 32px;
}
#phone {
  margin-bottom: 17px;
}
#address {
  margin-bottom: 20px;
  line-height: 33px;
}
#address div {
  word-spacing: 6px;
  letter-spacing: 0px;
}

@media only screen and (min-width:992px) {
  #contact.col-lg-4 {
    flex: 0 0 32%;
  }
}
/*---------------------------------------blog*/
.blog-block {
  margin: 10px;
  height: 100%;
  border: 1px white solid;
  box-sizing: content-box;
}
#blog h6 {
  margin-left: 10px;
}
.blog-block img {
  padding: 0;
}
.blog-content {
  background-color: #e5dfd7;
  color: #473011;
  padding-top: 10px;
}
.blog-content a {
  color: inherit;
  text-decoration: none;
}
.blog-text {
  margin: 10px 8px 36px 0;
}
.blog-text, .blog-content a {
  font-weight: bold;
}
@media only screen and (max-width: 992px) {
  /*to let two blog post has space between*/
  .two-blog-article {
    margin-bottom: 20px;
  }
}
/*-----------------------------------------section: showroom-blog-media*/
#showroom-blog-media {
  background-color: #ffc34d;
  color: #1a0d00;
}
#showroom-blog-media h6 {
  font-size: 20px;
}
.light-content {
  color: #965d18;
}

/*control the three blocks, let them padding inside like blocks of contact & blog*/
#showroom, #recent-post, #join-our-news-letter, #social-media { 
  /*you can't give "1.5rem 0" to the padding because 15px padding-left-right is the default setting, and this given will offset it*/
  padding-top: 1.5rem; 
  padding-bottom: 0.5rem;
}
#recent-post {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#join-us {
  padding-left: 1.5rem;
}

/*titles of showroom-blog-media*/
.brown-title { 
  font-weight: bold;
  /*control the margin-bottom of titles*/
  margin-bottom: 20px;
}

/*border*/
.border-y-dark {
  background-repeat: repeat;
  background-size: contain;
  margin: 0;
}
/*RWD of border-y-dark*/
@media only screen and (max-width: 992px) {
  /*when width smaller than 992px, change into horizontal direction*/
  .border-y-dark {
    background-image: url("./image/separator-dark.png");
    height: 8px;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  /*adjust the flex width percentage to have space for border-y-dark*/
  #showroom.col-lg-4, #recent-post.col-lg-4 {
    flex: 0 0 33%;
  } 
  #join-us.col-lg-4 {
    flex: 0 0 31.4%;
  }
  .border-y-dark {
    background-image: url("./image/separator-dark-vertical.png");
    /*height same as the other blocks*/
    height: auto;
    width: 8px;
    /*let the padding-y of the border the same as blocks beside*/
    margin: 1.5rem 0;
  }
}

/*------------------------------------------------showroom*/
#showroom {
  position: relative;
}
/*let image width full of the block*/
#showroom img {
  width: 100%;
}
#showroom > div.font-narrow {
  word-spacing: 4px;
}
#block-bottom {
  padding: inherit; /*a very important usage, to let the absolute position inside content, but not padding*/
  position: absolute;
  bottom: 0;
  left: 0;
}
#block-bottom a {
  text-decoration: underline;
  color: #965d18;
}
/*---------------------------------------------recent-post*/
#recent-post div {
  overflow: hidden;
}
#recent-post img {
  float: left;
  width: 57px;
  margin-right: 12px;
}
.april-post {
  margin: 0 0 40px 0;
  position: relative;
}
div.date {
  position: absolute;
  top: 5%;
  color: white;
  width: 56px;
  word-wrap:break-word;
  text-align: center;
}
/*-------------------------------------------------join-us*/

/*------------------------join-our-news-letter*/
/*enter your email*/
input[type="text"] {
  border: 3px solid #c1923a;
  /*box-sizing: content-box; use this property will make the input box size outside of the block content, inside padding*/
  width: 100%;
  line-height: 30px;
  padding-left: 8px;
}
#sign-up {
  padding: 0;
  margin: 10px 0;
  line-height: 24px; /*set line-height of outter block the same as inside text, so that the text would be vertically centered*/
  background: none;
  border: none;
  position: relative;
}
#sign-up img {
  width: 94px;
}
#sign-up div {
  color: white;
  font-size: 16px;
  width: 100%;
  /*center the text inside the button image*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*--------------------------------border-x-dark*/
.border-x-dark {
  background-image: url("./image/separator-dark.png");
  background-repeat: repeat-x;
  background-size: contain;
  height: 8px;
  width: auto;
}
/*--------------------------------social-media*/
#social-media i {
  font-size: 42px;
  margin-right: 24px;
}
/*--------------------------------------------------------------footer*/
footer {
  background-color: #ffc34d;
  color: #c1923a;
}
#copyright-navigation {
  margin-top: 5px;
}
#navbar-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}
#navbar-bottom li {
  margin-right: 5px;
}