* {
  /* outline: solid 1px red; */
}
body {
  margin: 0;
  background-image: url(img/bg-body.png);
  font-family: "Oswald", sans-serif;
  background-size: contain;
  background-repeat: repeat;
}

/* header */
header {
  background: #241b17;
  padding: 0;

  /* fixed navbar */
  position: sticky;
  top: 0;
  z-index: 1;
}
.logobox {
  flex: 1;
}
.logobox a {
  display: inline-block;
}

@media (min-width: 1024px) {
  header .container {
    width: 80%;
  }
}

.mynavbar_container > button > div {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
}
.mynavbar_container > div > ul > li > a {
  color: #fff;
}

.navbar-nav {
  text-transform: uppercase;
}
/* 375~768 px setting */
.mynavbar_container .subscribe {
  margin-top: 10px;
}

.mynavbar_container form {
  display: flex;
  flex-direction: row;
}
.mynavbar_container footer {
  display: block;
}
.mynavbar_container .copyright {
  flex-direction: column;
}
@media (min-width: 992px) {
  .mynavbar_container form {
    display: none;
  }
  .mynavbar_container footer {
    display: none;
  }
  .mynavbar_container a {
    font-size: 20px;
  }
}

/* main */
@media (min-width: 992px) {
  .wrapper {
    width: 80%;
  }
}
figure.main_products {
  position: relative;
  margin: 0;
}
.main_products {
  height: 100%;
  object-fit: cover;
}
.main_products img {
  height: 100%;
  object-fit: cover;
}
.main_products figcaption {
  position: absolute;
  right: 5%;
  bottom: 10%;
}
figcaption p {
  margin: 0;
}

.accordion-button::after {
  width: 0;
}
.main_products p {
  font-size: 0.8rem;
  text-align: center;
}
.main_products .price {
  font-size: 1.6rem;
  font-weight: 400;
}
.main_products .link {
  background: url(img/buttons.png) no-repeat top right;
  border: none;
  width: 109px;
  color: #241b17;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  line-height: 34px;
  font-size: 1rem;
  text-align: center;
}

.products_content {
  background-image: url(img/bg-pattern.jpg);
  background-size: cover;
  padding: 1rem 2rem;

  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products_content h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .accordion {
    display: none;
  }
}

/* intro-hightlight */

.intro_hightlight {
  display: none;
}
@media (min-width: 768px) {
  .intro_hightlight {
    display: block;
  }
  .intro_hightlight .products_content {
    padding: 3rem 3rem 1rem;
    min-height: 100%;
  }
}

/* intro */
.intro .card {
  border: 0;
  background-color: #4b3a33;
}
.intro .color {
  background-color: #240f04;
}
.intro .card-body {
  background: url(img/separator-light.png) repeat-x;
}

.intro .card-body h2 {
  font-size: 1.25rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #e2b241;
  margin-bottom: 0.5rem;
}
.intro .card-body p {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 0.5rem;
}
.intro .card-title {
  text-transform: uppercase;
}

/* activity */
.activity {
  background-color: #fff;
  text-transform: uppercase;
}
.activity h3 {
  font-size: 16px;
  color: #7a7a7a;
  font-weight: bold;
  margin-bottom: 0;
}
.activity_contact {
  padding: 1.5rem;
  background: url(img/separator-light-vertical.png) repeat-y 100%;
}

.activity_contact a {
  text-decoration: none;
  cursor: pointer;
  word-spacing: 10px;
  display: block;
  font-weight: 400;
  font-size: 1.75rem;
  color: #241b18;
  word-spacing: 3px;
}
.activity_contact_phone {
  margin-bottom: 30px;
}
/* blog */

.activity_blog {
  padding: 1.5rem;
}
.activity_blog a {
  text-decoration: none;
  color: #333;
}
.activity_blog a:hover {
  text-decoration: underline;
}
.activity_blog h3 {
  margin-bottom: 1.25rem;
}
.activity_blog .card-body {
  background-color: #dedad3;
}

.activity_blog time {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0.75rem;
}

.activity_blog h4 {
  font-size: 16px;
}

.blog_newer {
  display: flex;
  margin-bottom: 16px;
}

.blog_older {
  display: flex;
}

@media (min-width: 1024px) {
  .blog_newer {
    margin-bottom: 0;
  }
}

/* footer */

footer {
  background-color: #e2b241;
  border-top: 1px solid #fff;
  box-shadow: 0px -5px 5px 0 rgb(126, 122, 124);
  padding-top: 20px;

  /* ! 768px 以下不顯示 */
  display: none;
  text-align: center;
}

footer .information {
  margin: 12px 0;
}
@media (min-width: 768px) {
  footer {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  footer {
    display: block;
  }
  footer .container {
    width: 80%;
  }
}
.showroom,
.recentnews {
  background: url(img/separator-dark.png) repeat-x left bottom;
  padding: 10px 12px;
}

/* 768px setting */
@media (min-width: 768px) {
  .showroom,
  .recentnews {
    /* 100%:從左邊為起始點，向右移動 */
    background: url(img/separator-dark-vertical.png) repeat-y 100%;
    padding: 0 12px;
  }
  .recentnews_content {
    margin-bottom: 1.5rem;
  }
}

.showroom .imagebox {
  margin-bottom: 10px;
}
.showroom a {
  text-decoration: none;
  color: #333;
}

footer .title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.recentnews_content {
  display: flex;
  margin-bottom: 1rem;
}
.recentnews_content time {
  flex: 0 0 50px;
  height: 50px;
  background: url(img/bg-time.png) no-repeat;
  background-size: cover;

  /* font */
  color: #fff;
  padding: 0 0.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;

  /* space */
  margin-right: 10px;
}

.subscribe {
  background: url(img/separator-dark.png) repeat-x bottom;
  background-size: 5px;
}
@media (min-width: 768px) {
  .subscribe form {
    flex-direction: column;
  }
}
.community .media {
  margin-top: 10px;
}
.subscribe input {
  width: 100%;
  text-transform: uppercase;
  border: 5px solid #b08200;
  padding: 0.25rem;
  margin-bottom: 10px;
}

.subscribe button {
  background: url("img/buttons.png") no-repeat -13px -39px;
  width: 83px;
  height: 29px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  margin-bottom: 1.5rem;
}

/* media */
.media a {
  margin-right: 1.5rem;
}
.media a:last-child {
  margin-right: 0;
}
.media_facebook {
  background: url("img/icons.png") no-repeat -46px -112px;
  width: 33px;
  height: 33px;
  display: inline-block;
}
.media_google {
  background: url("img/icons.png") no-repeat -46px -153px;
  width: 34px;
  height: 33px;
  display: inline-block;
}
.media_twitter {
  background: url("img/icons.png") no-repeat -46px -194px;
  width: 40px;
  height: 33px;
  display: inline-block;
}

.copyright {
  justify-content: space-between;
  padding: 1.5rem 0;
  background: url(img/separator-dark.png) repeat-x;
  text-transform: uppercase;
  color: #b08200;
}
.copyright a {
  text-decoration: none;
  color: #b08200;
}
.copyright a + a {
  margin-left: 10px;
}

/* effect */

.mynavbar_container a:hover,
.activity_contact_phone a:hover,
.activity_contact_web a:hover,
.blog_newer a:hover,
.blog_older a:hover {
  background-color: #b08200;
  color: #fff;
}
