* {
  outline: solid 1px green;
}
body {
  margin: 0;
  background-image: url(img/bg-body.png);
  font-family: var(--bs-font-sans-serif);
}

.wrapper {
  background: #241b17;
  padding: 0;
}
/* header */
.logobox {
  flex: 1;
}

.mynavbar_container > button > div {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
}
.mynavbar_container > div > ul > li > a {
  color: #fff;
}

.navbar-nav {
  text-transform: uppercase;
}

/* main */
figure.main_products {
  position: relative;
  margin: 0;
}
.main_products figcaption {
  position: absolute;
  right: 5%;
  bottom: 10%;
}
figcaption p {
  margin: 0;
}

.accordion-button::after {
  width: 0;
}
.main_products p {
  font-size: 0.8rem;
  text-align: center;
}
.main_products .price {
  font-size: 1.6rem;
  font-weight: 400;
}
.main_products .link {
  background: url(img/buttons.png) no-repeat top right;
  border: none;
  width: 109px;
  color: #241b17;
  font-family: "Oswald", sans-serif;
}
.main_products .link a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  line-height: 34px;
  font-size: 1rem;
}

.products_content {
  background-image: url(img/bg-pattern.jpg);
  background-size: cover;
  padding: 1 rem 2rem;
  text-align: center;
}
.products_content h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .accordion {
    display: none;
  }
}

/* intro-hightlight */

.intro_hightlight {
  display: none;
}
@media (min-width: 768px) {
  .intro_hightlight {
    display: block;
  }
  .intro_hightlight .products_content {
    padding: 1.5rem;
  }
}

/* intro */

.intro .card-body {
  background: #4b3a33;
  /* border-top: solid;
  border-image: url(img/separator-dark.png);
  border-image-repeat: repeat; */
}
.intro .card-body h2 {
  font-size: 1.25rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #e2b241;
  margin-bottom: 0.5rem;
}
.intro .card-body p {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 0.5rem;
}
.intro .card-title {
  text-transform: uppercase;
}

/* activity */
.activity {
  background-color: #fff;
}
