@font-face {
	font-family: 'Oswald';
	src: url('fonts/Oswald.eot');
	src: local('☺'), url('fonts/Oswald.woff') format('woff'), url('fonts/Oswald.ttf') format('truetype'), url('fonts/Oswald.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'QuattrocentoSans-Regular';
	src: url('fonts/QuattrocentoSans-Regular.eot');
	src: local('☺'), url('fonts/QuattrocentoSans-Regular.woff') format('woff'), url('fonts/QuattrocentoSans-Regular.ttf') format('truetype'), url('fonts/QuattrocentoSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #211917 url(img/bg-body.png) repeat-y center top;
    font-family: "QuattrocentoSans-Regular";
    margin: 0 auto;
}

header{
	background-color: #241b18;
	border-bottom: 1px solid #fff;
    padding: 36px 0 0;
    height: 120px;
}

header>div{
	width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

#logo{
	float: left;
}

#nav{
	display: inline-block;
    line-height: 80px;
    list-style: none;
    margin: 0 0 0 170px;
    padding: 0;
}

header ul li{
	float: left;
	padding-left: 30px;
}
header ul li a{
	color: #fff;
    font-family: "Oswald";
    font-size: 14px;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
}
header ul li a:visited, a:hover, a:active{
	color: #ffc947;
}

div.content{
	clear: both;
    width: 940px;
    margin: 0 auto;
    padding: 0; 
	background-position: -961px top;
    background-repeat: repeat-y;
}

.content p{
	color: #626161;
    font-size: 14px;
    line-height: 24px;
    margin: 0 ;
    padding: 0 0 24px;
    text-align: justify;
}


#adbox{
	height: 407px;
    width: 939px;
    border-color: #fff;
    border-width: 1px;
    border-style: none solid solid;
    margin: 0;
    position: relative;
}

span.info{
	display: inline-block;
    font-size: 14px;
    text-align: center;
    position: absolute;
    left: 330px;
    bottom: 25px;
}

em{
	display: block;
    font-size: 24px;
    font-style: normal;
}


div.body{
	background-image: url(img/bg-contents.png);
    background-repeat: no-repeat;
	background-position: bottom;
    width: 940px;
    margin:0 auto; 
}

div.detail{
	clear: both;
	background: url(img/bg-pattern.jpg) no-repeat left top;
    height: 407px;
    width: 469px;
    padding: 61px 45px;
    position: absolute;
    right: 0;
    top: 0;
}

div.detail h1{
	color: #241b18;
    font-family: "Oswald";
    font-size: 34px;
    font-weight: normal;
    line-height: 45px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px #fff;
}

div.detail p{
	color: #241b18;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

a.viewBtn{
	background-position: 0 0;
    color: #966a01;
    display: block;
    height: 34px;
    line-height: 34px;
    width: 109px;
}

#catalogue{
	display: inline-block;
	border-top: #fff solid 1px;
    list-style: none;
    width: 940px;
    padding: 0;
    margin: 0; 
}

#catalogue img{
	border: 0;
}

#catalogue li{
    background-color: #4b3a33;
}

#catalogue li .intro{
	background: url(img/separator-light.png) repeat-x left top;
    padding: 25px 23px 0;
}

#livingRoom, #bedroom, #kitchen{
	padding-left: 0;
	padding-right: 0;
}

.intro h4{
	color: #ffc947;
    font-family: "Oswald";
    font-weight: normal;
    margin: 0 0 6px;
    text-transform: uppercase;
}

.intro p{
	color: #fff;
    font-size: 12px;
    line-height: 18px;
}

.intro a{
	color: #fff;
    text-decoration: none;
}

#catalogue li #bedroom{
	background-color: #241b18;
}

#section{
	background-color: #fff;
	width: 940;
	margin-left:0px; 
}

#contact{
	background-color: #fff;
	float: left;
    background: url(img/separator-light-vertical.png) repeat-y right top;
    height: 250px;
    width: 314px;
    padding: 20px 40px 0 20px;
}

#contact p{
	color: #7b7b7b;
    font-family: "Oswald";
    font-size: 14px;
    padding-bottom: 0;
    text-transform: uppercase;
}
#contact b{
	color: #241b18;
    display: block;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    padding: 0 0 24px;
}

#blog{
	display: inline-block;
    height: 255px;
    width: 626px;
    padding: 20px 0 0;
}

#blog h4{
	color: #7b7b7b;
    font-family: "Oswald";
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 12px;
    padding-left: 21px;
    text-transform: uppercase;
}

#blog div{
	float: left;
    background: url(img/bg-box.png) no-repeat left top;
    width: 267px;
    margin: 0 21px;
    padding: 0 0 0 15px;
    position: relative;
}

#blog img{
	float: right;
    margin-left: 20px;
}

#blog span{
	color: #4b3a33;
    display: block;
    font-size: 12px;
    margin: 18px 0 0;
}

#blog p{
	color: #4b3a33;
    font-family: "Oswald";
    line-height: 18px;
    padding: 12px 0;
    text-align: left;
}

#blog a{
	color: #4b3a33;
    font: 12px/24px 'Oswald';
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 18px;
    left: 15px;
}

.viewBtn, .signupBtn{
	background: url(img/buttons.png) no-repeat;
	cursor: pointer;
	font: 14px/24px "Oswald";
	text-decoration: none;
	text-transform: uppercase;
}

footer{
	background-color: #e2b241;
    border-top: 1px solid #fff;
    padding: 28px 0 14px;
}

footer #links{
	background: url(img/separator-dark.png) repeat-x left bottom;
    display: inline-block;
    width: 940px;
    color: #4b3a33;
    margin: 0 auto;
    padding: 0 0 20px;
}

footer div{
	width: 940px;
    margin: 0 auto;
    padding: 0 ;
}

footer p{
	color: #4b3a33;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0 0 20px 0;}

#links #visitRoom{
	background: none;
    width: 307px;
    padding-left: 0;
    padding-right: 15px;
}

#visitRoom a{
	color: #4b3a33;
    display: block;
    text-decoration: underline;
}

#links div{
    background: url(img/separator-dark-vertical.png) repeat-y left top;
    height: 300px;
    width: 313px;
}

#links h4{
	color: #241b18;
    font-family: "Oswald";
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 12px;
    text-transform: uppercase;
}

#links p{
	margin-top: 10px;
}


#footerNav li{
	display: inline-block;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#newsletter{
	background: url(img/separator-dark.png) repeat-x left bottom;
    width: 284px;
    margin: 0 0 15px 10px;
    padding: 0 0 33px;
}

#newsletter .emailInput{
	color: #4b3a33;
    height: 34px;
    font-size: 15px;
    line-height: 34px;
    width: 284px;
    border: 3px solid #af8112;
    margin: 0 0 6px;
    padding: 0 4px;
}


#blogPost{
	padding-left: 30px;
}

#blogPost span{
	float: left;
    background: url(img/bg-time.png) no-repeat left top;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-family: "Oswald";
    display: block;
    height: 42px;
    width: 42px;
    margin: 0 5px 15px 0;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase;
}

#blogPost a{
	color: #4b3a33;
    display: block;
    font-family: "Oswald";
    text-decoration: none;
}

#blogPost li{
	width: 276px;
    margin: 0 0 10px 0;
}

.signupBtn{
	background-position: -13px -39px;
    font-size: 11px;
	height: 26px;
    width: 83px;
    border: none;
    color: #fff;
}

#socialLink{
	background:none;
	display: inline-block;
	padding-left: 10px;
}

#socialLink a{
	background: url(img/icons.png) no-repeat;
	display: inline-block;
    height: 33px;
    margin: 0 10px 0 0;
}

#socialLink a.facebook{
	background-position: -46px -112px;
    width: 33px;
}

#socialLink a.googleplus{
	background-position: -46px -153px;
    width: 34px;
}

#socialLink a.twitter{
	background-position: -46px -194px;
    width: 40px;
}

#footerNav{
	float: right;
    display: inline;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    font: 11px/24px "Oswald";
    text-decoration: none;
    text-transform: uppercase;
}

#footerNav a{
	padding-left:10px; 
    color: #ab7d0f;
}

#copyright{
	color: #ab7d0f;
    font: 11px/24px "Oswald";
    margin: 0;
    padding: 10px 0; 
    text-transform: uppercase;