.colWithRightBorder {
  margin-top: 1em;
  height: 90%;
  border-right-style: dotted;
  border-right-width: 4px;
  border-right-color: #FFBF00;
}

.colWithTopBorder {
  border-top-style: dotted;
  border-top-width: 4px;
  border-top-color: #FFBF00;
}

#mainFooter {
  height: 22em;
  background-color: #DBA901;
  color: #2A0A0A;
}

#mainFooter h5 {
  text-transform: uppercase;
}

#footer1 img {
  margin: 0;
  width: 100%;
}

.footerTbtext {
  margin: 1em 0 1em;
  height: 5em;
  background-color: #DBA901;
}

.footerTbtext > img {
  margin: 2px 0.5em 1em 2px;
  float: left;
  height: 3em;
  width: 3em;
}

.footerTbtext > p {
  line-height: 90%;
}

#footer3 {
  padding-left: 1.2em;
  margin-top: 1em;
}

#footer3top {
  background-color: #DBA901;
  height: 10em;
}

#inputText {
  padding: 0;
  margin: 0.3em 0 0 0;
  border-width: 3px;
  border-style: solid;
  border-color: #8A4B08;
  width: 100%;
  height: 3em;
  background-color: #FFFFFF;
  color: #8A4B08;
  padding-left: 0.5em;
  font-size: 80%;
}

#submit {
  /*margin-left: 16em;*/
  margin-top: 0.5em;
  color: #FFFFFF;
  background-color: #2A0A0A;
}

#footer3bottom {
  background-color: #DBA901;
  height: 10em;
}

#footer3bottom ul {
  list-style-type: none;
  padding: 0;
  align-items: left;
  /*padding-left: 8em;*/
}
#footer3bottom li {
  display: inline-block;
  /*padding-left: 1em;*/
  padding-top: 0.5em;
  padding-right: 1.5em;
}

#footer3bottom img {
  width: 2em;
  height: 2em;
}

#copyRightStatement {
  height: 3em;
  background-color: #DBA901;
  padding-top: 3px;
}

#statement {
  float: left;
  margin-right: 14em;
  padding-top: 0.5em;
  padding-left: 1em;
}

#copyRightStatement ul {
  padding-top: 0.5em;
  list-style-type: none;
  align-items: center;
}

#copyRightStatement li {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 1em;
}

#copyRightStatement a:visited, a:link {
  display: inline-block;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: #D8D8D8;
  text-align: center;
}

#copyRightStatement a:hover, a:active {
  color: #FFBF00;
}
