#header img {
  float: left;
  clear: left;
  width: 30em;
  height: 4em;
  margin: 2em 7em auto 9em;
}

#header ul {
  list-style-type: none;
  align-items: center;
  padding-top: 4em;
}

#header li {
  display: inline-block;
  text-transform: uppercase;
  /*padding-left: 5em;*/
  padding-right: 1.5em;
  width: auto;
  height:auto;
}

#header a:visited, a:link {
  display: inline-block;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: #D8D8D8;
  text-align: center;
}

#header a:hover, a:active {
  color: #FFBF00;
}
