/* --------- top block --------- */

#topBlock {
  background-color: #FFFF00;
  width: 60em;
  height: 28em;
  margin: 0 auto;
}

#topLeft {
  /*background-color: #D8D8D8;*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("./images/mainImage.png");
  height: inherit;
  padding: 0;
}

#viewDetialBtn {
  position: relative;
  padding: 80% 70%;
}

#topRight {
  /*background-color: #9AFE2E;*/
  background-image: url("./images/containerBG.png");
  background-repeat: repeat;
  height: inherit;
  padding: 3em 4em 4em;
}

#topRight h1 {
  text-transform: uppercase;
  text-align: center;
}

#topRight p {
  padding-top: 1em;
  line-height: 200%;
}

/* --------- center block --------- */

#centerBlock {
  background-color: #FFFFFF;
  width: 60em;
  height: 21em;
  margin: 0 auto;
}

.cbTopImage {
  /*height: 21em;*/
  height: inherit;
  background-color: #000000;
  /* compensate the padding problem from bootstrap grid system*/
  padding: 0;
}

.cbTopImage > img {
  width: 100%;
  height: 60%;
}

.cbText {
  height: 40%;
  padding: 0.3em 1.3em 0.2em 1.3em;
  background-color: #61380B;
  line-height: 120%;
  border-top-style: dotted;
  border-top-width: 3px;
  border-top-color: #FFBF00;
}

.cbText > h4 {
  text-transform: uppercase;
  color: #FFBF00;
}

.cbText > p {
  color: #FFFFFF;
  font-size: x-small;
}

/* --------- bottom block --------- */

#bottomBlock {
  background-color: #FFFF00;
  width: 60em;
  height: 15em;
  margin: 0 auto;
}

.bottomBlockLeft {
  height: inherit;
  padding: 1em 1.5em 1.5em;
   /*background-color: #9AFE2E;*/
  background-color: #FFFFFF;
  border-right-style: dotted;
  border-right-width: 4px;
  border-right-color: #FFBF00;
  text-transform: uppercase;
}

.bottomBlockRight {
  height: 15em;
  padding: 1em 1.5em 1.5em;
  margin: 0;
  /*background-color: #5882FA;*/
  background-color: #FFFFFF;
}

.bottomBlockRight > h4 {
  text-transform: uppercase;
}


.blogThumbNail {
  margin: 0;
  height: 6em;
  background-color: #D8D8D8;
}

.blogThumbNailText {
  float: left;
  clear: both;
  padding: 2px 1em;
  width: 50%;
  height: inherit;
}

.blogThumbNail > img {

  width: 50%;
  /*height: 100%;*/
  height: inherit;
}
