#header {
  background-color: #190B07;
  width: 80em;
  height: 8em;
  margin: 0 auto;
}

/* body - main container (background) */
#mainContainerBackground {
  /*background-color: #D0F5A9;*/
  background-image: url("./images/mainbg.png");
  width: 80em;
  height: 64em;
  margin: 0 auto;
}


/* body - main container */
#mainContainer {
  background-color: #2E64FE;
  width: 60em;
  height: 64em;
  margin: 0 auto;
}

/* body - footer (background) */
#footerBackground {
  background-color: #DBA901;
  width: 80em;
  height: 25em;
  margin: 0 auto;
}

/* body - footer */
#footer {
  background-color: #DBA901;
  width: 60em;
  height: 25em;
  margin: 0 auto;
}
