.bg_body{
  background-image: url(../img/bg-body.png);
}
.chair{
  background-image: url(../img/chair.jpg);
}
.bg-grey{
  background-image: url(../img/bg-grey.jpg);
}
.living-room{
  background-image: url(../img/living-room.jpg);
}
.bedroom{
  background-image: url(../img/bedroom.jpg);
}

.kitchen{
  background-image: url(../img/kitchen.jpg);
}
