/*------------head-------------*/
header {
    background-color: black;
    border-bottom: 2px solid #BBA299;
    color: white;
    .headerright {
        height: 100px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            li {
                list-style: none;
                a {
                    color: white;
                }
            }
        }
    }
}
/*------------head-------------*/
/*------------body-------------*/
%borderbottom {
    border-bottom: 2px solid;
}
body {
    background-color: #B1A7A3;
}
.banner {
    border-bottom: 2px solid #BBA299;
    background-color: #F1E8E5;
}
.imgbg {
    padding: 0;
    img {
        max-width: 100%;
    }
}
.imgtext {
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
    }
}
.grid3 {
    position: relative;
    @extend %no-padding;
    @extend %borderbottom;
    img {
        max-width: 100%;
    }
    .grid3text {
        position: absolute;
        bottom: 0;
        opacity: 0;
        padding: 15px;
        background-color: black;
        color: white;
        height:164px;
        &:hover {
            opacity: 0.8;
        }
        h1 {
            margin-top: 0;
            text-align: center;
        }
        p {
            font-size: 15px;
            line-height: 25px;
        }
    }
}
.blog {
    h1 {
        font-size: 20px;
    }
    a {
        color: #675752;
        font-size: 15px;
    }
}
%bgcolor {
    background-color: #DDDDDD;
}
%no-padding {
    padding: 0;
}
.section_down {
    padding-bottom: 20px;
    background-color: #F1E8E5;
    .section_down_left {}
    .sem {
        @extend %bgcolor;
        .section_down_mid {
            @extend %bgcolor;
            @extend %no-padding;
        }
        img {
            @extend %no-padding;
        }
        .section_down_right {
            @extend %bgcolor;
            @extend %no-padding;
        }
        img {
            @extend %no-padding;
        }
    }
}
/*------------body-------------*/
/*------------footer-------------*/
%textradius {
    background-color: #908976;
    border-radius: 4px;
}
%nomargin {
    font-size: 15px;
    margin: 0 0 5px;
}
%fp {
    font-size: 10px;
    padding-bottom: 20px;
}
footer {
    border-top: 2px solid #BBA299;
    background-color: black;
    color: white;
    .footer {
        margin-top: 20px;
        .footerleft {
            margin-bottom: 20px;
            h1 {
                font-size: 25px;
            }
            ul {
                padding: 0;
                li {
                    font-size: 5px;
                    line-height: 24px;
                    list-style: none;
                }
            }
            img {
                height: 150px;
                max-width: 100%;
            }
        }
        .footermid {
            margin-bottom: 20px;
            h1 {
                font-size: 25px;
                margin-bottom: 20px;
            }
            .midtext-tl {
                p {
                    @extend %textradius;
                    margin: 0;
                    text-align: center;
                }
            }
            .midtext-tr {
                @extend %fp;
                h1 {
                    @extend %nomargin;
                }
            }
            .midtext-ml {
                p {
                    @extend %textradius;
                    margin: 0;
                    text-align: center;
                }
            }
            .midtext-mr {
                @extend %fp;
                h1 {
                    @extend %nomargin;
                }
            }
            .midtext-bl {
                p {
                    @extend %textradius;
                    margin: 0;
                    text-align: center;
                }
            }
            .midtext-br {
                @extend %fp;
                h1 {
                    @extend %nomargin;
                }
            }
        }
        .footerright {
            .right-top {
                padding-bottom: 20px;
                border-bottom: 2px solid;
                h1 {
                    font-size: 25px;
                }
                input {
                    width: 100%;
                    margin: 8px 0;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
                .submit {
                    border-radius: 4px;
                    background-color: #948682;
                }
            }
            .right-bottom {
                h1 {
                    text-align: center;
                    font-size: 15px;
                }
                ul {
                    padding-left: 20px;
                    padding-right: 20px;
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
    .footerdown {
        border-top: 2px solid;
        .footerdown-l {
            h1 {
                margin-top: 0;
                font-size: 15px;
            }
        }
        .footerdown-r {
            height: 100%;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                a {
                    color: white;
                }
            }
        }
    }
}
@media (min-width:1024px) {
    .footermid {
        border-right: 2px solid;
        height: 310px;
    }
    .footerleft {
        border-right: 2px solid;
        height: 310px;
    }
}
/*------------footer-------------*/
