:root {
  --main-color-1: rgb(36, 27, 24);
  --main-color-2: rgb(74, 58, 51);
  --main-color-3: rgb(153, 110, 6);
  --main-color-4: rgb(226, 178, 64);
  --main-color-5: rgb(255, 201, 71);
}

/* reset */

a {
  text-decoration: none;
}

/* header */

header {
  background-color: var(--main-color-1);
  border-bottom: 1px solid snow;
}

.header_contents {
  padding: 1.5rem 0;
}

.logo {
  margin: 0;
  width: 70%;
}

.logo a {
  display: block;
  padding: 0;
  margin: 0;
}

.logo img {
  width: 100%;
}

.my_nav .navbar-toggler {
  padding: 0.25rem 0.5rem;
  border-radius: 0;
  font-size: 1rem;
  background-color: rgba(255, 250, 250, 0.904);
}

.my_nav .navbar-toggler:focus {
  box-shadow: none;
}

.my_nav .navbar-collapse {
  margin-top: 0.5rem;
}

.my_nav .navbar-nav .nav-link {
  color: snow;
  text-transform: uppercase;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.my_nav .navbar-nav .nav-link:hover {
  color: var(--main-color-5);
}

/* intro */

.intro {
  outline: 1px solid snow;
}

.onsale {
  position: relative;
}

.onsale_img {
  height: 100%;
}

.onsale_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.onsale_info {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  width: fit-content;
  text-align: center;
}

.onsale_info h4 {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

.onsale_info p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.onsale_info a {
  display: inline-block;
  width: 109px;
  line-height: 35px;
  background: url("./img/buttons.png") no-repeat;
  color: var(--main-color-3);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.onsale_info a:hover {
  background: url("./img/buttons.png") no-repeat 100% 0;
  color: blue;
}

.intro article {
  background: url("./img/bg-pattern.jpg") no-repeat;
  background-size: cover;
  padding: 3rem 2.5rem;
}

.intro h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  text-shadow: 1px 1px snow;
  text-transform: uppercase;
}

/* rooms */

.room_img {
  width: 100%;
}

.room_img img {
  width: 100%;
  object-fit: cover;
}

.room_text {
  position: relative;
  background-color: var(--main-color-2);
  padding: 1.5rem 2.5rem;
}

.rooms .row > div:nth-child(even) .room_text {
  background-color: var(--main-color-1);
}

.room_text h3 {
  color: var(--main-color-5);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.room_text p {
  margin: 0;
  color: snow;
}

.room_text::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: url("./img/separator-light.png") repeat-x;
}

/* visit and blogs */

.visit_and_blogs {
  background-color: snow;
}

.visit_and_blogs .visit_and_blogs_header {
  margin: 0;
  color: rgb(123, 123, 123);
  font-size: 1.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.visit_us {
  position: relative;
  padding: 1.5rem 2.5rem;
}

.visit_us::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: url("./img/separator-light.png") repeat-x;
}

.visit_us p:not(.visit_and_blogs_header) {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.from_the_blog {
  padding: 1.5rem 2.5rem;
}

.blog_posts {
  margin-top: 1.5rem;
}

.blog_post:not(:first-child) {
  margin-top: 1.5rem;
}

.blog_post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_post_text {
  padding: 1rem;
  background-color: rgb(221, 218, 211);
  color: var(--main-color-2);
}

.blog_post_text .post_name {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.blog_post_text .read_more {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.blog_post_text .read_more a {
  display: inline-block;
  color: inherit;
}

.blog_post_text .read_more a:hover {
  color: var(--main-color-3);
}

.main_contents {
  box-shadow: 3px 1px 20px black, -3px 1px 20px black;
}

/* footer */

footer {
  padding: 1rem 0;
  background-color: var(--main-color-4);
  box-shadow: 0 -1px 10px black;
}

.footer_contents {
  margin: 0 2.5rem;
}

.contacts {
  color: var(--main-color-2);
}

.contacts .row {
  padding: 1rem 0;
}

.contacts .row > div::after,
.newsletter_and_social .newsletter::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  margin: 1rem 0;
  background: url(./img/separator-dark.png) repeat-x;
}

.contacts .footer_header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color-2);
}

.showroom_img img {
  width: 100%;
  object-fit: cover;
}

.showroom p:not(.footer_header) {
  margin-top: 1rem;
}

.showroom a {
  display: block;
  margin-top: 2rem;
  color: inherit;
}

.showroom a[href^="mailto"] {
  text-decoration: underline;
}

.recent_post {
  display: flex;
  gap: 1rem;
}

.recent_post .recent_post_date {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  background: url("./img/bg-time.png") no-repeat;
  background-size: cover;
  color: snow;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 1.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
}

.recent_post .recent_post_header {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1;
}

.newsletter input[type="email"] {
  display: block;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  border: 3px solid var(--main-color-3);
}

.newsletter input[type="submit"] {
  display: block;
  padding: 0;
  width: 85px;
  line-height: 35px;
  color: snow;
  border: none;
  background: url("./img/buttons.png") no-repeat -13px -35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
}

.newsletter input[type="submit"]:hover {
  background: url("./img/buttons.png") no-repeat -127px -35px;
  color: red;
}

.social_icons {
  font-size: 0;
}

.social_icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.social_icons a:not(:first-child) {
  margin-left: 1rem;
}

.social_icons a.facebook {
  background: url("./img/icons.png") no-repeat -43px -108px;
}

.social_icons a.facebook:hover {
  background: url("./img/icons.png") no-repeat 3px -108px;
}

.social_icons a.google_plus {
  background: url("./img/icons.png") no-repeat -43px -149px;
}
.social_icons a.google_plus:hover {
  background: url("./img/icons.png") no-repeat 3px -149px;
}

.social_icons a.twitter {
  background: url("./img/icons.png") no-repeat -46px -189px;
}
.social_icons a.twitter:hover {
  background: url("./img/icons.png") no-repeat 0 -189px;
}

.copyright_and_back_links {
  display: flex;
  flex-direction: column;
  color: rgb(171, 125, 15);
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.copyright_text p {
  margin: 1rem 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.back_links {
  display: flex;
  justify-content: space-evenly;
}

.back_links a {
  color: inherit;
  font-size: 1.2rem;
}

.back_links a:hover {
  color: var(--main-color-1);
}

@media (max-width: 375px) {
  .newsletter input[type="email"] {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  .header_contents {
    margin: 0 2.5rem;
  }

  .my_nav .container-fluid {
    padding: 0;
  }

  .logo {
    width: fit-content;
  }

  main {
    background: url("./img/bg-body.png") repeat-y;
    background-size: contain;
  }

  .main_contents {
    margin: 0 2.5rem;
  }

  .from_the_blog .blog_post {
    display: flex;
    flex-direction: row-reverse;
  }

  .blog_post > * {
    flex: 1 0 50%;
  }
}

@media (min-width: 768px) {
  .my_nav .container-fluid {
    gap: 3rem;
  }

  .my_nav .navbar-collapse {
    margin: 0;
    flex-grow: 0;
  }

  .intro article {
    min-height: 100%;
  }

  .room {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .room_text {
    flex-grow: 1;
    padding: 1.5rem;
  }

  .visit_us {
    height: 100%;
    padding: 1.5rem;
  }

  .visit_us::after {
    width: 7px;
    height: calc(100% - 3rem);
    left: unset;
    right: 0;
    top: 1.5rem;
    background: url("./img/separator-light-vertical.png") repeat-y;
  }

  .from_the_blog {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  .header_contents,
  .main_contents,
  .footer_contents {
    margin: 0 auto;
    max-width: 992px;
  }

  .header_contents {
    padding: 1.5rem 1rem;
  }

  footer {
    padding: 1rem 0;
  }

  .intro article {
    padding: 4rem 3rem;
  }

  .intro h2 {
    font-size: 2.5rem;
  }

  .room_text h3 {
    font-size: 1.3rem;
  }

  .visit_and_blogs .visit_and_blogs_header {
    font-size: 1rem;
  }

  .from_the_blog .blog_posts {
    display: flex;
    gap: 2.5rem;
  }

  .from_the_blog .post_name,
  .from_the_blog .read_more {
    font-size: 1rem;
  }

  .blog_post:not(:first-child) {
    margin: 0;
  }

  .contacts .footer_header {
    font-size: 1.2rem;
  }

  .contacts .row > div {
    position: relative;
  }

  .contacts .row > div:not(:last-child) {
    padding-right: calc(1.5rem + 7px);
  }

  .contacts .row > div:not(:first-child) {
    padding-left: 1.5rem;
  }

  .contacts .row > div::after {
    width: 7px;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: url("./img/separator-dark-vertical.png") repeat-y;
  }

  .contacts .row > div:last-child::after {
    display: none;
  }

  .contacts::after {
    content: "";
    display: block;
    width: 100%;
    height: 7px;
    background: url(./img/separator-dark.png) repeat-x;
  }

  .recent_post .recent_post_date {
    width: 42px;
    height: 42px;
    line-height: 21px;
    font-size: 0.9rem;
  }

  .copyright_and_back_links {
    padding: 1rem 0;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 1rem;
  }

  .copyright_text p {
    margin: 0;
  }

  .back_links {
    gap: 1rem;
  }
}
