/*------------head-------------*/
/* line 2, ../scss/t4.scss */
header {
  background-color: black;
  border-bottom: 2px solid #BBA299;
  color: white;
}
/* line 6, ../scss/t4.scss */
header .headerright {
  height: 100px;
}
/* line 8, ../scss/t4.scss */
header .headerright ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
/* line 13, ../scss/t4.scss */
header .headerright ul li {
  list-style: none;
}
/* line 15, ../scss/t4.scss */
header .headerright ul li a {
  color: white;
}

/*------------head-------------*/
/*------------body-------------*/
/* line 24, ../scss/t4.scss */
.grid3 {
  border-bottom: 2px solid;
}

/* line 27, ../scss/t4.scss */
body {
  background-color: #B1A7A3;
}

/* line 30, ../scss/t4.scss */
.banner {
  border-bottom: 2px solid #BBA299;
  background-color: #F1E8E5;
}

/* line 34, ../scss/t4.scss */
.imgbg {
  padding: 0;
}
/* line 36, ../scss/t4.scss */
.imgbg img {
  max-width: 100%;
}

/* line 41, ../scss/t4.scss */
.imgtext h1 {
  font-size: 40px;
}
/* line 44, ../scss/t4.scss */
.imgtext p {
  font-size: 20px;
}

/* line 48, ../scss/t4.scss */
.grid3 {
  position: relative;
}
/* line 52, ../scss/t4.scss */
.grid3 img {
  max-width: 100%;
}
/* line 55, ../scss/t4.scss */
.grid3 .grid3text {
  position: absolute;
  bottom: 0;
  opacity: 0;
  padding: 15px;
  background-color: black;
  color: white;
  height: 164px;
}
/* line 63, ../scss/t4.scss */
.grid3 .grid3text:hover {
  opacity: 0.8;
}
/* line 66, ../scss/t4.scss */
.grid3 .grid3text h1 {
  margin-top: 0;
  text-align: center;
}
/* line 70, ../scss/t4.scss */
.grid3 .grid3text p {
  font-size: 15px;
  line-height: 25px;
}

/* line 77, ../scss/t4.scss */
.blog h1 {
  font-size: 20px;
}
/* line 80, ../scss/t4.scss */
.blog a {
  color: #675752;
  font-size: 15px;
}

/* line 85, ../scss/t4.scss */
.section_down .sem, .section_down .sem .section_down_mid, .section_down .sem .section_down_right {
  background-color: #DDDDDD;
}

/* line 88, ../scss/t4.scss */
.grid3, .section_down .sem .section_down_mid, .section_down .sem img, .section_down .sem .section_down_right {
  padding: 0;
}

/* line 91, ../scss/t4.scss */
.section_down {
  padding-bottom: 20px;
  background-color: #F1E8E5;
}

/*------------body-------------*/
/*------------footer-------------*/
/* line 115, ../scss/t4.scss */
footer .footer .footermid .midtext-tl p, footer .footer .footermid .midtext-ml p, footer .footer .footermid .midtext-bl p {
  background-color: #908976;
  border-radius: 4px;
}

/* line 119, ../scss/t4.scss */
footer .footer .footermid .midtext-tr h1, footer .footer .footermid .midtext-mr h1, footer .footer .footermid .midtext-br h1 {
  font-size: 15px;
  margin: 0 0 5px;
}

/* line 123, ../scss/t4.scss */
footer .footer .footermid .midtext-tr, footer .footer .footermid .midtext-mr, footer .footer .footermid .midtext-br {
  font-size: 10px;
  padding-bottom: 20px;
}

/* line 127, ../scss/t4.scss */
footer {
  border-top: 2px solid #BBA299;
  background-color: black;
  color: white;
}
/* line 131, ../scss/t4.scss */
footer .footer {
  margin-top: 20px;
}
/* line 133, ../scss/t4.scss */
footer .footer .footerleft {
  margin-bottom: 20px;
}
/* line 135, ../scss/t4.scss */
footer .footer .footerleft h1 {
  font-size: 25px;
}
/* line 138, ../scss/t4.scss */
footer .footer .footerleft ul {
  padding: 0;
}
/* line 140, ../scss/t4.scss */
footer .footer .footerleft ul li {
  font-size: 5px;
  line-height: 24px;
  list-style: none;
}
/* line 146, ../scss/t4.scss */
footer .footer .footerleft img {
  height: 150px;
  max-width: 100%;
}
/* line 151, ../scss/t4.scss */
footer .footer .footermid {
  margin-bottom: 20px;
}
/* line 153, ../scss/t4.scss */
footer .footer .footermid h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
/* line 158, ../scss/t4.scss */
footer .footer .footermid .midtext-tl p {
  margin: 0;
  text-align: center;
}
/* line 171, ../scss/t4.scss */
footer .footer .footermid .midtext-ml p {
  margin: 0;
  text-align: center;
}
/* line 184, ../scss/t4.scss */
footer .footer .footermid .midtext-bl p {
  margin: 0;
  text-align: center;
}
/* line 198, ../scss/t4.scss */
footer .footer .footerright .right-top {
  padding-bottom: 20px;
  border-bottom: 2px solid;
}
/* line 201, ../scss/t4.scss */
footer .footer .footerright .right-top h1 {
  font-size: 25px;
}
/* line 204, ../scss/t4.scss */
footer .footer .footerright .right-top input {
  width: 100%;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* line 211, ../scss/t4.scss */
footer .footer .footerright .right-top .submit {
  border-radius: 4px;
  background-color: #948682;
}
/* line 217, ../scss/t4.scss */
footer .footer .footerright .right-bottom h1 {
  text-align: center;
  font-size: 15px;
}
/* line 221, ../scss/t4.scss */
footer .footer .footerright .right-bottom ul {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
/* line 231, ../scss/t4.scss */
footer .footerdown {
  border-top: 2px solid;
}
/* line 234, ../scss/t4.scss */
footer .footerdown .footerdown-l h1 {
  margin-top: 0;
  font-size: 15px;
}
/* line 239, ../scss/t4.scss */
footer .footerdown .footerdown-r {
  height: 100%;
}
/* line 241, ../scss/t4.scss */
footer .footerdown .footerdown-r ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
/* line 246, ../scss/t4.scss */
footer .footerdown .footerdown-r ul a {
  color: white;
}

@media (min-width: 1024px) {
  /* line 254, ../scss/t4.scss */
  .footermid {
    border-right: 2px solid;
    height: 310px;
  }

  /* line 258, ../scss/t4.scss */
  .footerleft {
    border-right: 2px solid;
    height: 310px;
  }
}
/*------------footer-------------*/
