body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: sans-serif;
    background-image: url("../img/bg.jpg");
}

clear {
    clear: both;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    margin: 0px;
}

.two {
    width: 50%;
}

.three {
    width: 33%;
}

.fixed-width {
    width: 981px;
    margin: 0 auto;
}

#header {
    background-color: #241A19;
    height: 130px;
    width: 100%;
    border-bottom: 1px #fff solid;
}

#web-title {
    text-transform: uppercase;
    padding: 31px 0px;
    text-align: left;
}

#web-title h1 {
    color: #FFC947;
    margin: 0px;
    font-family: serif;
}

#web-title h2 {
    color: #fff;
    margin: 0px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 4px;
}

.navbar {
    float: right;
    margin: 0px;
    padding-top: 55px;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.navbar li {
    float: left;
    margin: 0 18px 0 18px;
}

.navbar a, .navbar a:visited {
    text-decoration: none;
    color: #fff;
}

.active {
    color: #FFC947 !important;
}

#content {
    background-color: #fff;
}

.a {
    background-color: #DDDAD3;
    height: 407px;
    border-bottom: 1px #fff solid;
}

.a-1 {
    background-image: url("../img/a1.jpg");
    width: 461px;
    height: 100%;
    border-right: 1px #fff solid;
    box-shadow:5px 0px 12px rgba(0, 0, 0, 0.3);
}

.a-2 {
    width: 100%;
    width: 519px;
    padding: 50px;
}

.a-2 h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 340px;
    font-size: 38px;
}

.a-2 p {
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
}

.b > div {
    width: 327px;
}

.b .line {
    box-sizing: content-box;
    width: 100%;
    height: 5px;
    border-top: 5px #FFC947 solid;
    border-bottom: 3px #FFC947 solid;
    margin: 0;
    padding: 0;
}

.b-1 .line, .b-3 .line , .b-1 .text, .b-3 .text {
    background-color: #4B3A33;
}

.b-2 .line, .b-2 .text {
    background-color: #241B18;
}

.b .text {
    padding: 13px 20px 5px 20px;
}

.b h1 {
    margin: 0px;
    color: #FFC947;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.b p {
    margin: 0px;
    color: #fff;
    font-size: 13px;
}
