body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: sans-serif;
    background-image: url("../img/bg.jpg");
}

.clear {
    clear: both;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    margin: 0px;
}

.two {
    width: 50%;
}

.three {
    width: 33%;
}

.fixed-width {
    width: 981px;
    margin: 0 auto;
}

#header {
    background-color: #241A19;
    height: 130px;
    width: 100%;
    border-bottom: 1px #fff solid;
}

#web-title {
    text-transform: uppercase;
    padding: 31px 0px;
    text-align: left;
}

#web-title h1 {
    color: #FFC947;
    margin: 0px;
    font-family: serif;
}

#web-title h2 {
    color: #fff;
    margin: 0px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 4px;
}

.navbar {
    float: right;
    margin: 0px;
    padding-top: 55px;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.navbar li {
    float: left;
    margin: 0 18px 0 18px;
}

.navbar a, .navbar a:visited {
    text-decoration: none;
    color: #fff;
}

.active a {
    color: #FFC947 !important;
}

#content {
    background-color: #fff;
}

.a {
    background-color: #DDDAD3;
    height: 407px;
    border-bottom: 1px #fff solid;
}

.a-1 {
    background-image: url("../img/a1.jpg");
    width: 461px;
    height: 100%;
    border-right: 1px #fff solid;
    box-shadow:5px 0px 12px rgba(0, 0, 0, 0.3);
}

.a-2 {
    width: 100%;
    width: 519px;
    padding: 50px;
}

.a-2 h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 340px;
    font-size: 38px;
}

.a-2 p {
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
}

.b {
    display: inline-block;
}

.b > div {
    width: 327px;
    height: auto;
}

.b img {
    float: left;
}

.b .line {
    float: left;
    box-sizing: content-box;
    width: 100%;
    height: 5px;
    border-top: 5px #FFC947 solid;
    border-bottom: 3px #FFC947 solid;
    margin: 0;
    padding: 0;
}

.b-1 .line, .b-3 .line , .b-1 .text, .b-3 .text {
    background-color: #4B3A33;
}

.b-2 .line, .b-2 .text {
    background-color: #241B18;
}

.b .text {
    float: left;
    padding: 13px 20px 5px 20px;
    height: 96px;
}

.b h1 {
    margin: 0px;
    color: #FFC947;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.b p {
    margin: 0px;
    color: #fff;
    font-size: 13px;
}

.c {
    width: 100%;
    height: 280px;
    display: inline-block;
    background-color: #fff;
}

.c h6 {
    margin: 0;
    color: #7B7B92;
    font-size: 14px;
    text-transform: uppercase;
}

.c-1 span {
    font-size: 24px;
    text-transform: uppercase;
}

.c-1 {
    width: 33.5%;
    height: 100%;
    padding: 30px 20px 30px 20px;
    border-right: 3px #FFC947 dotted;
    border-right-width: thick;
}

.c-2 {
    width: 66.5%;
    height: 100%;
    padding: 30px 0px 30px 20px;
}

.c .post {
    width: 288px;
    background-color: #DDDAD3;
    font-size: 13px;
    margin: 20px 25px 0 0;
}

.c .post .text {
    width: 50%;
    padding: 13px;
}

.c .post .cover {
    width: 50%;
}

.c .post .title {
    color: #7A5300;
}

.c .post .more {
    text-transform: uppercase;
}

#footer {
    display: inline-block;
    background-color: #E2B241;
    width: 100%;
}

#footer div.three:nth-child(1), #footer div.three:nth-child(2) {
    border-right: 5px #B68B35 dotted;
}


#footer h1 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px 0;
}

#footer .column {
    margin: 20px 0 20px 0;
    height: 350px;
    padding: 10px;
}

#footer p {
    font-size: 13px;
}

#footer .post {
    width: 100%;
    margin: 20px 0;
}

#footer .post .date {
    float: left;
    color: #fff;
    margin: 6px 6px 0 0;
    padding: 5px 3px 3px 3px;
    height: 45px;
    width: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    background-color: #4B3A33;
    border-radius: 3px    ;
}

#footer .post .summary {
    float: left;
    width: 240px;
    font-size: 13px;
    padding: 5px;
}

#footer .post .summary .title {
    font-weight: bold;
    font-size: 14px;
}

#footer .join {
    border-bottom: 5px #B68B35 dotted;
}

#footer .join input[type="text"] {
    width: 100%;
    font-size: 12px;
    padding: 5px;
    border: 3px #4B3A33 solid;
}

#footer .join input[type="submit"] {
    background-color: #4B3A33;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 0;
    padding: 5px 15px 5px 15px;
    margin: 10px 0;
}

#footer .social img {
    margin: 0 20px 0 0;
    }


.claim {
    border-top: 1px #B68B35 dotted;
    border-top-width: thick;
    text-transform: uppercase;
    font-weight: bold;
    color: #967228;
    width: 100%;
    margin: 0 auto;
    padding: 10px 5px 20px 5px;
}

.claim .copyright {
    float: left;
}

.claim .menu {
    float: right;
}

.claim .menu ul {
    margin: 0px;
}

.claim .menu ul li {
    display: inline-block;
    margin-left: 10px;
}
