/**{
   outline: 1px blue solid;
}**/



/*-----------------------------------------------------------------header*/

body{
	background-image: url("../img/bg-body.png");
   background-size: contain;
}

.header{
	background-color: rgb(31, 0, 1);
	padding: 30px 0;
	border-bottom: 1px rgb(230, 230, 230) solid;
}

.header_logo{
	text-align: center;
}

.header_nav{
	padding-top: 30px;
	padding-right: 120px;
}

.nav a{
	color: #ffffff;
	font-weight:bold;
	outline: none;
	text-decoration: none;
	font-size: 12pt;
	margin-left: 25px;
}

.nav a:hover{
	color: #ffd306;
}

.content{
	border: 1px rgb(230, 230, 230) solid;
}

.content_left{
	background-image: url("../img/chair.jpg");
	background-size: cover;
	text-align: right;
	padding-bottom: 20px;
}

.content_right{
	background-image: url("../img/bg-pattern.jpg");
	background-size: cover;
	padding: 80px;
}

.content_left p{
	margin-right: 40px;
	line-height: 0px;
	padding-top: 300px;
}

.content_left h3{
	margin-right: 38px;
	line-height: 15px;
}

.content_left img{
	margin-right: 35px;
}

.content_right h2{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	text-shadow: 1px 1px #fff;
	
}


.content_pic img{
	width: 100%;
	height: auto;
}

.pic{
	padding: 0;
}

.pic_word {
	background-color: #4b3a33;
	padding: 10px;
}

.light_bar{
	background-image: url("../img/separator-light.png");
	background-repeat: repeat-x;
	padding-top: 5px;
}

.pic_word h5{
	color: #ffc947;
}

.pic_word p{
	color: #ffffff;
	font-size: 8pt;
}

.content_white{
	background-color: #ffffff;
}

.white_right{
	padding-top: 10px;
	background: url(../img/separator-light-vertical.png) repeat-y right;
	padding-bottom: 20px;
}

.white_right span{
	color: #7A7A7A;
}

.white_right p{
	font-size: 18pt;
	margin-top: 10px;
}

.white_left{
	padding-top: 10px;
	padding-bottom: 20px;
}

.white_left span{
	font-size: 10pt;
	color: #7A7A7A;
}

.cards{
	background-color:#DBD9D3;
	margin-top: 10px;
}

.card_left{
	text-align: center;
	padding-top: 30px;
}

.card_right img{
	width: 100%;
	height: auto;
}

.footer{
	background-color: #ffc947;
	border-top: 1px solid #ffffff;
	box-shadow: 0px -5px 8px #888888;
	padding-top: 40px;
}

.footer h5{
	font-weight: bold;
	padding-bottom: 20px;
}

.footer img{
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}

.footer a{
	color: #000000;
}

.footer_left{
	background: url(../img/separator-dark-vertical.png) repeat-y right;
}

.footer_mid{
	background: url(../img/separator-dark-vertical.png) repeat-y right;
}

.footer_mid h6{
	font-weight: bold;
	font-size: 14pt;
}

.mid_content2{
	margin-top: 20px;
}

.mid_icon img{
	width: 50px;
	height: auto;
	float: left;
}

.mid_icon p{
	position: absolute;
	text-align: center;
	color: #ffffff;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 9px;
	margin-top: 5px;
}

.right_content1{
	background: url(../img/separator-dark.png) repeat-x bottom;
}

.right_content1 input{
	width: 100%;
	border: 3px solid #A0522D;
}

.right_content1 img{
	width: 84px;
	height: auto;
	margin: 30px 0;
}

.right_content2{
	margin-top: 20px;
}

.right_content2 a{
	float: left;
}

.icon{
	margin-left: 10px;
}

.copyright{
	background: url(../img/separator-dark.png) repeat-x top;
	padding-top: 20px;
	padding-bottom: 10px;
}

.menuleft{
	background: url(../img/separator-dark.png) repeat-x top;
	padding-top: 20px;
	padding-bottom: 10px;
}

.copyright h6{
	font-weight: bold;
	color: #ab7d0f;
}

.fotter_menu a{
	color: #ab7d0f;
	font-weight: normal;
	margin-left: 40px;
}

.fotter_menu a:hover{
	color: #ab7d0f;
} 