.banner {
    border: 1px solid #fff;
}

.banner div {
    padding: 0;
}

.banner_img_area {
    position: relative;
}

.align_right_bottom_box {
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner_title {
    font-size: 11pt;
}

.banner_money {
    font-size: 18pt;
}

.banner_view_detail_btn {
    font-size: 10pt;
    background-image: url(../img/buttons.png);
    background-position: 0 Top;
    background-repeat: no-repeat;
    line-height: 35px;
    width: 110px;
    margin: 0 auto;
    color: #866E2D;
}

.banner_text_area {
    background-image: url("../img/bg-pattern.jpg");
    background-size: cover;
}

.banner_text_area div {
    width: 380px;
}

.banner_text_area h2 {
    text-shadow: 1px 1px 0 #fff;
}

.align_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_line{
    padding: 3px;
    background: url(../img/separator-light.png);
    background-size: contain;
}

.room_title {
    color: #EBCC67;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.room_text {
    font-size: 9pt;
    margin-left: 15px;
    margin-right: 15px;
}

.about_us_contact_title {
    color: #7A7A7A;
    font-size: 11pt;
}

.about_us_contact_text {
    font-size: 28px;
}

.form_blog_v_line {
    background: url(../img/separator-light-vertical.png) repeat-y right;
}

.form_blog_date {
    font-size: 8pt;
    padding-top: 15px;
}

.from_blog_indentation {
    padding-left: 5px;
}
