.footer {
    width: 100%;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.6);
}

.footer_color {
    background-color: #D0B45D;
    color: #9B8137;
    border-top: solid 1px #fff;
}

.footer_lastest_line_font {
    font-size: 9pt;
}

.footer_v_line {
    background: url(../img/separator-dark-vertical.png) repeat-y right;
}

.footer_lastest_line_border {
    background: url(../img/separator-dark.png) repeat-x top;
    padding-top: 15px;
}

.footer_gap {
    margin: 20px 0;
}

.footer_menu {
    margin: 0;
    padding: 0;
}

.footer_menu li {
    display: inline;
    padding: 0 5pt;
}

.footer_title_color {
    color: #423627;
}

.footer_color p, .footer_color span {
    color: #423627;
    font-size: 9pt;
    margin-top: 16px;
    margin-bottom: 0;
}

.footer dd {
    margin-bottom: 1rem;
}

.recent_blog_ports_title {
    margin: 0;
}

.footer_calendar {
   background-color: #423627;
   color: #FFFFFF;
   width: 50px;
}

.footer_join_us_form {
    margin: 15px 0;
}

.join_us_text_area {
    border: 2px solid #9B8137;
    padding: 2px 7px;
    font-size: 9pt;
    width: 100%;
    display: block;
    color: #111;
}

.sgin_us_button {
    width: 85px;
    height: 28px;
    color: #fff;
    text-align: center;
    font-size: 10pt;
    line-height: 28px;
    background-image: url(../img/buttons.png);
    background-position: -13px bottom;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 2px 0;
}

i.connect_icon_size {
    font-size: 32px;
    margin-right: 5px;
}
