
.heading_color {
    background-color: #26221F;
    color: #fff;
}

.heading_desktop {
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    border-bottom: 1px white solid;
    position: fixed;
    top: 0;
}


.logo {
    margin: 28px 0;
}

.menu_align {
    float: right;
    padding-top: 60px;
}

.menu_text_style{
    font-size: 14px;
    text-align: center;
}

.menu_item {
    display: inline;
    padding-left: 20px;
}

.menu_selected {
    color: #EBCC67;
}
