body {
    margin: 0;
    background-image: url("../img/bg-body.png");
    background-size: contain;
}

.fix_area_side_space {
    max-width: 935px;
    margin: 0 auto;
}

.white_background {
    background-color: #FFFFFF;
}

.brown_background {
    background-color: #473E38;
}

.white_front_color {
    color: #fff;
}

.fluid {
    padding: 0;
}

.gray_background {
    background-color: #DBD9D3;
}
