/*
淺咖啡：#4b3a34
深咖啡：#241b17
薑黃：#e2b241
*/

body {
    background-image: url(img/bg-body.png);
}

.header {
    background: #241b17;
}

.navbar-brand {
    max-width: 80%;
}

.nav {
    background-color: #494949;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.navbar {
    padding: 0;
}

.nav-item {
    text-align: center;
}

.navbar-inverse .navbar-nav .nav-link:focus,
.navbar-inverse .navbar-nav .nav-link:hover {
    color: #e2b241;
}

.nav-link {
    line-height: 6em;
}


/*
@media (min-width: 992px) {
    .center {
        max-width: 960px;
    }
}
*/

.content>.row1>.col {
    background-size: cover;
    height: 400px;
    /*    因為內容物用align-items置中了所以padding-bottom保持寬高筆的方式不能用了*/
    /*    padding-bottom: 40%;*/
}

.row1 {
    padding-bottom: 6px;
    background: url(img/separator-light.png) repeat-x bottom;
}


.banner1 {
    background: url(img/chair.jpg) no-repeat;
}

.banner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: url(img/bg-pattern.jpg) repeat-y;
}



.banner2 .title {
    font-size: 1.5em;
}

.content>.row2>.col {
    background-size: cover;
    height: 0;
    padding-bottom: 20%;
}

.banner3 {
    background: url(img/living-room.jpg) no-repeat;
    background-position-x:center;
}

.banner4 {
    background: url(img/bedroom.jpg) no-repeat;
    background-position-x:center;
}

.banner5 {
    background: url(img/kitchen.jpg) no-repeat;
    background-position-x:center;
}

.row3 {
/*    border-top: 2px dotted darkorange;*/
    background: #4b3a34;
}

.subtitle {
    padding: 190px 10px 10px 10px;
    color: darkorange;
    font-size: 1.5em;
}

.row3 .col {
    text-align: center;
}

.row3 .col .article {
    text-align: left;
}



.row4 {
    background: white;
}

.section {
    display: flex;
    max-width: 90%;
    margin: 20px 10px;
    background: lightgray;
}

.item {
    flex-grow: 1;
}

.item:nth-child(1) {
    padding: 10px;
}

.row4 .col:nth-child(3) {
    padding-top: 35px;
}

.row4 .title2 {
    margin: 20px 0 0 0;
    font-size: 0.5em;
    color: darkgrey;    
}

.row4 .border {
    background: url(img/separator-light-vertical.png) repeat-y right;
}

.article {
    color: white;
}

.footer {
    background: #e2b241;
}

/*
.footer .container .row .col {
    text-align: center;
}
*/
.fimg {
    margin-left: 10px;
}

.ftitle {
    padding: 20px 0 10px;
    text-align: left;
     font-weight: bold;
}

.ftext {
    padding: 10px 10px 0;
    font-size: 0.5em;
}

.fsection {
    display: flex;
}

.date {
    flex-basis: 42px;
    flex-shrink: 1;
    width: 42x;
    height: 42px;
    padding: 5px;
    font-size:10px;
    text-align: center;
    background: url(img/bg-time.png) no-repeat left top;
    color: white;
}

.fwrap {
    flex-basis: auto;
    flex-shrink: 17;
    padding: 0 10px;
}
.fsubtitle {
    margin: 0 10px;
    font-weight: bold;
}

.fbtn {
    background: #241b17;
    color: white;
    padding: .2rem 1rem;
}

.emailform {
    margin-bottom: 20px;
}

.footer .container .frow1 .col:nth-child(1), .footer .container .frow1 .col:nth-child(2) {
    margin: 10px 0px;
    background: url(img/separator-dark-vertical.png) repeat-y right;
}


.row2, .social {
    background: url(img/separator-dark.png) repeat-x top;
    padding-top: 10px;
}

.fnav {
    display: flex;
    justify-content: space-between;
}

.f-item {
    margin: 0 10px;
    list-style: none;
}

.f-item a, .copyright {
        color: #241b17;
    font-size: 0.5em;
}
