/*
淺綠：#dce8d1
深綠：#356618
深灰：#494949
淺灰：#88888e
棕色：#876442
*/

body {
    background-image: url(img/bg-body.jpg);
    background-color: white;
}

.container {
    background: #356618;
}

.logo {
    height: 100px;
    text-align: center;
    padding: 15px 0;
}

.logobg {
    background: white;
}

@media (min-width: 992px) {
    .navbar-brand {
        display: none;
    }
}

.nav {
    background-color: #494949;
}

.navbar-nav {
    /*    為了讓nav-item能夠平均分配而設定寬度？*/
    width: 100%;
    justify-content: space-around;
}
.navbar {
    padding: 0;
    background: #4b4b4b;
}

.nav-item {
   flex: 1 1 auto;
    text-align: center;
}

.navbar-inverse .navbar-nav .nav-link:focus,.navbar-inverse .navbar-nav .nav-link:hover {
    background: #95b285;
    color: #356618;
}
.nav-link {
    line-height: 2.5em;
}

.banner {
    /*    讓RWD的時候banner高度與寬度成比例縮放*/
    height: 0;
    padding-bottom: 40%;
    position: relative;
    background: #356618 url(img/banner.jpg) no-repeat;
    background-size: cover;
}

.banner_text {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.banner_text h3 {
    font-size: 2em;
    color: #dce8d1;
}

.item>img:nth-child(1) {
    display: block;
    float: left;
    width: 35%;
    margin: 20px;
    border: 1px white solid;
}

.itemtext {
    float: right;
    width: 50%;
    padding: 20px 0;
    color: white;
}

.item_title {
    color: #dce8d1;
    font-size: 1.3em;
}

.content {
    background: white;
    margin: 0 15px;
    padding: 20px;
}

.section_title {
    line-height: 50px;
    background: #dce8d1;
    color: #876442;
    font-size: 1.3em;
}

.garden {
    margin: 25px 0;
}

.garden_title {
    padding-top: 10px;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    color: #876442;
}

.imgcenter {
    display: block;
    margin: 0 auto;
}

.gardentext {
    padding:0 15px;
/*       text-align: justify;*/
}

.btmline {
    border-bottom:solid 1px #876442;
}

.article {
    padding: 30px 0;
}

.footer {
    background: #dce8d1;
    color: gray;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}



i {
    color: #356618;
    margin:5px 10px;
}


.copyright {
    text-align: center;
    color: whitesmoke;
}