h1,h2,h3,h4,p,ol,ul,li{
    margin: 0;
}

a{
    display: block;
}

a:hover{
    text-decoration: none;
}

.menu{
    background-color: #241B18;
    border-bottom: solid 1px #fff;
}

@media(min-width: 768px){
    .menu_area{
        padding: 1rem 0rem;
    }
}

.brand_logo{
    flex: 0 1 70%;
    margin: 0;
}

.brand_logo img{
    max-width: 100%;
}

.button{
    flex: 0 1 30%;
    text-align: right;
}

.button_toggler{
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    background-color: transparent;
    border: solid 1.5px #fcc746;
    border-radius: .25rem;
}

.button_icon{
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: url(../img/menu-lines.svg) no-repeat center center;
    background-size: 80% auto;
}

.menu_button:hover{
    background-color: #fcc746;
}

@media(min-width: 768px){
    .menu_button:hover{
        background-color: transparent;
    }
}

.button_item{
    color: #fff;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.button_item:hover{
    color: #241B18;
}

@media(min-width: 768px){
    .button_item:hover{
        color: #fcc746;
    }
}

.main_area{
    background-image: url(../img/bg-body.png);
}

.main_container{
    box-shadow:0 0 20px 5px rgba(0,0,0,1);
}

.banner{
    border: solid 1px #fff;
    border-top: 0;
}

.banner_image{
    height: 407px;
    background-image: url(../img/chair.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image_info{
    position: absolute;
    right: 5%;
    bottom: 5%;
    text-align: center;
}

.image_info a{
    width: 113px;
    height: 35px;
}

.image_price{
    font-size: 1.5rem;
    line-height: 1.2;
}

.view_button{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2rem;
    color: #af8112;
    background: url(../img/buttons.png) left 0px top 0px no-repeat;
}

.view_button:hover{
    background: url(../img/buttons.png) left -114px top 0px no-repeat;
}

.banner_info{
    height: 407px;
    background-image: url(../img/bg-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 10%;
}

.banner_info h2{
    font-family: 'Fjalla One', sans-serif;
    text-transform: capitalize;
    text-shadow: 2px 1px 1px #fff;
    text-align: center;
    margin-bottom: 1rem;
}

@media(min-width:768px){
    .banner_info h2{
        font-size: 3rem;
    }
}

.banner_info p{
    text-align: justify;
}

.item_content{
    border: none;
}

.item_brief{
    background: url(../img/separator-light.png) top repeat-x;
    background-size: 0.3rem 0.5rem;
    background-color: #4b3a33;
}

.middle_brief{
    background-color: #241B18;
}

.item_brief h3{
    font-size: 1.5rem;
    font-family:'Fjalla One', sans-serif;
    color: #fcc746;
    text-transform: capitalize;
}

.item_brief p{
    color: #fff;
    text-align: justify;
}

.blog_info{
    background-color: #fff;
    justify-content: center;
}


.contact_us{
    font-family:'Fjalla One', sans-serif;
    background: url(../img/separator-light.png) bottom repeat-x;
    background-size: 0.3rem 0.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

@media(min-width:992px){
    .contact_us{
        background: url(../img/separator-light-vertical.png) right repeat-y;
        background-size: 0.5rem ;
        text-align: left;
        padding: 1.5rem;
    }
}

.contact_us span{
    display: block;
    font-size: 1rem;
    color: #7e7d80;
    text-transform: uppercase;
}

.contact_us a{
    font-size: 1.8rem;
    color: #241B18;
}

.contact_us p{
    font-size: 1.8rem;
    color: #241B18;
}

.blog_title{
    font-size: 1.2rem;
    font-family:'Fjalla One', sans-serif;
    color: #7e7d80;
    text-transform: uppercase;
    text-align: center
}

@media(min-width: 768px){
    .blog_title{
        text-align: left;
    }
}

.blog_content{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

@media(min-width: 768px){
    .blog_content{
        margin-bottom: 0;
    }
}

.blog_brief{
    background-color: #dddad3;
}

.blog_brief:hover{
    background-color: #7e7d80;
}

.blog_brief time{
    font-size: 0.5rem;
    color: #241B18;
}

.blog_brief p{
    font-size: 1.2rem;
    font-family: 'Fjalla One', sans-serif;
    color: #241B18;
}

.blog_brief span{
    font-family: 'Fjalla One', sans-serif;
    color: #241B18;
}

.footer_area{
    background-color: #fcc746;
    border-top: solid 1px #fff;
    box-shadow: 0 0px 10px 5px rgba(0,0,0,0.5);
}

.showroom_content{
    background: url(../img/separator-dark.png) bottom repeat-x;
    background-size: 0.3rem 0.5rem;
    margin: 1rem 0;
}

@media(min-width:768px){
    .showroom_content{
        background: url(../img/separator-dark-vertical.png) right repeat-y;
        background-size: 0.5rem;
        margin: 0;
        padding: 0 1.5rem;
    }
}

.showroom span{
    display: block;
    font-size: 1.2rem;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

@media(min-width: 768px){
    .showroom span{
        text-align: left;
    }
}

@media(min-width: 768px){
    .showroom_info a{
        font-size: 0.8rem;
    }
}

@media(min-width: 992px){
    .showroom_info a{
        font-size: 1rem;
    }
}

.recent_blog_post_content{
    background: url(../img/separator-dark.png) bottom repeat-x;
    background-size: 0.3rem 0.5rem;
    margin: 1rem 0;
}

@media(min-width: 768px){
    .recent_blog_post_content{
        background: url(../img/separator-dark-vertical.png) right repeat-y;
        background-size: 0.5rem;
        margin: 0;
        padding: 0 1.5rem;
    }
}

.recent_blog_post_title{
    display: block;
    font-size: 1.2rem;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

@media(min-width:768px){
    .recent_blog_post_title{
        text-align: left;
    }
}

.blog_article{
    display: flex;
}

.post_data{
    width: 3rem;
    height: 3rem;
    background: url(../img/bg-time.png) top no-repeat;
    background-size: cover;
}

.post_data span{
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.post_content span{
    font-family: 'Fjalla One', sans-serif;
}

.post_content p{
    text-align: justify;
}

.join_us{
    background: url(../img/separator-dark.png) bottom repeat-x;
    background-size: 0.3rem 0.5rem;
    padding-bottom: 1.5rem;
}

.join_us span{
    display: block;
    font-size: 1.2rem;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

@media(min-width: 768px){
    .join_us span{
        text-align: left;
    }
}

.email_input_box{
    font-size: 0.8rem;
    text-transform: capitalize;
    border: solid 3px #af8112;
}

.email_input_button{
    width: 90px;
    height: 35px;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    border: none;
    background: url(../img/buttons.png) left -10px top -35px no-repeat;
}

.email_input_button:hover{
    background: url(../img/buttons.png) left -124px top -35px no-repeat;

}

.social_media{
    text-align: center;
    padding: 1rem 0;
}

.social_media span{
    display: block;
    font-size: 1.2rem;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.social_media_icon{
    display: flex;
    justify-content: center;
}

@media(min-width: 768px){
    .social_media_icon{
        justify-content: flex-start;
    }
}

.facebook{
    width: 40px;
    height: 40px;
    background: url(../img/icons.png) left 40px bottom -80px;
}

.facebook:hover{
    background: url(../img/icons.png) left 0px bottom -80px;
}

.google_plus{
    width: 40px;
    height: 40px;
    background: url(../img/icons.png) left 40px bottom -40px;
}

.google_plus:hover{
    background: url(../img/icons.png) left 0px bottom -40px;
}

.twitter{
    width: 40px;
    height: 40px;
    background: url(../img/icons.png) left 40px bottom 0px;
}

.twitter:hover{
    background: url(../img/icons.png) left 0px bottom 0px;
}

.copyright_area{
    font-family: 'Fjalla One', sans-serif;
    background: url(../img/separator-dark.png) top repeat-x;
    background-size: 0.3rem 0.5rem;
    padding: 1rem 0;
}

.copyright{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: #af8112;
    text-align: center;
}

@media(min-width: 425px){
    .copyright{
        flex-direction: row;
        justify-content: center;

    }
}

@media(min-width: 768px){
    .copyright{
        justify-content: flex-start;
    }
}

.page_link{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media(min-width: 425px){
    .page_link{
        flex-direction: row;
        justify-content: center;
    }
}

@media(min-width: 768px){
    .page_link{
        justify-content: flex-end;
    }
}

.page_link a{
    font-size: 1.2rem;
    color: #af8112;
    text-transform: capitalize;
    padding: 0 0.8rem;
}

.page_link a:hover{
    color: #241B18;
}