* {
  margin: 0;
  padding: 0;
}

button {
  border-style: none;
  text-transform: uppercase;
  cursor: pointer;
}

header {
  padding: 25px 0;
  background-color: #241b18;
  border-bottom: 1px solid #fff;
}

/*
.container-fluid {
  max-width: 970px;
}
*/
header ul {
  text-transform: uppercase;
}

.nav-link:hover {
  color: #ffc947 !important;
}

main {
  background-image: url(./img/bg-body.png);
}

.main_container{
  box-shadow:1rem 0 1rem -1rem black,-1rem 0 1rem -1rem black;
}

.topic_tag {
  right: 30px;
  bottom: 25px;
}

.topic_price {
  font-size: 1.5em;
}

#topic {
  border-color: #fff;
  border-width: 1px;
  border-style: none solid solid;
}

#topic img {
  display: block;
}

#topic button {
  background: url(./img/buttons.png);
  background-position: 0 0;
  font-size: 0.875rem;
  width: 110px;
  height: 35px;
  color: #966a01;
}

#topic_detail {
  background-image: url(./img/bg-pattern.jpg);
  background-size: cover;
  padding: 70px 55px;
}

#topic_detail h1 {
  text-shadow: 1px 1px #fff;
  text-transform: uppercase;
  margin-bottom: 24px;
}

#topic_detail p {
  text-align: justify;
}

.room_detail {
  background-color: #4b3a33;
  background-image: url(./img/separator-light.png);
  background-repeat: repeat-x;
  padding: 16px 20px;
}

.room_detail h4 {
  text-transform: uppercase;
  color: #ffc947;
}

.room_center {
  background-color: #241b18;
}

.contact_blog {
  background-color: #fff;
  box-shadow:inset 0 -1rem 1rem -1.15rem black; 
}

.contact {
  background-image: url(./img/separator-light-vertical.png);
  background-repeat: repeat-y;
  background-position: right top;
}

@media (max-width: 768px) {
  .contact {
    background-image: none;
  }
}

.contact_blog_text {
  color: #7b7b7b;
  text-transform: uppercase;
  font-weight: bold;
}

#contact div {
  font-weight: bold;
  font-size: 1.5em;
}

.blog_detail {
  background: #dddad3;
  color: #4b3a33;
}

.blog_detail p {
  font-weight: bold;
}

footer {
  background-color: #e2b241;
}

footer h5 {
  text-transform: uppercase;
}

.showroom,
.blog_posts {
  background-image: url(./img/separator-dark-vertical.png);
  background-repeat: repeat-y;
  background-position: right top;
}

@media (max-width: 768px) {

  .showroom,
  .blog_posts {
    background-image: none;
  }
}

.showroom_text,
.showroom_text a,
.post_lists {
  color: #4b3a33;
}

.post_lists_date {
  background-color: #4b3a33;
  border-radius: 5px;
  color: white;
  text-align: center;
  line-height: 1;
  padding: 10px;
}

@media (min-width: 768px) {
  #blog_posts_center {
    padding-left: 1rem;
  }
}

.footer_container,
.newsletter {
  background-image: url(./img/separator-dark.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

.newsletter input {
  color: #4b3a33;
  border: 3px solid #af8112;
  width: 100%;
  padding: 0 4px;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.newsletter button {
  color: #fff;
  background: url(./img/buttons.png);
  background-position: -12px -38px;
  width: 84px;
  height: 28px;
  font-size: 0.75rem;
}

.newsletter button:hover {
  background: url(./img/buttons.png);
  background-position: -126px -38px;
}

.social_media a {
  color: #4b3a33;
  font-size: 3rem;
}

.copyright_nav {
  color: #ab7d0f;
  text-transform: uppercase;
}

.copyright_nav ul {
  list-style: none;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .copyright_nav p {
    text-align: center;
  }

  .copyright_nav ul {
    justify-content: center;
  }
}

.copyright_nav a {
  color: #ab7d0f;
  text-decoration-line: none;
}

.copyright_nav a:hover {
  color: #4b3a33;
}