.template {
    max-width: 100%;
}
* {
    outline: red solid 1px;
}
/* css reset */
* {
    margin: 0;
    padding: 0;
}
/* header */

body {
    min-width: 320px;
}
.header_menu img {
    width: 100%;
}
.header_menu .navbar-collapse {
    flex-grow: 0;
}
header button {
    width: 100%;
}
@media (min-width: 576px) {
    header button {
        width: initial;
    }
}
.header_menu h1 {
    margin: 0 auto;
}
@media (min-width: 576px) {
    .header_menu h1 {
        margin: 0;
    }
}
.header_menu {
    text-align: center;
}
@media (min-width: 576px) {
    .header_menu {
        text-align: initial;
    }
}
header {
    background-color: rgb(32, 21, 18);
    padding: 30px 0px;
    border-bottom: 2px solid #fff;
}
header .wrap_menu {
    padding: 0;
}
.wrap_menu a {
    color: #fff;
    font-weight: 600;
}
.wrap_menu a:hover {
    color: rgb(32, 21, 18);
}
@media (min-width: 992px) {
    .wrap_menu a:hover {
        color: rgb(255, 201, 71);
    }
}

.wrap_menu button {
    background-color: rgb(255, 201, 71);
}
.header_menu li {
    text-align: center;
}
.header_menu li:hover {
    background-color: rgb(255, 201, 71);
}
@media (min-width: 992px) {
    .header_menu li:hover {
        background-color: initial;
    }
}
#present {
    font-size: 18px;
    color: #cd5c5c;
    text-shadow: 1px 2px rgb(143, 101, 3);
}
@media (min-width: 992px) {
    #present {
        font-size: 18px;
        color: rgb(255, 201, 71);
        text-shadow: 1px 2px rgb(143, 101, 3);
    }
}
.header_menu a {
    display: inline-block;
}
/* main */
main {
    background: url(images/bg-body.png);
}
/* chair*/
.chair {
    position: relative;
}
.container .chair_price {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
@media (min-width: 992px) {
    .container .chair_price {
        /* background-color: orange; */
        position: absolute;
        right: 40px;
        bottom: 40px;
    }
}
.chair img {
    width: 100%;
}
.view_detail {
    background: url(images/buttons.png) no-repeat 0 0;
    width: 109px;
    height: 34px;
}
.view_detail:hover {
    background: url(images/buttons.png) no-repeat -114px 0;
    width: 109px;
    height: 34px;
}
.chair_price p {
    margin: 0;
    color: rgb(81, 78, 76);
    text-align: center;
}
.view_detail p {
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(155, 109, 3);
}
.wrap_chair {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid#fff;
}
.chair_text h2 {
    font-size: 30px;
    color: rgb(32, 21, 18);
    font-family: sans-serif;
    text-shadow: 0px 1px #ffff;
    margin-bottom;: 30px
}
@media (min-width: 992px) {
    .chair_text h2 {
        text-align: center;
        font-size: 40px;
    }
}
.chair_text {
    background: url(images/bg-pattern.jpg);
    height: 100%;
    background-size: cover;
    padding: 60px  60px;
}
.chair_text p {
    font-family: sans-serif;
    word-spacing: 3px;
    line-height: 30px;
}
.wrap_img img {
    width: 100%;
}

/* product */
.product p{
    word-spacing: 3px;
}
.product_border {
    height: 5px;
    background: url(images/ds_border_bg_a.png);
}
.container .living-room {
    background-color: rgb(75, 55, 48);
    border-radius: 0;
    border: 0;
    color: #fff;
}
.container .bedroom {
    background-color: rgb(32, 21, 18);
    border-radius: 0;
    border: 0;
    color: #fff;
}
.container .kitchen {
    background-color: rgb(75, 55, 48);
    border-radius: 0;
    border: 0;
    color: #fff;
}
h3 {
    color: rgb(255, 201, 71);
}

/* information */
.information {
    flex-direction: column;
    background-color: #fff;
}
@media (min-width: 992px) {
    .information {
        flex-direction: row;
    }
}
.information h4 {
    font-size: 18px;
    color: rgb(124, 124, 124);
    font-weight: 900;
}
.information p {
    font-family: sans-serif;
    color: rgb(75, 55, 48);
}
.information .card {
    border-radius: 0;
}
.vertical_border {
    height: 10px;
    background: url(images/ds_border_bg_b.png);
}
@media (min-width: 992px) {
    .vertical_border {
        height: 100%;
        width: 10px;
    }
}
.contact {
    flex-direction: column;
}
@media (min-width: 992px) {
    .contact {
        flex-direction: row;
    }
}
.contact p {
    font-weight: 900;
    font-size: 24px;
}
.contact p:nth-child(2) {
    margin-bottom: 20px;
}

/* contact */
.container h4 {
    font-family: sans-serif;
}

@media (min-width: 992px) {
    .wrap_blog {
        background: url(images/ds_border_bg_b.png);
        background-repeat: repeat-y;
        background-size: 10px;
    }
}
.blog .card_date {
    font-family: fantasy;
}
.blog h4 {
    margin-bottom: 20px;
}
.blog p {
    color: rgb(77, 53, 32);
    font-weight: 600;
}
.blog a {
    color: rgb(77, 53, 32);
    font-weight: 600;
    text-decoration: none;
}
.blog a:hover {
    color: #808000;
    background: rgb(77, 53, 32);
}
.blog .card-body {
    height: 100%;
    background-color: rgb(221, 219, 212);
}
@media (min-width: 768px) {
    .wrap_img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.information .card {
    border: 3px solid rgb(241, 240, 235);
}
.blog .resort {
    margin-top: 20px;
}
@media (min-width: 768px) {
    .blog .resort {
        margin-top: 0px;
    }
}
/* footer */
footer {
    padding: 50px 0px;
    background: rgb(226, 179, 63);
    border-top: 2px solid #fff;
}
/* showroom */
.showroom .card a {
    color: #000;
    text-decoration: none;
}
.showroom .card a:hover {
    color: red;
}
footer .showroom {
    padding: 0 16px 0 0;
}
.showroom .card {
    background-color: rgb(226, 179, 63);
    border: 0;
}
.showroom .card-body {
    padding: 0;
}
.showroom {
    border-bottom: 3px dotted #000;
    margin-bottom: 10px;
}
@media (min-width: 992px) {
    .showroom {
        border-bottom: none;
        margin-bottom: 0;
    }
}
/* post */
.post {
    display: flex;
}
.post .post_title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.date {
    background-color: rgb(77, 53, 32);
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    width: 15%;
    height: 15%;
    margin-right: 3%;
}
.post_text {
    width: 75%;
}
@media (min-width: 992px) {
    footer .post_border {
        background: url(images/ds_border_bg_c.png) repeat-y;
        background-size: 5px;
        padding: 0px 16px;
    }
}
.date p {
    margin: 0;
}
input[type='email'] {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid rgb(75, 66, 58);
}

/* social */

@media (min-width: 992px) {
    footer .wrap_social {
        padding: 0px 16px;
        background: url(images/ds_border_bg_c.png) repeat-y;
        background-size: 5px;
        padding: 0px 16px;
        border-bottom: none;
    }
}
.socail_media {
    background: url(images/ds_border_bg_d.png) repeat-x;
    background-size: 5px;
    padding: 16px 0px;
}
.social .sign_up {
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 27px;
    color: #fff;
    font-weight: 600;
    border: 0;
    background: url(images/buttons.png);
    background-position: -13px -39px;
    width: 83px;
    height: 26px;
}
.social .sign_up:hover {
    color: rgb(241, 229, 62);
    font-weight: 900;
    background: url(images/buttons.png);
    background-position: -127px -39px;
    width: 83px;
    height: 26px;
}
footer h5 {
    color: rgb(77, 53, 32);
    margin-bottom: 25px;
}
.icon {
    display: flex;
}
.icon a {
    color: rgb(77, 53, 32);
}
.icon a + a {
    margin-left: 16px;
}

.facebook {
    background: url('images/icons.png') no-repeat -46px -112px;
    width: 33px;
    height: 33px;
}
.google {
    background: url('images/icons.png') no-repeat no-repeat -46px -153px;
    width: 34px;
    height: 33px;
}
.twitter {
    background: url('images/icons.png') no-repeat -46px -194px;
    width: 40px;
    height: 33px;
}
/* footer_inner */
.footer_inner {
    padding: 20px;
    color: rgb(182, 135, 17);
    background: url('images/ds_border_bg_d.png');
    background-repeat: repeat-x;
    background-size: 5px;
    text-align: center;
}

.footer_inner a {
    color: rgb(77, 53, 32);
    text-decoration: none;
    color: rgb(182, 135, 17);
    font-weight: 600;
}
@media (min-width: 992px) {
    .footer_inner a + a {
        margin-left: 20px;
    }
}

@media (min-width: 992px) {
    .footer_inner {
        display: flex;
        justify-content: space-between;
    }
}
nav {
    display: flex;
    flex-direction: column;
}
@media (min-width: 576px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
/* nav a {
    flex-shrink: 1;
} */
footer nav a:hover {
    color: red;
    font-weight: 600;
    text-shadow: 1px 1px pink;
    transition-delay: 0.3s;
}
