
#banner{
	border:#ffffff 1px solid; 
}

#banner-left{
	background: url(#{$img-path}/banner-left.jpg);
	background-repeat: no-repeat;
	height : 310px;
	@include background-size(cover);
 	position: relative;
 
 	#price{
 		color :#000000;
 		position: absolute;
 		bottom: 0;
 		right: 25px;
 		padding-top: 70px;

 		h6{
 			margin-bottom: 0px;
 		}
 		p{
 			font-style: normal;	
 			font-size: 24px;
 		}
 	}
 }

 #banner-right{
	background: url(#{$img-path}/banner-bg.jpg);
	@include background-size(cover);

	h2{
		text-shadow: 1px 1px #fff;
		padding-top: 40px;
	}
	p{
		padding : 20px 40px;
		line-height: 24px;
		margin-bottom: 15px;
	}
}