#footer{
	background-color :  $footer-bg-color;

	h5 {
		font-weight: bold;
	}
	
	h6{
		line-height: 16px;
		padding-bottom: 10px;
	}
}

#footer-top{
	background: url(#{$img-path}/separator-dark.png) repeat-x left bottom;
}

#footer-leftimg{
	background: url(#{$img-path}/show-room.png);
	background-repeat: no-repeat;
	height : 150px;
}


#footer-blog-1, #footer-blog-2, #footer-blog-3{
	@extend .footer-blog;
}


#footer-left, #footer-middle, #footer-right{
	padding: 15px 20px 0;
}


.footer-blog-date {
  width: 42px;
  height: 45px;
  background: $footer-icon-bgcolor;
  padding: 5px;
  font-weight: bold;
  @include border-radius(5px, 5px);
}


#footer-right-top{
	height : 150px;
    background: url(#{$img-path}/separator-dark.png) repeat-x left bottom;

    #sign{
		height: 25px;
		background-color : $footer-icon-bgcolor;
		margin-top: 15px;
	}
}

#footer-right-bottom{
	height : 150px;
	a {
		padding-left : 5px;
		height: 36px;
		width: 36px;
		margin-right: 25px;
		display: inline-block;
	}
}

#footer-bottom{
	color: $footer-bottom-color;
	font-size: 12px;
	text-transform: uppercase;
	font-weight : bold;
	margin-bottom : 5px;

	div{
		margin-top : 5px;
	}

	#copyright{
		padding-left : 0px;
	}
	
	#footer-nav{
	    text-align: right;
	    padding-right : 0px;
	    a{
	    	text-decoration: none;
			@include link-colors($footer-bottom-color, $footer-bottom-hover-color, $footer-bottom-color, $footer-bottom-color, $footer-bottom-hover-color); 
			//$normal, $hover, $active, $visited, $focus
	 	}
	}
}