#header{
	background-color : $header-bg-color;
	padding-bottom : 20px;
}

#logo{
	background: url(#{$img-path}/logo.png);
	background-repeat: no-repeat;
	@include background-size(contain);
	height : 60px;
	margin-top : 25px;
}

#nav-header{
	margin-top : 45px;
	li{
		padding-right: 15px;
		a{
			font-weight: bold;
			text-decoration: none;
			@include link-colors($headr-nav-color, $headr-nav-hover-color, $headr-nav-color, $headr-nav-color, $headr-nav-hover-color); 
			//$normal, $hover, $active, $visited, $focus
		}
	}
}