header {
  background-color: #1b1512;
  height: 120px;
  border-bottom: 1px solid white;
}
section {
  background: url("../img/bg-body.png");
}
footer {
  background-color: #daa433;
}
h1 {
  color: #241b18;
  font-size: 34px;
  margin:60px 0 10px;
  text-align: center;
  text-shadow: 1px 1px white;
}
h1 + p {
  padding:10px 20px;
  text-align: justify;
}
h2 {
  color: #ffc947;
  font-size: 18px;
  margin:15px 0 10px 0;
}
h2 + p {
  color:white;
}
h3 {
  color: #7b7b7b;
  font-size: 14px;
}
h3 + p {
  color: #241b18;
  font-size: 22px;
}
h5 {
  margin:0 0 5px 5px;
  font-size: 14px;
}
h5 + p {
  margin-left: 5px;
  font-size: 12px;
}
