.bg-time {
  background-image: url("../img/bg-time.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  padding-left: 5px;
}
.bg-dark-vertical {
  background-image: url("../img/separator-dark-vertical.png");
  background-position:right top;
  background-repeat: repeat-y;
  margin-top: 20px;
}
.bg-dark {
  background-image: url("../img/separator-dark.png");
  background-position:top;
  background-repeat: repeat-x;
  padding-top: 15px;
}
footer h4 + img {
  width: 100%;
}
form h4 {
  margin-top: 30px;
}
.inputborder {
  border:2px solid #9e6e10;
  border-radius: 0px;
}
.btn-bg {
  background:url("../img/buttons.png") no-repeat 0 -35px;
  width: 114px;
  height:38px;
  text-decoration: none;
  color:white;
}
.btn-bg:hover {
  background:url("../img/buttons.png") no-repeat -114px -35px;
  width: 114px;
  height:38px;
  text-decoration: none;
  color:white;
}
footer a {
  color:#9a6a0f;
}
footer a:hover {
  color:black;
  text-decoration: none;
}
.facebook {
  display: inline-block;
  background:url("../img/icons.png") no-repeat -43px -114px ;
  width: 36px;
  height:34px;
}
.google {
  display: inline-block;
  background:url("../img/icons.png") no-repeat -43px -156px ;
  width: 36px;
  height:34px;
}
.twitter {
  display: inline-block;
  background:url("../img/icons.png") no-repeat -48px -194px ;
  width: 36px;
  height:34px;
}
