.bg-chair {
  background: url("../img/chair.jpg");
  height:407px;
  background-size: cover;
}
.position-bottom {
  position: absolute;
  bottom:20px;
  right: 20px;
  line-height: 20px;
}
.position-bottom a {
  background:url("../img/buttons.png") no-repeat;
  padding:10px;
  color:#835703;
}
.position-bottom a:hover {
  background:url("../img/buttons.png") no-repeat -114px 0;
  padding:10px;
  text-decoration: none;
}
.bg-pattern {
  background: url("../img/bg-pattern.jpg");
  background-size: cover;
  height:407px;
}
.white-border-left {
  border-left:1px solid white;
  border-bottom: 1px solid white;
}
.white-border-right {
  border-right:1px solid white;
  border-bottom: 1px solid white;
}
.bg-livingroom {
  background: url("../img/living-room.jpg");
  height:179px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-bedroom {
  background: url("../img/bedroom.jpg");
  height:179px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-kitchen {
  background: url("../img/kitchen.jpg");
  height:179px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-brown1 {
  background-color: #3a2c27;
  height:150px;
}
.bg-brown2 {
  background-color: #1b1512;
  height:150px;
}
.bg-brown3 {
  background-color: #d6d3ca;
  height:152px;
  padding:20px 10px;
}
.bg-white {
  background-color: white;
  height:220px;
}
.no-padding {
  padding:0;
  max-width: 132px;
  min-height:152px;
}
.margin-bottom0 {
  margin-bottom: 0;
}
.bg-light {
  background-image: url("../img/separator-light.png");
  background-position:left top;
  background-repeat: repeat-x;
}
.bg-light-vertical {
  background-image: url("../img/separator-light-vertical.png");
  background-position:right top;
  background-repeat: repeat-y;
}
.bg-brown3 > span {
  font-size: 10px;
  color:#3a2c27;
}
.bg-brown3 > p {
  margin-top: 10px;
  font-weight: bold;
  color:#3a2c27;
}
.bg-brown3 a {
  color:#3a2c27;
}
