.clear{
  clear: both;
}
.content{
  width: 100%;
  height: 1000px;
  background-image: url("images/mainbg.png");
}
.line{
  background-image: url("../images/mainbg.png");
  height: 1000px;
}
.content1{
  height: 1000px;
}
.content{
  height: 1000px;

}
.content-top-right{
    background-image: url("../images/bg-pattern.jpg");
    background-size: auto;
    height: 100%;
  background-size: 498px 600px;
}
.content-top-left{
  background-image: url("../images/chair.jpg");
  background-size: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 498px 600px;

}
.content-top{
  height: 407px;
    position: relative;
}
.A1-row-guild{
  position: absolute;
  left:324px;
  bottom: 59px;
}
.col-md-2{
  width: 11.667%;
}
.col-md-8{
  width: 75.667%;
}
button{
  display: inline-block;
}
.content-center-left , .content-center-center , .content-center-right{
  padding: 0px;

}
.content-center-left img , .content-center-center img , .content-center-right img{
  width: 328px;
}
.right-left{
  background-color: #4b3a33;
}
.content-center{
  border: 0px;
  border-top: 5px orange;
  border-style: dashed;

}
.center-color{
  background-color: #241b18;
}
.right-left h4 , .center-color h4{
  margin-top:0px;
}
.sidebar{
  background-color: #dddad3;
  display: inline-block;
  height: 150px;
  width: 133px;
}
.
