.footer {
  background-color: #e2b241;
  height: auto;
  margin-top: 2px; }
  .footer .footer-contrainer {
    width: 980px;
    margin: 0 auto; }
    .footer .footer-contrainer .footer-top .footer-top-left {
      border-right: 4px dotted #c39525; }
      .footer .footer-contrainer .footer-top .footer-top-left img {
        margin-bottom: 14px; }
    .footer .footer-contrainer .footer-top .footer-top-center {
      border-right: 4px dotted #c39525; }
      .footer .footer-contrainer .footer-top .footer-top-center .APG-16 .icon {
        display: inline-block;
        background-size: cover;
        background-image: url("../images/bg.jpg"); }
      .footer .footer-contrainer .footer-top .footer-top-center .APG-16 .icon-centent {
        display: inline-block;
        width: 250px; }
        .footer .footer-contrainer .footer-top .footer-top-center .APG-16 .icon-centent h3 {
          margin: 0px; }
        .footer .footer-contrainer .footer-top .footer-top-center .APG-16 .icon-centent p {
          margin: 0; }
      .footer .footer-contrainer .footer-top .footer-top-center .APG-15 .icon {
        display: inline-block;
        background-size: cover;
        background-image: url("../images/bg.jpg"); }
      .footer .footer-contrainer .footer-top .footer-top-center .APG-15 .icon-centent {
        display: inline-block;
        width: 250px; }
        .footer .footer-contrainer .footer-top .footer-top-center .APG-15 .icon-centent h3 {
          margin: 0px; }
        .footer .footer-contrainer .footer-top .footer-top-center .APG-15 .icon-centent p {
          margin: 0px; }
      .footer .footer-contrainer .footer-top .footer-top-center .APG-14 .icon {
        display: inline-block;
        background-size: cover;
        background-image: url("../images/bg.jpg"); }
      .footer .footer-contrainer .footer-top .footer-top-center .APG-14 .icon-centent {
        display: inline-block;
        width: 250px; }
        .footer .footer-contrainer .footer-top .footer-top-center .APG-14 .icon-centent h3 {
          margin: 0px; }
        .footer .footer-contrainer .footer-top .footer-top-center .APG-14 .icon-centent p {
          margin: 0px; }
    .footer .footer-contrainer .footer-top .footer-top-right .m1 ul li {
      display: inline-block; }
    .footer .footer-contrainer .footer-top .footer-top-right .join {
      border-bottom: 4px dotted #c39525; }
      .footer .footer-contrainer .footer-top .footer-top-right .join form input {
        width: 100%; }
      .footer .footer-contrainer .footer-top .footer-top-right .join form button {
        display: inline-block; }
    .footer .footer-contrainer .footer-bottom {
      border-top: 4px dotted #c39525; }
      .footer .footer-contrainer .footer-bottom .copy {
        display: inline-block; }
      .footer .footer-contrainer .footer-bottom .home {
        display: inline-block;
        margin-left: 390px; }
        .footer .footer-contrainer .footer-bottom .home ul li {
          display: inline-block; }

/*# sourceMappingURL=footer.css.map */
