.guild{
  background-color: rgb(89%, 70%, 25%);
  height: 400px;
}
.footer{
  margin: 0px auto;
}
.time{
  background-color: #3f2a1c;
  display: inline-block;
  color: white;
}
.b-main{
  display: inline-block;
  width: 370px;
}
.footer-style1{
  border-right: 5px solid green;
}
.right{
  border-bottom: 5px solid green;
}
.footer-bottom{
  border-top: 5px solid green;
  text-align: center;
}
.footer-bottom p{
  text-align: center;
}
