body{
  margin: 0px;

}
.header{
  background-color: #241b18;
  padding:  0px;
}
.header .header-content{
  width: 980px;
  margin: 0 auto;
}
.header .header-content .logo{
  display: inline-block;

}
.header .header-content  .logo h1{
  margin: 0px;
  color: #fac545;
}
.header .header-content .logo h4{
  color: #f4f4f4;
  margin: 0px;
}
.header .header-content .nav-bar{
  display: inline-block;
  padding-left: 310px;

}
.header .header-content .nav-bar li{
  display: inline-block;
  list-style: none;
}
.header .header-content .nav-bar a{
  text-decoration: none;
  color: #ffffff;
}
