 @import "compass/css3/";
 @import "lib/global";
 @import "lib/mixin";
 @import "lib/extend";
 @import "common/footer";
 @import "common/header";
 @import "common/banner";
 @import "page/index/main";
 @import "compass/utilities/sprites";
 @import "icons/*.png";
 @include all-icons-sprites;

.box{
 	width: $box-width;  //percent
 }

#content{
	background: url(#{$img-path}/bg.png);
 	background-repeat: repeat;
 	border:#ffffff 1px solid;
}