footer {
 background-color: rgb(218,164,51);
}

.footerph {
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
}


.footerph2 ul {
  margin:0 50px 0 300px;
  width: 400px;
}


.footerph2 li {
  margin:0 20px 0 20px;
}



.footerph2 li a:link {
  color:rgb(155,108,0);
  text-decoration: none;
  font-size: 12px;
}

.footerph2 li a:visited {
  color:rgb(155,108,0);
  text-decoration: none;
  font-size: 12px;
}

.formemail {
  /*width: 700px;*/
}

.bg-dark-vertical {
  background-image: url("../images/separator-dark-vertical.png");
  background-position:right top;
  background-repeat: repeat-y;
  margin-top: 20px;
}

.bg-dark {
  background-image: url("../images/separator-dark.png");
  background-position:top;
  background-repeat: repeat-x;
  padding-top: 15px;
}

.signup {
  background:url("../images/buttons.png") no-repeat 0 -35px;
  width: 114px;
  height:38px;
  text-decoration: none;
  color:white;
}

.footerph2 li a:hover {
  color: black;
    text-decoration: none;
    font-size: 12px;
}

.footerph2  {
  /*float: right !important;*/
  display: inline-block;
  margin-left: 200px;
}

.middlefooter img {
  display: block;
  float: left;
  box-shadow: 5px 5px 5px #888888;
}

.middlefooter2 {
  display: block;
  /*float: right;*/
  padding-left: 50px;
}

.middlefooter2 h5 {
  display: inline-block;
}

.middlefooter2 p {
  display: inline-block;
}
