header {
  background-color: rgb(27,21,18);
  padding:20px;
  border-bottom: solid 1px #ffffff;

}

.headerlogo img {
  /*background-image: url(../images/logo.png);*/
   width: 380px;
   height: 60px;
}

header li {
margin: 20px;
color:white;
}

header a:link {
  color:white;
  text-decoration: none;
  font-size: 16px;
}

header a:visited {
  color:white;
  text-decoration: none;
  font-size: 16px;
}

header a:hover {
  color: rgb(244,188,54);
    text-decoration: none;
    font-size: 16px;
}



.headerlogo {
  display:inline-block;
}

.header img {
  width:200px;
}

.headerbutton {
  display: inline-block;
  float: right;
}
