section {
  background-image: url(../images/mainbg.png);
}

.bg-light {
  background-image: url("../images/separator-light.png");
  background-position:top;
  background-repeat: repeat-x;
  padding-top: 15px;
}

.bg-light-vertical {
  background-image: url("../images/separator-light-vertical.png");
  background-position:right top;
  background-repeat: repeat-y;
  margin-top: 20px;
line-height: 40px;
}


.miancontent {
  /*display: inline-block;*/
  width: 80%;
  margin: auto;

}

.topcontent1 {
  display: block;
  /*padding: 0;*/
/*background-image: url(../images/mainImage.png);*/
/*background-size: cover;*/
}
.topcontent1 img {
 width:100%;
 height: 99%;
   box-shadow: 1px 1px 5px #888888;
}

.mainsection img {
  width:100%;
  height: 100%;
}

.mainsection  h3 {
  margin:0;
}

.mainsection  p {
  margin:0;
}

.topcontent {
    border-bottom: solid 1px #ffffff;
}

.topcontent2 {
  background-color: rgb(192,185,165);
display: block;
height: 444px;
    border:0;
      line-height: 30px;
}

.middlesection {
  background-color: rgb(58,44,39);
  color: rgb(255,255,255);
  /*margin: 0;*/
  /*padding: 0:*/
  line-height: 20px;
  font-family: "Oswald";
}

.blogsection {
  margin-bottom:20px;
}

.blogsection1 {
  background-color: rgb(213,210,201);
  padding-right: 10px;
}

.middlesection2 {
  background-color: rgb(27,21,18);
  color: rgb(255,255,255);
    /*margin: 0;*/
    /*padding: 0:*/
      line-height: 20px;
      font-family: "Oswald";
}

.downcontent {
  background-color: rgb(255,255,255);
}

.downcontent p {
    margin:0;
}

.downcontent h2 {
    margin:0;
}
