*{
  font-family: 'Oswald', sans-serif;
}

header{
  background: #29211E;
}
.header_border{
  border-bottom: 1px solid white;  
}
header .nav_text{
  color:white ;
}
header .menu_color{
  color:#fec946;
}
main{
  background: url("./img/bg-body.png") ;
}
.banner .bg_img_chair{
  background:url("./img/chair.jpg");
  height: 407px;
  background-size: cover;
}
.banner .banner_img_patter{
  background:url("./img/bg-pattern.jpg");
  height: 407px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_list_background{
  background: url("./img/separator-light.png") repeat-x #4B3A33;
  background-size: 5px;
}
.banner_list_background h3,.banner_list_center h3{
  color: #fec946;
}
.banner_list_background p,.banner_list_center p{
  color: white;
}
.banner_list_center {
  background: url("./img/separator-light.png") repeat-x #241B18;
  background-size: 5px;
}
.banner .bg_img_chair{
  position: relative;
}
.banner .bg_img_chair_sale{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}
.banner .bg_img_chair_sale h4{
  font-size:0.5rem;
}
.banner .bg_img_chair_sale span{
  font-size:1.5rem;
}
.article_background{
  background-color: white;
}
.article_media{
  background: url("./img/separator-dark.png") repeat-x bottom;
}
.article_media h4,.article_blog h4{
  color: #7b7b7b;
  font-size: 1rem;
}
.article_media p{
  font-size: 1.5rem;
  font-weight: bold;
}
.article_blog_text{
  background:#dedad3;
}
.article_blog_text p{
  margin-bottom: 3rem;
}
.article_blog_text p,.article_blog_text span{
  font-weight:bold;
}
.footer_background{
  border-top: 2px solid white;
  background: #e2b241;
}
footer .media_background{
  background: url("./img/separator-dark-vertical.png") repeat-x bottom;
  background-size: 12px;
}
footer .showroom,footer .posts{
  background: url(./img/separator-dark-vertical.png) repeat-x bottom ;
  background-size: 10px;
}
footer .date_area{
  background: #46301f;
  text-align:center;
  border-radius: 15%;
  color: white;
}
footer h5{
  font-size: 1rem;
}
footer p{
  font-size: 0.5rem;
}
footer .newsletter img{
  width: 100px;
}
footer .form{
  background: url("./img/separator-dark-vertical.png") repeat-x bottom;
  background-size: 12px;
}
footer .form_btn{
  width: 85px;
  height: 25px;
  background:url("./img/signup.png");
  border: 0;
}
footer .social{
  text-align: center;
}

footer .social img{
  width: 35px;
  margin: 0 15px;
}


footer .copyright span,footer .nav_color a{
  color:#ab7d0f;
}
footer h4{
  font-size: 1.2rem;
}

@media (min-width: 768px) { 
  .article_media{
    background: url("./img/separator-light-vertical.png") repeat-y right;
    background-size: 10px; 
  }
  footer .showroom,footer .posts{
  background: url(./img/separator-dark-vertical.png) repeat-y right;
  background-size: 10px;
}
footer .social {
  text-align: left;
}
footer .social img{
  width: 35px;
  margin: 0 15px 0 0;
}
}

@media (min-width: 992px) { 
  .article_blog_text{
    font-size: 0.5rem;
  }
  /* footer .social1 {
    text-align: left;
  }
  footer .social1 img{
    width: 35px;
    margin: 0 25px 0 0;
  } */
}