.header, .content, .footer {
	padding-left: 12.5%;
	padding-right: 12.5%;
	position: relative;
}

.header, .footer {
	z-index: 2;
}

.content {
	z-index: 1;
}

.shadow-box {
	box-shadow: 0px 0px 15px 17px #000;
}

.footer-shadow-box {
	box-shadow: 0px 2px 20px 0px #000;
}

/* bg-colors */
/* Dark Brown */
.bg-c-1 {
	background-color: #251b17;
}

/* Light Brown */
.bg-c-2 {
	background-color: #4c3b33;
}

/* White */
.bg-c-3 {
	background-color: #FFF;
}

/* Gray */
.bg-c-4 {
	background-color: #dddad3;
}

/* Yellow */
.bg-c-5 {
	background-color: #edb241;
}

/* text-colors */
/* Yellow */
.tx-c-1 {
	color: #ffc947;
}

/* White */
.tx-c-2 {
	color: #FFF;
}

/* Brown */
.tx-c-3 {
	color: #966a03;
}

/* Gray */
.tx-c-4 {
	color: #7c7c7c;
}

/* Dark Brown */
.tx-c-5 {
	color: #463120;
}

/* font-sizes */
.tx-30 {
	font-size: 3vw;
}

.tx-20 {
	font-size: 2vw;
}

.tx-15 {
	font-size: 1.5vw;
}

.tx-12 {
	font-size: 1.2vw;
}

.tx-10 {
	font-size: 1vw;
}

.tx-8 {
	font-size: 0.8vw;
}

/* Font set 1 */
.nav-style a, .r1-l-tag a, .r1-r p:first-child, .r2-l-t p:first-child, .r2-c-t p:first-child, .r2-r-t p:first-child, .r3, .ftr-l p:first-child, .ftr-c p:first-child, .ftr-r p:first-child, .submit, .ftr-b {
	font-family: Arial Narrow, Arial Black;
	font-weight: bold;
}

/* image processing */
.img-fill {
	width: 100%;
}

.img-container {
	padding: 0;
}

/* slash border */
.slash-border {
	background-image: url("../images/separator-light.png");
	background-repeat: repeat-x;
	background-position: top;
}

.slash-border-v {
	background-image: url("../images/separator-light-vertical.png");
	background-repeat: repeat-y;
	background-position: right;
}

.slash-border-d {
	background-image: url("../images/separator-dark.png");
	background-repeat: repeat-x;
	background-position: top;
}

.slash-border-dv {
	background-image: url("../images/separator-dark-vertical.png");
	background-repeat: repeat-y;
	background-position: right;
}

.nav-style {
	height: 100%;
	align-items: center;
}

.header {
	border-bottom: 1px solid #FFF;
}

.content {
	background-image: url("../images/bg-body.png");
	background-size: 100%; /* only x scales */
	background-repeat: repeat-y;
}

.r1 {
	border: 1px solid #FFF;
	border-top: none;
}

.r1-l {
	position: relative;
}

.r1-l-tag {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 1rem;
}

.r1-l-tag p {
	margin-bottom: 0rem;
}

.r1-l-tag-button {
	display: block;
	background-image: url("../images/buttons.png");
	width: 109px;
	height: 35px;
	text-align: center;
	line-height: 2rem;
}

.r1-l-tag-button:hover {
	color: #966a03; /* tx-c-3 */
	text-decoration: none;
	background-position: -113px 0px;
}

.r1-r {
	padding: 5%;
	background-image: url("../images/bg-pattern.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.r1-r p:first-child {
	text-align: center;
	text-shadow: 2px 2px #FFF;
}

.r3-margin {
	margin-left: 1rem;
	margin-right: 1rem;
}

.r3-l p {
	margin-bottom: 0rem;
}

.r3-r-blogtext {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.ftr-l {
	padding-right: 15px;
}

.ftr-l-link {
	color: #966a03;
	text-decoration: underline;
}

.ftr-l-link:hover {
	color: #000;
}

.ftr-c-h, .ftr-r-h {
	padding-left: 15px;
	padding-right: 15px;
}

 .ftr-c .row {
 	padding-left: 30px;
	padding-right: 30px;	
 }

.bg-date {
	background: url("../images/bg-time.png");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 0;
}

.bg-date p {
	margin-bottom: 0rem;
	text-align: center;
}

.ftr-r #email {
	width: 100%;
	border: 3px solid #ae8111;
}

.email, .submit {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#submit {
	width: 84px;
	height: 30px;
	background: url("../images/buttons.png");
	background-position: -13px -37px;
	background-repeat: no-repeat;
	text-align: center;
	border: none;
}

#submit:hover {
	background-position: -127px -37px;	
}

.fb, .google {
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 36px;
	height: 36px;
	background: url("../images/icons.png");
	background-repeat: none;
}

.fb {
	background-position: -46px -112px;
}

.fb:hover {
	background-position: 0px -112px;
}

.google {
	background-position: -46px -153px;	
}

.google:hover {
	background-position: 0px -153px;	
}

.twitter {
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 40px;
	height: 33px;
	background: url("../images/icons.png");
	background-repeat: none;
	background-position: -46px -194px;		
}

.twitter:hover {
	background-position: 0px -194px;		
}

.ftr-b {
	overflow: hidden;
}

.ftr-links, .ftr-b-cpy {
	display: inline-block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.ftr-links a, .ftr-b-cpy {
	color: #966a03;
}

.ftr-links a {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}