.clear-padding-both {
    padding-left: 0;
    padding-right: 0;
}

body{
	background: url(bg-body.png) repeat;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.header,
.content,
.footer {
    width: 100%;
}

.header .row,
.content .row,
.footer .row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #241b18;
    padding: 3% 0 3% 0;
    border-bottom: solid 1px #ffffff;
}

.menu ul.nav>li>a{
	color: #ffffff;
	font-size: 14pt;
}
.menu ul.nav>li>a:focus, .menu ul.nav>li>a:hover{
	color: #ffc947;
	background-color: #241b18;
}

.menu ul.nav>li>a.active{
	color: #ffc947;
}

.chair-row{
	/*background: url(bg-pattern.jpg) repeat;	*/
	overflow: hidden;
}

.chair{
	/*width: 100%;*/
}

.first-holder {
	background-color: #CBC5B5;	
	/*height: 100%;*/

	margin-bottom: -500%;
  	padding-bottom: 500%;
}


.first-holder h3{
	font-size: 40px;
	line-height: 1.5em;
}
.first-holder p{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.show {
	background-color: #4b3a33;
}
.show-text-cell{
	background: url(separator-light.png) repeat-x left top;
	padding-top: 20px;
}
.show img{
	width: 100%;
}
.show h4{
	color: #ffc947;

	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
.show p{
	color: #ffffff;

	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.contact{
	background-color: #ffffff;
	overflow: hidden;

	/*padding-top: 3%;*/
	padding-bottom: 3%;
}

.phone, .blog{
	padding-top: 2%;
}

.phone{
	background: url(separator-light.png) repeat-y right top;
	padding-left: 2%;

	margin-bottom: -500%;
  	padding-bottom: 500%;
}

.contact h6{
	color: #7b7b7b;
}

.blog{
	padding-left: 2%;
}

.read-more-area{
	overflow: hidden;
} 

.read-more{
	background-color: #DDDAD3;
	padding-top: 5%;
	/*padding-bottom: 5%;*/

	margin-bottom: -500%;
  	padding-bottom: 500%;
}

.contact img{
	padding-left: 0;
}


.footer {
    background-color: #E1B14C;
    /*padding: 3% 0 3% 0;*/
    border-top: solid 1px #ffffff;
}

.footer-top{
	padding-top: 2%;
}

.footer-top p{
	font-size: 9pt;
}

.footer-top .mail{
	font-size: 9pt;
	color: #000000;
	text-decoration: underline;
}

.cal{
	background-color: #452F1F;
	color: #ffffff;
}

.footer-top-block:nth-child(1), .footer-top-block:nth-child(2) {
	background: url(separator-dark-vertical.png) repeat-y right top;
}

.footer-top-block:nth-child(3), .footer-top-block:nth-child(2) {
	padding-left: 2%;
}

.apr h6{
	margin-top: 0;
	font-weight: bold;
}

.apr{
	margin-bottom: 3%;
}

#subscribe{
	border: solid 3px #af8112;
	font-size: 9pt;
	line-height: 24px;
	width: 269px;
}

/*ref: http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css*/
::-webkit-input-placeholder /* WebKit, Blink, Edge */{ 
    color:    #000000;
}

/*ref: http://stackoverflow.com/questions/12821746/clear-html5-placeholder-attribute-text-on-focus-in-chrome*/
input:focus::-webkit-input-placeholder {
    color: transparent;
}

.sign-up{
	background: url(buttons.png) no-repeat;
	background-position: -13px -39px;
	width: 83px;
	height: 26px;

	color: #ffffff;
	border: 0;
	/*font: 14px/24px "Oswald";*/

}

.newsletter{
	padding-bottom: 8%;
	background: url(separator-dark.png) repeat-x left bottom;
}


.social-media li{
	display: inline-block;
}

.social-media a{
	background: url(icons.png) no-repeat;
	height: 33px;
	width: 33px;
	display: inline-block;
}

a.fb{
	background-position: -46px -112px;
	margin: 0 10px
}

a.google{
	background-position: -46px -153px;
	margin: 0 10px
}

a.twitter{
	background-position: -46px -194px;
	margin: 0 10px
}

.copyright-zone{
	background: url(separator-dark.png) repeat-x left top;
	padding-top: 20px;
	color: #ab7d0f;
	font-size: 11px;
}

.copyright-zone .nav li{
	display: inline-block;
}

.copyright-zone .nav a{
	padding: 0 0;
	color: #ab7d0f;
}

.copyright-zone .nav a:hover{
	color: #241b18;
	background-color: initial;
}

/*.copyright p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}*/
