
.footer{
  background-color: #e2b241;
  height: auto;
  margin-top: 2px;
  .footer-contrainer{
    width: 980px;
    margin: 0 auto;
    .footer-top{
      .footer-top-left{
        border-right: 4px dotted #c39525;

        img{
          margin-bottom:14px;
        }
      }
      .footer-top-center{
          border-right: 4px dotted #c39525;
        .APG-16{
          .icon{
            display: inline-block;
            background-size: cover;
            background-image: url("../images/bg.jpg")
          }
          .icon-centent{
            display: inline-block;
            width: 250px;
            h3{
              margin: 0px;
            }
            p{
              margin: 0
            }
          }
        }
        .APG-15{
          .icon{
            display: inline-block;
            background-size: cover;
            background-image: url("../images/bg.jpg")
          }
          .icon-centent{
            display: inline-block;
            width: 250px;
            h3{
              margin: 0px;
            }
            p{
              margin: 0px;
            }
          }
        }
        .APG-14{
          .icon{
            display: inline-block;
            background-size: cover;
            background-image: url("../images/bg.jpg")
          }
          .icon-centent{
            display: inline-block;
            width: 250px;
            h3{
              margin: 0px;
            }
            p{
              margin: 0px
            }
          }
        }
      }
      .footer-top-right{
        .m1{
          ul{
            li{
              display: inline-block;
            }
          }
        }
        .join{
            border-bottom: 4px dotted #c39525;
            form{
              input{
                  width: 100%;
              }
              button{
                display: inline-block;

              }
            }
        }


      }
    }
    .footer-bottom{
      border-top: 4px dotted #c39525;
      .copy{
        display: inline-block;
      }
      .home{
        display: inline-block;
        margin-left: 390px;
        ul{
          li{
            display: inline-block;
          }
        }
      }

    }

  }
}
