* {
     /* outline: 1px solid red; */
}

body {
    min-width: 375px;
}

:root {
    --bs-primary: 246, 203, 96; 
    --bs-secondary: 255, 255, 255;
    --bs-tertiary: 123, 123, 123;
    --bs-dark-rgb: 35,27,24;
    --bs-light-rgb: 226, 178, 65;
    --bs-gray: 221, 218, 211;
}

