footer {
    padding: 1.5rem 1rem;
    border-top: 0.1rem solid white;
}

@media (min-width: 768px) {
    footer {
        padding: 1.5rem 5%;
    }
}
@media (min-width: 992px) {
    footer {
    padding: 1.5rem 10%;
    
    }
}

.footer_information .col-12 + .col-12 {
    margin-top: 1.25rem;
}

@media (min-width: 576px) {
    .footer_information .col-12 + .col-12 {
        margin-top: 0;
    }
}

.footer_information h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media (min-width: 576px) {
    .footer_information h3 {
        margin-bottom: 1rem;
    }
}

.footer_information ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(72, 59, 52);
}

.footer_information ul li + li {
    margin-top: 0.5rem;
}

@media (min-width: 576px){
    .footer_information .col-12 {
        position: relative;
    }
    .footer_information .col-12 + .col-12::before {
        content: " ";
        position: absolute;
        top: 0%;
        left: -3%;
        background-image: url("../img/separator-dark-vertical.png");
        background-repeat: repeat-y;
        background-position: center;
        background-size: 0.6rem;
        width: 6%;
        height: 100%;
    }
}

.footer_information .image_box {
    display: block;
}

.footer_information ul a {
    color: rgba(var(--bs-black));
}

.footer_information .phone_number {
    text-decoration: none;
}

.footer_information .E_mail {
    word-wrap: break-word;
}
.footer_information ul a:hover {
    text-decoration: underline;
}
.footer_information ul img:hover {
    transform: scale(0.98);
}

.footer_information p {
    margin-bottom: 0;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* info_items */
.footer_information .info_item {
    display: flex;
}
.info_item .image_box {
    flex: 1 1 10%;
}
.info_item .image_box span {
    display: inline-block;
    background-image: url("../img/bg-time.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0.3rem 1rem;
    line-height: 1.5;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.info_item .text_box {
    padding: 0 0 0 1rem;
    flex: 1 1 90%
}
.info_item h4 {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}

/* email_subscribe and social_media */
.footer_information .email_subscribe {
    margin-bottom: 1rem;
}
@media (min-width: 576px) {
    .footer_information .email_subscribe {
        margin-bottom: 1rem;
    }
    .footer_information .email_subscribe::after {
        content: " ";
        background-image: url("../img/separator-dark.png");
        background-size: 0.4rem;
        margin: 1.5rem 0;
        display: block;
        height: 0.5rem;
    }
}

.email_subscribe .form-control {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    border: 3px solid rgb(158, 111, 16);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.form-control:focus {
    box-shadow: none;
}

@media (min-width: 576px) {
    .email_subscribe .form-control {
        display: block;
        width: 100%;
    }
}

.email_subscribe .form-control::placeholder {
    color: rgb(72, 59, 52);
}

.email_subscribe .btn {
    background-image: url("../img/buttons.png");
    background-position: bottom 4px left -11px;
    background-repeat: no-repeat;
    background-size: 250% 200%;
    padding: 0.4rem 1.5rem;
    vertical-align: middle;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.email_subscribe .btn:hover {
    background-position: bottom 4px right -10px;
}

.social_media .icons {
    display: inline-block;
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    background-size: 200%;
    width: 2.5rem;
    height: 2.5rem;
}
.social_media .icons + .icons {
    margin-left: 1rem;
}

.social_media .facebook {
    background-position: bottom -72px right -3px;
}
.social_media .facebook:hover {
    background-position: bottom -72px left 6px;
}

.social_media .google {
    background-position: bottom -34px right -2px;
}
.social_media .google:hover {
    background-position: bottom -34px left 5px;
}

.social_media .twitter {
    background-position: bottom 3px right 1px;
}
.social_media .twitter:hover {
    background-position: bottom 3px left 2px;
}

.footer_information::after {
    content: " ";
    background-image: url("../img/separator-dark.png");
    background-size: 0.4rem;
    margin: 1rem 1.5rem;
    width: 100%;
    height: 0.5rem;
}

/* footer_copyright */
.footer_copyright p {
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    color:rgb(154,107,15);
    font-family: 'Oswald', sans-serif;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
}

.footer_nav a {
    padding: 0.5rem;
    flex: 1 1 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color:rgb(154,107,15);
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 768px) {
    .footer_copyright {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .footer_copyright p {
        margin-bottom: 0;
    }
    .footer_nav a {
        padding: 0;
        flex: 1 1 auto;
    }
    .footer_nav a + a {
        margin-left: 1rem;
    }
}