footer {
    padding: 1rem;
    border-top: 0.1rem solid white;
}
@media (min-width: 768px) {
    footer {
        padding: 1.5rem 5%;
    }
}
@media (min-width: 992px) {
    footer {
    padding: 1.5rem 10%;
    }
}

.footer_row .col-12 + .col-12 {
    margin-top: 1.5rem;
}

@media (min-width: 576px) {
    .footer_row .col-12 + .col-12 {
        margin-top: 0;
    }
}

.footer_row h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media (min-width: 576px) {
    .footer_row h3 {
        margin-bottom: 1rem;
    }
}

.footer_row .list_item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    color: rgb(72, 59, 52);
}

.footer_row .list_item li + li {
    margin-top: 1rem;
}


/* vist_our */

@media (min-width: 576px){
    .footer_row .footer_col {
        position: relative;
    }
    .footer_row .footer_col + .footer_col::before {
        content: " ";
        position: absolute;
        top: 0%;
        left: -3%;
        background-image: url("../img/separator-dark-vertical.png");
        background-repeat: repeat-y;
        background-position: center;
        background-size: 0.6rem;
        width: 5%;
        height: 100%;
    }
}


.footer_row .vist_our .image_box {
    display: inline-block;
    width: 100%;
}

.footer_row .vist_our .list_item a {
    color: rgba(var(--bs-black));
}

.footer_row .vist_our .phone_number {
    text-decoration: none;
}

.footer_row .vist_our .E_mail {
    word-wrap: break-word;
}
.footer_row .list_item a:hover {
    text-decoration: underline;
}
.footer_row .list_item img:hover {
    transform: scale(0.98);
}

.footer_row .list_item h4 {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.footer_row .list_item p {
    margin-bottom: 0;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.blog_posts .list_item li {
    display: flex;
    align-items: flex-start;
}

.blog_posts .image_box {
    flex: 1 1 10%;
}


.blog_posts .image_box span {
    display: inline-block;
    background-image: url("../img/bg-time.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0.3rem 1rem;
    line-height: 1.5;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.blog_posts .text_box {
    padding: 0 0 0 1rem;
    flex: 1 1 90%
}
.blog_posts .text_box h4 {
    font-family: 'Oswald', sans-serif;
}

.footer_col .col_item + .col_item {
    margin-top: 1rem;
}
@media (min-width: 576px) {
    .footer_col .col_item + .col_item {
        margin-top: 0;
    }
    .footer_row .social_media::before {
        content: "";
        background-image: url("../img/separator-dark.png");
        background-size: 0.4rem;
        margin: 1.5rem 0;
        display: block;
        height: 0.5rem;
    }
}

.email_subscribe .form-control {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    border: 3px solid rgb(158, 111, 16);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (min-width: 576px) {
    .email_subscribe .form-control {
        display: block;
        width: 100%;
    }
}

.email_subscribe .form-control::placeholder {
    color: rgb(72, 59, 52);
}

.email_subscribe .btn {
    background-image: url("../img/buttons.png");
    background-position: bottom 4px left -11px;
    background-repeat: no-repeat;
    background-size: 250% 200%;
    padding: 0.4rem 1.5rem;
    vertical-align: middle;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

}

.email_subscribe .btn:hover {
    background-position: bottom 4px right -10px;
}

.social_media .icons {
    display: inline-block;
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    width: 2.5rem;
    padding-top: 2.5rem;
}

.social_media .icons + .icons {
    margin-left: 1rem;
}
.social_media .facebook {
    background-position: bottom -78px right -4px;
}
.social_media .facebook:hover {
    background-position: bottom -78px left 4px;
}

.social_media .google {
    background-position: bottom -37px right -3px;
}
.social_media .google:hover {
    background-position: bottom -37px left 3px;
}

.social_media .twitter {
    background-position: bottom 3px right;
}
.social_media .twitter:hover {
    background-position: bottom 3px left;
}

.footer_row::after {
    content: "";
    background-image: url("../img/separator-dark.png");
    background-size: 0.4rem;
    margin: 1rem 1.5rem;
    width: 100%;
    height: 0.5rem;
}

/* footer_copyright */
footer {
    box-shadow: 0px -13px 20px -20px #000000;
}

.footer_copyright p {
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    color:rgb(154,107,15);
    font-family: 'Oswald', sans-serif;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
}

.footer_nav a {
    padding: 0.5rem;
    flex: 1 1 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color:rgb(154,107,15);
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 768px) {
    .footer_copyright {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .footer_copyright p {
        margin-bottom: 0;
    }
    .footer_nav a {
        padding: 0;
        flex: 1 1 auto;
    }
    .footer_nav a + a {
        margin-left: 1rem;
    }
}