main {
    background-image: url("../img/bg-body.png");
    background-position: center;
    background-size: contain;
}
@media (min-width: 576px) {
    main {
        padding: 0 1rem;
    }
}

@media (min-width: 768px){
    main{
        padding: 0 5%;
    }
}
@media (min-width: 992px) {
    main {
    padding: 0 10%;
    }
}

/* banner_container */
.banner_container {
    align-items: center;
    background-image: url("../img/bg-pattern.jpg");
    background-size: cover;
    border: 0.1rem solid white;
    border-top: none;
}

.banner_container .image_item {
    position: relative;
}
@media (min-width: 576px) {
    .banner_container .image_item {
        box-shadow: 7px 0px 11px -11px #000000;
    }    
}

.image_item .button_box {
    position: absolute;
    right: 5%;
    bottom: 5%;
    text-align: center;
}

.image_item .button_box h4 , 
.image_item .button_box p {
    margin: 0;
    text-transform: capitalize;
}

.image_item .button_box h4 {
    font-family: 'Open Sans', sans-serif;
}

.image_item .button_box .into_button {
    padding: 0.5rem 0;
    display: block;
    background-image: url("../img/buttons.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 205% auto;
    color: rgb(143, 108, 35);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.image_item .button_box .into_button:hover {
    background-position: top left;
}

.banner_container .text_item h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-shadow: 1px 1px white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
@media (min-width: 992px) {
    .banner_container .text_item h2 {
    -webkit-line-clamp: 2;
    }
}

.banner_container .text_item p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
@media (min-width: 576px) {
    .banner_container .text_item p {
        -webkit-line-clamp: 4;
    }
}
@media (min-width: 768px) {
    .banner_container .text_item p {
        -webkit-line-clamp: 5;
    }
}
@media (min-width: 1200px) {
    .banner_container .text_item p {
        -webkit-line-clamp: 6;
    }
}

/* featured_container */
.featured_container .col-12 + .col-12 {
    margin-top: 1rem;
}
@media (min-width: 576px) {
    .featured_container .col-12 + .col-12 {
        margin-top: 0;
    }
}

.featured_container > div:nth-child(odd) {
    background-color: rgb(75, 58, 51);

}
.featured_container > div:nth-child(even) {
    background-color:rgba(var(--bs-dark-rgb));
}

.featured_container .image_box {
    display: block;
}


@media (min-width: 576px) {
    .featured_container .image_box::after {
    content: " ";
    background-image: url("../img/separator-light.png");
    background-size: 0.4rem;
    display: block;
    height: 0.5rem;
    }
}

.featured_container h3 {
    margin-bottom: 0.75rem;
    color: rgba(var(--bs-primary));
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.featured_container .text_box p {
    margin: 0;
    color: rgba(var(--bs-secondary));
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* info_container */
.info_container {
    box-shadow: inset 0px -8px 12px -12px black;
}
@media (min-width: 576px) { 
    .info_container {
        position: relative;
    }
    .info_container::after {
        content: " ";
        position: absolute;
        top: 3%;
        left: 31%;
        background-image: url("../img/separator-light-vertical.png");
        background-repeat: repeat-y;
        background-position: center;
        background-size: 0.6rem;
        width: 3%;
        height: 90%;
    }
}

.info_container h3 {
    color: rgba(var(--bs-tertiary));
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info_container a ,
.info_container p {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.info_container a {
    text-decoration: none;
    color: rgba(var(--bs-black));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info_container p {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* blog_container */
.blog_container .col-12 + .col-12 {
    margin-top: 1rem;
}
@media (min-width: 576px) {
    .blog_container .col-12 + .col-12 {
        margin-top: 0;
    }
}

.blog_container .blog_item {
    background-color: rgba(var(--bs-gray));
    display: flex;
}

.blog_container .text_box {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog_container .text_box h4 {
    margin: 0;
    text-transform: capitalize;  
}

.blog_container .text_box p {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: rgb(72, 59, 52);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.blog_container .text_box a {
    font-family: 'Oswald', sans-serif;
    color: rgb(72, 59, 52);    
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blog_container .text_box a:hover {
    text-decoration: underline;
}

.blog_container .image_box {
    flex: 0 1 50%;
}

.blog_container .image_box img {
    object-fit: cover;
}