.main-block, #main-left, #main-middle, #main-right {
  padding-right: 0px;
  padding-left: 0px;
}
.main-block .top-img, #main-left .top-img, #main-middle .top-img, #main-right .top-img {
  height: 170px;
}
.main-block .bottom-text, #main-left .bottom-text, #main-middle .bottom-text, #main-right .bottom-text {
  background: url(../img/separator-light.png) repeat-x;
  padding: 35px 20px 0;
  line-height: 20px;
  color: #ffffff;
}
.main-block .bottom-text h4, #main-left .bottom-text h4, #main-middle .bottom-text h4, #main-right .bottom-text h4 {
  margin-top: -10px;
  color: #FFC947;
}

.blog-block .blog-text, .blog-left .blog-text, .blog-right .blog-text {
  background-color: #DDDAD3;
}
.blog-block .blog-text .blog-date, .blog-left .blog-text .blog-date, .blog-right .blog-text .blog-date {
  font-size: 8px;
  margin-top: 12px;
}
.blog-block .blog-text h5, .blog-left .blog-text h5, .blog-right .blog-text h5 {
  padding-top: 5px;
  font-weight: bold;
}
.blog-block .blog-text .blog-link, .blog-left .blog-text .blog-link, .blog-right .blog-text .blog-link {
  padding-top: 25px;
  margin-bottom: 26px;
}
.blog-block .blog-text a, .blog-left .blog-text a, .blog-right .blog-text a {
  text-decoration: none;
  color: #333333;
}
.blog-block .blog-text a:visited, .blog-left .blog-text a:visited, .blog-right .blog-text a:visited {
  color: #333333;
}
.blog-block .blog-text a:focus, .blog-left .blog-text a:focus, .blog-right .blog-text a:focus {
  color: #A66C33;
}
.blog-block .blog-text a:hover, .blog-left .blog-text a:hover, .blog-right .blog-text a:hover {
  color: #A66C33;
}
.blog-block .blog-text a:active, .blog-left .blog-text a:active, .blog-right .blog-text a:active {
  color: #333333;
}
.blog-block .blog-img, .blog-left .blog-img, .blog-right .blog-img {
  height: 150px;
}

.footer-blog, #footer-blog-1, #footer-blog-2, #footer-blog-3 {
  padding-bottom: 15px;
}
.footer-blog span, #footer-blog-1 span, #footer-blog-2 span, #footer-blog-3 span {
  text-align: center;
  color: #ffffff;
  float: left;
}
.footer-blog h6, #footer-blog-1 h6, #footer-blog-2 h6, #footer-blog-3 h6 {
  padding-left: 50px;
}
.footer-blog p, #footer-blog-1 p, #footer-blog-2 p, #footer-blog-3 p {
  padding-left: 50px;
}
.footer-blog a, #footer-blog-1 a, #footer-blog-2 a, #footer-blog-3 a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  text-decoration: none;
  color: #4B3A33;
}
.footer-blog a:visited, #footer-blog-1 a:visited, #footer-blog-2 a:visited, #footer-blog-3 a:visited {
  color: #4B3A33;
}
.footer-blog a:focus, #footer-blog-1 a:focus, #footer-blog-2 a:focus, #footer-blog-3 a:focus {
  color: #000000;
}
.footer-blog a:hover, #footer-blog-1 a:hover, #footer-blog-2 a:hover, #footer-blog-3 a:hover {
  color: #000000;
}
.footer-blog a:active, #footer-blog-1 a:active, #footer-blog-2 a:active, #footer-blog-3 a:active {
  color: #4B3A33;
}

.sep-ver {
  background: url(../img/separator-dark-vertical.png) repeat-y left top;
}

#footer {
  background-color: #E2B241;
}
#footer h5 {
  font-weight: bold;
}
#footer h6 {
  line-height: 16px;
  padding-bottom: 10px;
}

#footer-top {
  background: url(../img/separator-dark.png) repeat-x left bottom;
}

#footer-leftimg {
  background: url(../img/show-room.png);
  background-repeat: no-repeat;
  height: 150px;
}

#footer-left, #footer-middle, #footer-right {
  padding: 15px 20px 0;
}

.footer-blog-date {
  width: 42px;
  height: 45px;
  background: #000000;
  padding: 5px;
  font-weight: bold;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
}

#footer-right-top {
  height: 150px;
  background: url(../img/separator-dark.png) repeat-x left bottom;
}
#footer-right-top #sign {
  height: 25px;
  background-color: #000000;
  margin-top: 15px;
}

#footer-right-bottom {
  height: 150px;
}
#footer-right-bottom a {
  padding-left: 5px;
  height: 36px;
  width: 36px;
  margin-right: 25px;
  display: inline-block;
}

#footer-bottom {
  color: #AB7D0F;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
#footer-bottom div {
  margin-top: 5px;
}
#footer-bottom #copyright {
  padding-left: 0px;
}
#footer-bottom #footer-nav {
  text-align: right;
  padding-right: 0px;
}
#footer-bottom #footer-nav a {
  text-decoration: none;
  color: #AB7D0F;
}
#footer-bottom #footer-nav a:visited {
  color: #AB7D0F;
}
#footer-bottom #footer-nav a:focus {
  color: #483220;
}
#footer-bottom #footer-nav a:hover {
  color: #483220;
}
#footer-bottom #footer-nav a:active {
  color: #AB7D0F;
}

#header {
  background-color: #241B18;
  padding-bottom: 20px;
}

#logo {
  background: url(../img/logo.png);
  background-repeat: no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  height: 60px;
  margin-top: 25px;
}

#nav-header {
  margin-top: 45px;
}
#nav-header li {
  padding-right: 15px;
}
#nav-header li a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
#nav-header li a:visited {
  color: #ffffff;
}
#nav-header li a:focus {
  color: #FFC947;
}
#nav-header li a:hover {
  color: #FFC947;
}
#nav-header li a:active {
  color: #ffffff;
}

#banner {
  border: #ffffff 1px solid;
}

#banner-left {
  background: url(../img/banner-left.jpg);
  background-repeat: no-repeat;
  height: 310px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
#banner-left #price {
  color: #000000;
  position: absolute;
  bottom: 0;
  right: 25px;
  padding-top: 70px;
}
#banner-left #price h6 {
  margin-bottom: 0px;
}
#banner-left #price p {
  font-style: normal;
  font-size: 24px;
}

#banner-right {
  background: url(../img/banner-bg.jpg);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#banner-right h2 {
  text-shadow: 1px 1px #fff;
  padding-top: 40px;
}
#banner-right p {
  padding: 20px 40px;
  line-height: 24px;
  margin-bottom: 15px;
}

#main {
  height: auto;
  margin-top: 1px;
}

#main-left {
  background-color: #4B3A33;
}
#main-left .top-img {
  background: url(../img/main-left.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#main-middle {
  background-color: #241B18;
}
#main-middle .top-img {
  background: url(../img/main-middle.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#main-right {
  background-color: #4B3A33;
}
#main-right .top-img {
  background: url(../img/main-right.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#contact {
  background-color: #ffffff;
  box-shadow: 0px -10px 5px -5px #CCC8C9 inset;
}

#contact-left {
  background: url(../img/separator-light-vertical.png) repeat-y right top;
  padding: 20px;
}
#contact-left h5 {
  font-size: 12px;
  font-weight: bold;
  color: #7b7b7b;
}
#contact-left h3 {
  font-weight: bold;
}

#contact-right {
  padding: 20px;
}
#contact-right .blog-title {
  font-weight: bold;
  padding-left: 16px;
  color: #7b7b7b;
}

.blog-left .blog-img {
  background: url(../img/blog-left.png);
  background-repeat: no-repeat;
}

.blog-right .blog-img {
  background: url(../img/blog-right.png);
  background-repeat: no-repeat;
}

.icons-sprite, .icons-facebook, .icons-google, .icons-twitter {
  background-image: url('../img/icons-s21077780d2.png');
  background-repeat: no-repeat;
}

.icons-facebook {
  background-position: 0 0;
}

.icons-google {
  background-position: 0 -36px;
}

.icons-twitter {
  background-position: 0 -72px;
}

.box {
  width: 60%;
}

#content {
  background: url(../img/bg.png);
  background-repeat: repeat;
  border: #ffffff 1px solid;
}
