/* * {
  outline: 1px solid rgb(75, 102, 22);
} */

body {
  min-width: 320px;
}

@media screen and (min-width:992px) {
  .layout_ratio {
    width: 80%;
  }
}

/* Header */
header {
  border-bottom: 2px solid #fff;
  background-color: #240f04;
}

header .navbar.navbar-dark > div {
  justify-content: center;
}

@media screen and (min-width: 576px){
  .header .navbar > div {
    justify-content: space-between;
  }
}

/* Brand Name */
header h1 {
  margin-bottom: 0;
}

.logo a {
  display: inline-block;
}

.logo img {
  max-width: 100%;
}


/* Navbar Menu*/
.navbar_menu {
  justify-content: flex-end;
}

.navbar_menu.navbar-collapse .navbar-nav li {
  text-align: center;
}

.navbar_menu.navbar-collapse .navbar-nav a {
  color: #fff;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.navbar_menu.navbar-collapse .navbar-nav a:hover {
  color: #FFD306;
}

.navbar_menu li:first-child a:visited {
  color: #FFD306;
}

.logo + button {
  background-color: #5e2608;
}

.navbar_icon {
  display: inline-block;
  width: 1.5rem;
  line-height: 1.5rem;

  color: #fff;
  vertical-align: middle;

}

/* Main */
main {
  background-image: url(./images/bg-body.png);
}


/* Product */
.chair_advertisement {
  position: relative;
}

@media screen and (min-width: 992px) {
  .chair_advertisement {
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .product_description {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.chair_advertisement img {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1200px) {
  .chair_advertisement img {
    width: 100%;
  }
}

.chair_info {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .chair_info {
    right: 20px;
    bottom: 20px;
  }
}

.chair_info p {
  margin: 0;
}

.chair_name {
  font-size: 0.8rem;
}

.chair_price {
  font-size: 1.5rem;
}

.chair_info a {
  display: inline-block;

  background: url('./images/buttons.png') no-repeat 0 0;
	width: 109px;
	height: 34px;

  color:rgb(146, 91, 65);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  text-transform: uppercase;
  text-decoration: none;
}

.chair_info a:hover {
  background: url('./images/buttons.png') no-repeat -114px 0;
  color: rgb(87, 49, 31);
}

.product_description {
  padding: 2rem;

  background-image: url(./images/bg-pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

@media screen and (min-width: 768px) {
.product_description {
  padding: 1rem;
  }
}


.product_description h3 {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px #fff;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 2rem 2rem 1rem;
}

@media screen and (min-width: 992px) {
  .product_description {
    padding: 3rem 3rem 1rem;
    }
  
  .product_description h3 {
    font-size: 2.5rem;
  }
}

.product_description p {
  margin-top: 20px;
  margin-bottom: 0;
}

/* Gallery */
.display div:nth-child(4) .room_gallery div {
  background-color: #240f04;
}

.room_gallery {
  border: 0;
  border-radius: 0;
  min-height: 100%;
}

.room_gallery div {
  background: url(./images/ds_border_bg_a.png) repeat-x;
  background-size: 3px;
  background-color: rgb(77, 54, 44);
}

.room_gallery img {
  border-radius: 0;
}

.room_gallery h2 {
  color: #FFD306;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.room_gallery p {
  color: #fff;
  font-size: 0.8rem;
}



/* Request & Blog*/
.request {
  order: 2;
}

@media screen and (min-width: 992px) {
  .request {
    order: 0;
  }
}

.request_and_post {
  background-color: #fff;
}

.request_and_post > div {
  padding: 0 20px;
  margin: 20px 0;

}

.order_info {
  background-color: #fff;
}

@media screen and (min-width:768px){
  .order_info {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width:992px){
  .order_info {
    display: block;
  }
}

.order_info p:nth-child(odd) {
  margin: 0;
  color: #666;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.order_info a {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.order_info p:last-child {
  color: #000;
  font-size: 1.5rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (min-width:992px) {
  .order_info p:last-child {
    text-align-last: justify;
  }

  .request {
    background: url(./images/ds_border_bg_b.png) repeat-y 100%;
    background-size: 5px 5px;
  }
}     


.post h4 {
  color: #666;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.post_item img {
  max-width: 100%;
}

.post_item h2 {
  font-size: 1rem;
  margin-bottom: 25px;
}

@media screen and (min-width:992px){
  .post_item h2 {
    font-size: 0.8rem;
  }
}

.post_item > div {
  border: 0;
} 

.post_item .row > div:first-child {
  background-color:	#e9e1d5;
}

.release_date {
  font-size: 0.5rem;
}

.post_item a {
  display: inline-block;
  padding: 2px 3px;

  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #240f04;
}

.post_item a:hover {
  background-color: #e4b44e;
}


/* Footer */
footer {
  background-color: #e4b44e;
  color: #240f04;
}

footer .row > div:first-child ~ div {
  background: url(./images/ds_border_bg_d.png) repeat-x;
  background-size: 5px 5px;
} 


@media screen and (min-width: 992px) {
  footer {
    padding-top: 20px;
  }
}

footer h4 {
  margin-top: 20px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 992px) {
  footer h4 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
  }
}


/* Showroom Visit Info */
.showroom_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .showroom_info {
    font-size: 0.5rem;
  }
}

.showroom_info img {
  max-width: 100%;
  margin-bottom: 15px;
}

.showroom_info a {
  color: #240f04;
}

.showroom_info a:not(a:last-child) {
  text-decoration: none;
  color: #240f04;
  }


/* Recent Posts*/  
.post_list_item {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .recent_posts {
    padding: 0 8px;
  }

  .post_list {
    display: flex;
    justify-content: space-between;
  }

  .post_list_item {
    width: 30%;
  }

  .post_info {
    margin-left: 10px;
  }
}


.date span {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(77, 54, 44);
  width: 38px;
  border-radius: 3px;
  
}

.post_info {
  width: 80%;
}

.post_info h3 {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .post_info h3 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}

.post_info p {
  font-size: 0.5rem;
  font-weight: 300;
}


/* Follow Channels */
.subscribe {
  text-align: center;
}

.subscribe input:not(.submit_button) {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .subscribe input:not(.submit_button) {
    border: 2px solid rgb(172, 144, 132);
  }

  .contact {
    display: flex;
    justify-content: space-between;
  }

  .contact .subscribe {
    width: 50%;
  }

  .contact .social_media {
    margin-top: 0;
    width: 40%;
  }

  .subscribe form {
    display: flex;
  }

  .subscribe button {
    margin-left: 10px;
  }

  .subscribe h4 {
    text-align: left;
  }
}

::placeholder {
  color: #240f04;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.subscribe button {
  margin-top: 5px;

  background: url('./images/buttons.png') no-repeat -13px -39px;
	width: 83px;
	height: 26px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}

.social_media {
  margin-top: 16px;
  text-align: center;
}

.social_media a + a {
  margin-left: 8px;
}

.facebook {
  display: inline-block;
  background: url('./images/icons.png') no-repeat -46px -112px;
	width: 33px;
	height: 33px;
}

.google {
  display: inline-block;
  background: url('./images/icons.png') no-repeat -46px -153px;
	width: 34px;
	height: 33px;
}

.twitter {
  display: inline-block;
  background: url('./images/icons.png') no-repeat -46px -194px;
	width: 40px;
	height: 33px;
}

.copyright {
  text-transform: uppercase;
  font-size: 0.5rem;
}


/* Footer Bottom */
.copyright p {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .copyright {
    line-height: 3;
  }
}

.footer_bottom {
  display: flex;
  flex-direction:column-reverse;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.footer_navbar a {
  display: inline-block;
  text-decoration: none;
  color:rgb(77, 54, 44);
  font-size: 0.5rem;
  line-height: 3;
  text-transform: uppercase;
}

.footer_navbar a + a {
  margin-left: 10px;
}

@media screen and (min-width: 992px) {
  footer .row > div:nth-child(2) {
    background: url(./images/ds_border_bg_c.png) repeat-y;
    background-size: 5px 5px;
  }

  .showroom_info {
    align-items: flex-start;
  }

  .post_list {
    display: block;
  }

  .post_list_item {
    width:fit-content;
  }

  .contact {
    display: block;
    padding-left: 10px;
  }

  .contact .subscribe {
    width: 100%;
    margin-bottom: 20px;
  }

  .subscribe form {
    display: block;
  }

  .subscribe {
    text-align: left;
  }

  .footer h4 {
    text-align: left;
  }

  .contact .social_media {
    width: 100%;
    padding-top: 20px;
    background: url(./images/ds_border_bg_d.png) repeat-x;
    background-size: 5px 5px;
    text-align: left;
  }

  .footer_bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}


@media screen and (min-width: 992px) {
  footer .row > div:not(div:last-child) {
    margin-bottom: 10px;
  }

  footer .layout_ratio .row > div:nth-child(2) {
    background: url(./images/ds_border_bg_c.png) repeat-y;
    background-size: 5px 5px;
  }

  footer .layout_ratio .row > div:nth-child(3) {
    background: url(./images/ds_border_bg_c.png) repeat-y;
    background-size: 5px 5px;
  }

  footer h4 {
    margin-top: 0;
  }

  footer .layout_ratio .row > div:nth-child(4) {
    background: url(./images/ds_border_bg_d.png) repeat-x;
    background-size: 5px 5px;
  }
  
}


